.st0{fill:none;stroke:$yellow;stroke-width:0.5;stroke-miterlimit:10;}
.st1{fill:$dark-yellow;}
.st2{font-family:'MontserratAlternates-Regular';}
.st3{font-size:12px;}
.st4{opacity:0.41;}
.st5{opacity:0.1091;fill:$white;}
.st6{fill:none;}

.pop {
  display: none;
}

#strange {
  @include animation (balloon1, 6s);
}

#happy {
  @include animation (balloon2, 6s);
}

#sad {
  @include animation (balloon3, 6s);
}

#boring {
  @include animation (balloon7, 7s);
}

#kind {
  @include animation (balloon6, 8s);
}

#fun {
  @include animation (balloon6, 6s);
}

#angry {
  @include animation (balloon4, 6s);
}

/*BALLOON 1*/
@-webkit-keyframes balloon1 {
  0%,100%{ -webkit-transform:translateY(0) rotate(-0.5deg);}
  50%{ -webkit-transform:translateY(-5px) rotate(3deg); }
}
@-moz-keyframes balloon1 {
  0%,100%{ -moz-transform:translateY(0) rotate(-0.5deg);}
  50%{ -moz-transform:translateY(-5px) rotate(3deg); }
}
@-o-keyframes balloon1 {
  0%,100%{ -o-transform:translateY(0) rotate(-0.5deg);}
  50%{ -o-transform:translateY(-5px) rotate(3deg); }
}
@keyframes balloon1 {
  0%,100%{ transform:translateY(0) rotate(0.5deg);}
  50%{ transform:translateY(-5px) rotate(3deg); }
}

/* BAllOON 2*/
@-webkit-keyframes balloon2 {
  0%,100%{ -webkit-transform:translateY(-2px) rotate(2deg);}
  50%{ -webkit-transform:translateY(-9px) rotate(-1deg); }
}
@-moz-keyframes balloon2 {
  0%,100%{ -moz-transform:translateY(-2px) rotate(2deg);}
  50%{ -moz-transform:translateY(-9px) rotate(-1deg); }
}
@-o-keyframes balloon2 {
  0%,100%{ -o-transform:translateY(-2px) rotate(2deg);}
  50%{ -o-transform:translateY(-9px) rotate(-1deg); }
}
@keyframes balloon2 {
  0%,100%{ transform:translateY(-2px) rotate(2deg);}
  50%{ transform:translateY(-9px) rotate(-1deg); }
}

/* BAllOON 3*/
@-webkit-keyframes balloon3 {
  0%,100%{ -webkit-transform:translate(0, -10px) rotate(0);}
  50%{ -webkit-transform:translate(-20px, 30px) rotate(-8deg); }
}
@-moz-keyframes balloon3 {
 0%,100%{ -moz-transform:translate(0, -10px) rotate(0);}
  50%{ -moz-transform:translate(-20px, 30px) rotate(-8deg); }
}
@-o-keyframes balloon3 {
 0%,100%{ -o-transform:translate(0, -10px) rotate(0);}
  50%{ -o-transform:translate(-20px, 30px) rotate(-8deg); }
}
@keyframes balloon3 {
 0%,100%{ transform:translate(0, -10px) rotate(0);}
  50%{ transform:translate(-20px, 30px) rotate(-8deg); }
}

/* BAllOON 4*/
@-webkit-keyframes balloon4 {
  0%,100%{ -webkit-transform:translate(0, 0) rotate(-1deg);}
  50%{ -webkit-transform:translate(-5px, 15px) rotate(-3deg); }
}
@-moz-keyframes balloon4 {
 0%,100%{ -moz-transform:translate(0, 0) rotate(-1deg);}
  50%{ -moz-transform:translate(-5px, 15px) rotate(-3deg); }
}
@-o-keyframes balloon4 {
 0%,100%{ -o-transform:translate(0, 0) rotate(-1deg);}
  50%{ -o-transform:translate(-5px, 15px) rotate(-3deg); }
}
@keyframes balloon4 {
 0%,100%{ transform:translate(0, 0) rotate(-1deg);}
  50%{ transform:translate(-5px, 15px) rotate(-3deg); }
}

/* BAllOON 5*/
@-webkit-keyframes balloon5 {
  0%,100%{ -webkit-transform:translate(0, 0) rotate(-1deg);}
  50%{ -webkit-transform:translate(-15px, 20px) rotate(-3deg); }
}
@-moz-keyframes balloon5 {
  0%,100%{ -moz-transform:translate(0, 0) rotate(-1deg);}
  50%{ -moz-transform:translate(-15px, 20px) rotate(-3deg); }
}
@-o-keyframes balloon5 {
  0%,100%{ -o-transform:translate(0, 0) rotate(-1deg);}
  50%{ -o-transform:translate(-15px, 20px) rotate(-3deg); }
}
@keyframes balloon5 {
  0%,100%{ transform:translate(0, 0) rotate(-1deg);}
  50%{ transform:translate(-15px, 20px) rotate(-3deg); }
}

/* BAllOON 6*/
@-webkit-keyframes balloon6 {
  0%,100%{ -webkit-transform:translate(0, 5px) rotate(-1deg);}
  50%{ -webkit-transform:translate(-20px, 5px) rotate(-5deg); }
}
@-moz-keyframes balloon6 {
  0%,100%{ -moz-transform:translate(0, 5px) rotate(-1deg);}
  50%{ -moz-transform:translate(-20px, 5px) rotate(-5deg); }
}
@-o-keyframes balloon6 {
  0%,100%{ -o-transform:translate(0, 5px) rotate(-1deg);}
  50%{ -o-transform:translate(-20px, 5px) rotate(-5deg); }
}
@keyframes balloon6 {
  0%,100%{ transform:translate(0, 5px) rotate(-1deg);}
  50%{ transform:translate(-20px, 5px) rotate(-5deg); }
}

/* BAllOON 7*/
@-webkit-keyframes balloon7 {
  0%,100%{ -webkit-transform:translate(0,0) rotate(0);}
  50%{ -webkit-transform:translate(2px,-2px) rotate(-2deg); }
}
@-moz-keyframes balloon7 {
  0%,100%{ -moz-transform:translate(0,0) rotate(0);}
  50%{ -moz-transform:translate(2px,-2px) rotate(-2deg); }
}
@-o-keyframes balloon7 {
  0%,100%{ -o-transform:translate(0,0) rotate(0);}
  50%{ -o-transform:translate(2px,-2px) rotate(-2deg); }
}
@keyframes balloon7 {
  0%,100%{ transform:translate(0,0) rotate(0);}
  50%{ transform:translate(2px,-2px) rotate(-2deg); }
}
