.checkmark {
  position: relative;
  bottom: -10px;
  height: 80px;

  path {
    opacity: 0;
  }

  // background: {
  //   image: url('../assets/checkmark.svg');
  //   repeat: no-repeat;
  //   position: center;
  // }
}
