.avatar {
  @extend %main-content;
  padding: 0;

  & + .buttons {
    margin: 0 110px;
  }
}

.avatar__text {
  @extend %main-text;
}

.avatar__title {
  margin-top: 65px;
  margin-bottom: 0px;
  padding: 0 20px;
}

.carousel {
  height: $medium-image * 2;
  perspective: 200px;

  .carousel-item {
    width: 400px;
    top: -300px;
  }

  .indicators {
    bottom: 100px;
  }
}
