.eating {
  @extend %main-content;
}

.eating__text {
  @extend %main-text;
  margin: 20px;
}

.eating__title {
  @media screen and (min-width: 768px)
   {
     margin-top: 20px;
   }
}

.eating__slider {
  position: relative;
  height: 540px;

  @media screen and (min-width: 768px)
   {
     margin-bottom: 60px
   }
}

.slider__tree {
  background: url('./assets/banana-tree.svg');
  background: {
    repeat: no-repeat;
    position: center;
  }
  height: 100%;
}

.eating__range {
  -webkit-appearance: none;
  width: 450px;
  margin: {
    left: -95px;
    top: 300px;
  }
  @include rotate (270);

  @media screen and (min-width: 768px)
   {
     margin-left: 95px;
   }

  &::-webkit-slider-runnable-track {
    width: $medium-image;
    height: 0.01px;
    background: $transparent;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 140px;
    width: 140px;
    background: {
      image: url(./assets/banana.svg);
      size: contain;
      repeat: no-repeat;
    }
  }

  &:focus {
      outline: none;
  }
}

span.value {
  font-size: 3rem;
  margin-left: 60px;
}
