.eating {
  @extend %main-content;
}

.eating__text {
  @extend %main-text;
  margin: -27px 0;
}

.eating__title {
  margin-top: 20px;
}

.eating__slider {
  width: $large-image;
  position: relative;
  height: 540px;
  margin-bottom: 60px;
}

.slider__tree {
  background: url('./assets/banana-tree.svg');
  background-repeat: no-repeat;
  margin-left: 114px;
  margin-top: 15px;
  height: 100%;
}

.slider__range {
  -webkit-appearance: none;
  width: 450px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -o-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  margin-left: -95px;
  margin-top: 300px;

  &::-webkit-slider-runnable-track {
    width: 300px;
    height: 0.01px;
    background: $transparent;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 140px;
    width: 140px;
    background-image: url(./assets/banana.svg);
    background-size: contain;
    background-repeat: no-repeat;
  }

  &:focus {
      outline: none;
  }
}

span.value {
  font-size: 3rem;
}
