.email {
  background: #60ADD6;
  margin: 15px;
  padding: 30px;
  text-align: center;
}

.email__image {
  width: 220px;
  height: auto;
  margin: 0 auto;
}

.email__line {
  width: 375px;
  border: 1px solid #FCF74C;
  margin-bottom: 23px;
}

.email__subtitle {
  margin: 0 0 23px 0;
}

.email__para {
  margin: 0;
}
