.feelings {
  @extend %main-content;
}

.feelings__text {
  @extend %main-text;
}

.feelings__title {
  margin: {
    top: 0px;
    bottom: 50px;
  }
}

.emoji {
  margin: 5px $small-margin;
  width: $small-image / 2;

  @media screen and (min-width: 768px)
   {
     width: $small-image;
   }
}

.haloVisible {
  .st6 {
    stroke: $dark-yellow;
  }
}
