.finish-background {
  background: {
    image: url(./assets/ticker-tape.svg);
    size: $small-image;
    position: center;
  }
  -webkit-filter: brightness(0.95);
  filter: brightness(0.95);
}

.finish {
  @extend %main-content;

  .button {
    width: 100%;

    @media screen and (min-width: 768px)
     {
       width: 40%;
     }
  }
}

.finish__text {
 @extend %main-text;
}

.finish__lion {
  width: $small-image;
  display: block;
  margin: 40px auto;

  @media screen and (min-width: 768px)
   {
     width: $medium-image;
   }
}

.finish__header {
  color: $black;
  margin-bottom: 5px;

  @media screen and (min-width: 768px)
   {
     margin-top: 55px;
   }
}

.finish__email-form {
  font-size: 1.3em;
  color: $black;

  & p {
    margin-bottom: 10px;
  }

  :focus {
    outline: none;
  }

}

.finish__email-input {
  width: 500px;
  height: 30px;
  font-size: 0.45em;
  font-family: $main-font;
  margin: 15px 0;
  text-align: center;
  border: none;
}

.finish__info-icon {
  width: 50px;
  float: right;
  position: relative;
  bottom: -50px;
  right: 10px;
  z-index: 2;
}

.send-email-button {
  -webkit-appearance: none;
  font: {
    family: $main-font;
    size: 0.83em;
  }
  margin-top: 20px;
  border: none;
  border-radius: 4px;
  color: $black;
  width: 160px;
  height: 65px;
  background-color: $yellow;
  cursor: pointer;
  outline: none;
  box-shadow: 0 4px $orange;

  &:hover {
    background-color: $yellow;
    filter: brightness(97%);
  }

  &:active {
    box-shadow: 0 2px $orange;
    transform: translateY(2px);
  }
}
