.friends {
  @extend %main-content;
}

.friends__text {
  @extend %main-text;
}

.friends__title {
  margin-top: 0px;
}

.friends__subtitle {
  font-size: 1.9rem;
  margin: 40px 0 0 0;
}

.friends__slider {
  text-align: center;
  margin-top: 40px;

  .thumb {
    display: none;
  }
}

.friends__range {
  @extend %range-input;
}

.friends__textarea {
  text-align: center;
  margin-bottom: 40px;
}
