.friends {
  @extend %main-content;
  background: {
    image: url("../assets/friends-background.svg");
    repeat: no-repeat;
    size: 100%;
  }
}

.friends__text {
  @extend %main-text;
  margin-bottom: 0;
}

.friends__title {
  margin-top: 25px;
}

.friends__subtitle {
  font-size: 1.9rem;
  margin: 40px 0 0 0;
}

.friends__slider {
  text-align: center;
  margin-top: 40px;

  .thumb {
    display: none;
  }
}

.friends__range {
  @extend %range-input;
}

.friends__textarea {
  text-align: center;
  margin-bottom: 40px;
}
