.hobbies {
  @extend %main-content;
}

.hobbies__text {
  @extend %main-text;
}

.hobbies__table {
  display: table;
  margin: 0 auto 55px;
}

.table__row {
  display: table-row;
  width: 100%;
}

.table__cell {
  display: table-cell;
  border: 1px solid $white;
  padding: 50px 20px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  background-color: $transparent;
  @include transition ();

  &:last-child {
    display: none;

    @media screen and (min-width: 550px)
     {
       display: table-cell;
     }
  }

  &:hover {
    color: $yellow;
    border: 1px solid $yellow;
  }

  @media screen and (min-width: 550px)
   {
     font-size: 1.5rem;
     padding: 50px 40px;
   }
}

.mobile-only {
  display: table-row;

  .table__cell:last-child {
    display: table-cell;

    @media screen and (min-width: 550px)
     {
       display: none;
     }
  }

  @media screen and (min-width: 550px)
   {
     display: none;
   }
}

.js-chosen {
  background-color: $orange;
}
