.introduction {
  @extend %main-content;

  .buttons {
    margin-top: 60px;
  }
}

.introduction__text {
  @extend %main-text;
  margin: {
    top: 15px;
    bottom: 10px;
  }
}

.text-input {
  width: 80%;
  height: 50px;
  font-size: 2.5rem;
  border: none;
  border-bottom: 6px dotted $white;
  background-color: $transparent;
  color: $yellow;
  text-align: center;
  padding-bottom: 20px;

  @media screen and (min-width: 768px)
   {
     width: 490px;
     font-size: 3.9rem;
   }
}

.text-input:focus {
  outline: none;
}

.sleeping-lion{
  width: $small-image;
  margin: 0 auto 20px auto;

  @media screen and (min-width: 768px)
   {
    width: $medium-image;
   }
}
