.introduction {
  @extend %main-content;

  .buttons {
    margin-top: 60px;
  }
}

.introduction__text {
  @extend %main-text;
  margin: {
    top: 15px;
    bottom: 10px;
  }
}

.introduction__text--input {
  @extend %text-input;
}

.sleeping-lion{
  width: $small-image;
  margin: 0 auto 20px auto;

  @media screen and (min-width: 768px)
   {
    width: $medium-image;
   }
}
