body {
  padding: 0;
  font-family: $main-font;
  margin: auto;
  background: $background;
  font-size: 1.1rem;
  color: $white;
  width: 100%;

  @media screen and (min-width: 768px)
   {
     max-width: 768px;
   }
}

%main-content {
  display: flex;
  flex-direction: column;
  color: $white;
}

%main-text {
  margin: 40px 0;
  font-size: 1.5rem;
  text-align: center;

  @media screen and (min-width: 768px)
   {
     padding: 0 25px;
     font-size: 2.2rem;
   }
}

%text-input {
  width: 90%;
  height: 50px;
  font-size: 2.5rem;
  border: none;
  border-bottom: 6px dotted $white;
  background-color: $transparent;
  color: $yellow;
  text-align: center;
  padding-bottom: 20px;

  @media screen and (min-width: 768px) {
     font-size: 3.9rem;
   }

   &:focus {
     outline: none;
   }
}

%range-input {
  -webkit-appearance: none;
  width: 90%;
  margin: 100px 0;

  &::-webkit-slider-runnable-track {
    width: 300px;
    height: 2px;
    background: $transparent;
  }

  &:focus {
    outline: 0;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 40px;
    width: 40px;
    position:relative;
    margin-top: -20px;
    border: none;
    background: {
      image: url(../assets/slider-button.svg);
      size: contain;
      repeat: no-repeat;
      color: $transparent;
    }

    @media screen and (min-width: 768px) {
       width: 65px;
       height: 65px;
       margin-top: -31px;
     }
  }
}

.buttons {
  position: relative;
  z-index: 1;
  width: 100%;
}

.button {
  text-decoration: none;
  padding: 15px 0px;
  color: $white;
  font-size: 1.5rem;
  background-color: $dark-blue;
  text-align: center;
  width: 40%;
}

.button--prev {
  float: left;
}

.button--next {
  float: right;
}
