.personality {
  @extend %main-content;
  background: {
    image: url("../assets/personality-background.svg");
    repeat: no-repeat;
    size: 100%;
  }
}

.personality__title {
  margin-top: 20px;
}

.personality__text {
  @extend %main-text;
}

.pop {
  visibility: hidden;

  .style2 {
    visibility: visible;
  }

  .style5 {
    stroke: #F8EE56;
    visibility: visible;
  }
}

.balloons {
  position: relative;
  top: -190px;
  height: 360px;

  @media screen and (min-width: 768px) {
    top: -110px;
    height: 830px;
    margin-top: -235px;
   }
}
