.personality {
  @extend %main-content;
}

.personality__text {
  @extend %main-text;
}

.personality__title {
  margin-top: 0px;
}

.balloons {
  position: relative;
  top: -190px;
  height: 360px;

  @media screen and (min-width: 768px) {
    top: -150px;
    height: 830px;
    margin-top: -235px;
   }
}

.pop {
  visibility: hidden;

  .st2 {
    visibility: visible;
    fill: $yellow;
  }
}
