.school {
  @extend %main-content;
}

.school__text {
  @extend %main-text;
  margin-bottom: 0;
}

.school__title {
  margin-top: 0px;
}

.school__subtitle {
  margin: 0;
  font-size: 1.9rem;
}

.school__slider {
  text-align: center;

  .thumb {
    display: none;
  }
}

.school__label {
  position: relative;
  top: 70px;
  border: 1px solid $white;
  padding: 6px;
  font-size: 1.5rem;
}

.school__textarea {
  position: relative;
  display: inline-block;
}

.label {
  position: absolute;
  font-size: 1.5rem;
}

.textarea {
  @extend %text-input;
  width: 300px;
  height: 150px;
  border: 3px dotted $white;
  margin-top: 40px;
  font-size: 2rem;
}

.label--bad {
  left: 70px;
}

.label--good {
  right: 80px;
}

.school__range {
  @extend %range-input;
}

.school__input {
  @extend %text-input;
}
