.sleep {
  @extend %main-content;
}

.sleep__text {
  @extend %main-text;
}

.sleep__title {
  margin-top: 0px;
}

.sleep__sleeping-lion {
  background: {
    image: url("../assets/lion-sleeping-sprite.svg");
    repeat: no-repeat;
    position: -664px;
    size: 2000px;
  }
  height: 320px;
  width: 330px;
  margin-left: 25px;

  @media screen and (min-width: 550px) {
     margin-left: 33%;
   }
}

.sleep__slider {
  text-align: center;
}

.sleep__range {
  @extend %range-input;
}

.value {
  display: none;
}
