.sleep {
  @extend %main-content;
  background: {
    image: url("../assets/sleep-background.svg");
    repeat: no-repeat;
    size: 100%;
  }
}

.sleep__text {
  @extend %main-text;
}

.sleep__title {
  margin-top: 25px;
}

.sleep__sleeping-lion {
  background: {
    image: url("../assets/lion-sleeping-sprite.svg");
    repeat: no-repeat;
    position: -996px;
    size: 2000px;
  }
  height: 320px;
  width: 330px;
  margin-left: 25px;

  @media screen and (min-width: 550px) {
    margin-left: 33%;
  }
}

.sleep__slider {
  margin-top: 30px;
  text-align: center;

  .value,
  .thumb {
    display: none;
  }
}

.sleep__range {
  @extend %range-input;
}
