// colours

$black: rgba(0, 0, 0, 1);
$blue: rgba(56, 185, 242, 0.8);
$dark-blue: rgba(57,138,187,0.8);
$orange: #E87325;
$dark-yellow: #FFC900;
$yellow: #FCF74C;
$transparent: rgba(0, 0, 0, 0);
$white: rgba(255, 255, 255, 1);

// fonts

$main-font: 'Montserrat Alternates', sans-serif;
$cursive-font:  'Henny Penny', cursive;

$background: radial-gradient(ellipse at center, $blue 0%, $dark-blue 100%);
