@import "variables";
@import "layout";

.welcome {
  @extend %main-content;
}
.welcome__title {
  font-family: $cursive-font;
  font-size: 4rem;
  margin: 0 auto;
  letter-spacing: 0.2rem;
  text-align: center;
  line-height: 4.5rem;
}
.welcome__image {
  margin: 25px auto;
  height: 500px;
  width: 500px;
}
.welcome__text {
  @extend %main-text;
}
