.welcome {
  @extend %main-content;

  .button {
    width: 100%;

    @media screen and (min-width: 768px)
     {
       width: 40%;
     }
  }
}

.welcome__text {
  @extend %main-text;
}

.welcome__title {
  font: {
    family: $cursive-font;
    size: 2.5rem;
  }
  margin: 0 auto;
  letter-spacing: 0.35rem;
  line-height: 4.5rem;

  @media screen and (min-width: 768px)
   {
     font-size: 4rem;
   }
 }

.welcome__image {
  margin: $small-margin auto;
  height: $medium-image;

  @media screen and (min-width: 768px)
   {
     height: $medium-image + 100px;
   }
}
