<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{#if isAvatar}}
    <link rel="stylesheet" href="/public/materialize/css/materialize.min.css">
  {{/if}}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Henny+Penny|Montserrat+Alternates">
  <link rel="stylesheet" href="main.css">
  <link rel="icon" href="favicon.ico" type="image/png">
  <title>Welcome to CAMHS</title>
</head>
<body>

  {{{ content }}}

  <script src="/public/jquery.min.js"></script>
  <script src="/public/materialize/js/materialize.min.js"></script>
  <script src="/public/anime.min.js"></script>
  <script src="https://use.fontawesome.com/b47cf7f5d9.js"></script>
  
  <script src="scripts/index.js"></script>
  <script src="/scripts/avatar.js"></script>
  <script src="/scripts/eating.js"></script>
  <script src="/scripts/finish.js"></script>
  <script src="/scripts/personality.js"></script>

</body>
</html>
