body {
  padding: 0;
  font-family: 'Montserrat Alternates', sans-serif;
  max-width: 768px;
  border: 1px solid #000;
  height: 1024px;
  margin: auto;
  background: radial-gradient(ellipse at center, rgba(56, 185, 242, 0.8) 0%,rgba(57,138,187,0.8) 100%);
  font-size: 1rem;
  color: white;
}
.welcome,
.introduction,
.feelings {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  color: #fff;
  padding: 35px 100px;
}
.welcome__title {
  font-family: 'Henny Penny', cursive;
  font-size: 4rem;
  margin: auto;
  letter-spacing: 0.2rem;
  text-align: center;
  line-height: 4.5rem;
}
.welcome__image {
  margin: 25px auto;
  height: 500px;
  width: 500px;
}
.welcome__text,
.introduction__text,
.feelings__text {
  margin: 40px 0;
  padding: 0 25px;
  font-size: 2.2rem;
  text-align: center;
}
.introduction__text {
  margin-top: 15px;
  margin-bottom: 10px;
}
.text-input {
  width: 490px;
  height: 50px;
  font-size: 3.9rem;
  border: none;
  background-color: transparent;
  border-bottom: 6px dotted white;
  color: #FCF74C;
  text-align: center;
  padding-bottom: 20px;
}
.text-input:focus {
  outline: none;
}
.sleeping-lion{
  width: 300px;
  margin: 0 auto 20px auto;
}
.emoji {
  margin: 5px 25px 5px 25px;
  width: 200px;
}
.feelings__title {
  margin-bottom: 50px;
}
