body {
  padding: 0;
  font-family: 'Montserrat Alternates', sans-serif;
  max-width: 768px;
  border: 1px solid #000;
  height: 1024px;
  margin: auto;
  background: radial-gradient(ellipse at center, rgba(56, 185, 242, 0.8) 0%,rgba(57,138,187,0.8) 100%);
  font-size: 1.1rem;
  color: white;
}
.welcome,
.introduction,
.eating,
.finish,
.avatar,
.personality,
.feelings {
  display: flex;
  flex-direction: column;
  color: #fff;
  padding: 70px 100px;
}
.welcome__title {
  font-family: 'Henny Penny', cursive;
  font-size: 4rem;
  margin: auto;
  letter-spacing: 0.2rem;
  text-align: center;
  line-height: 4.5rem;
}
.welcome__image {
  margin: 25px auto;
  height: 500px;
  width: 500px;
}
.welcome__text,
.introduction__text,
.feelings__text,
.eating__text,
.finish__text,
.personality__text,
.avatar__text {
  margin: 40px 0;
  padding: 0 25px;
  font-size: 2.2rem;
  text-align: center;
}
.eating__text {
  margin: -27px 0;
}
p.eating__text {
    margin-top: 60px;
}
.avatar {
  padding: 0;
}
.personality__title {
  margin-top: 0px;
}
.eating__title {
  margin-top: 20px;
}
.avatar__title {
  margin-top: 65px;
  margin-bottom: 0px;
  padding: 0 20px;
}
.carousel {
  height: 805px;
  perspective: 300px;
}
.carousel .carousel-item {
  width: 400px;
  top: -300px;
}
.carousel .indicators {
  bottom: 230px;
}
.introduction__text {
  margin-top: 15px;
  margin-bottom: 10px;
}
.text-input {
  width: 490px;
  height: 50px;
  font-size: 3.9rem;
  border: none;
  background-color: transparent;
  border-bottom: 6px dotted white;
  color: #FCF74C;
  text-align: center;
  padding-bottom: 20px;
}
.text-input:focus {
  outline: none;
}
.sleeping-lion{
  width: 300px;
  margin: 0 auto 20px auto;
}
.emoji {
  margin: 5px 25px 5px 25px;
  width: 200px;
}
.feelings__title {
  margin-top: 0px;
  margin-bottom: 50px;
}
.eating__slider {
  width: 600px;
  /*margin: 0 auto 20px auto;*/
  position: relative;
  /*padding-top: 313px;*/
  /*padding-bottom: 160px;*/
  overflow-y: hidden;
  height: 540px;
}
.slider__tree {
  background: url('assets/6irogrLKT.png');
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: relative;
  right: 2px;
}
.slider__range {
  display: block;
  -webkit-appearance: none;
  outline: none;
  /*height: 5px;*/
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
  -webkit-transform:rotate(90deg);
     -moz-transform:rotate(90deg);
     -o-transform:rotate(90deg);
     -ms-transform:rotate(90deg);
     transform:rotate(90deg);
}
.slider__range::-webkit-slider-thumb {
  -webkit-appearance: none;
  cursor: pointer;
  height: 10px;
  width: 54px;
  position: relative;
}
.slider__range::-webkit-slider-thumb:after {
  content: '< >';
  word-spacing: 20px;
  text-align: center;
  font: bold 17px/25px 'Montserrat Alternates', sans-serif;
  color: white;
  width: 54px;
  height: 25px;
  position: absolute;
  top: -10px;
  left: 0;
  color: transparent;
  transition: color 0.25s;
}
.slider__range::-webkit-slider-thumb:before {
  content: '';
  height: 5px;
  width: 400px;
  position: absolute;
  top: 0;
  right: 0;
  /*prevent click obstruction for the real slider track beneath*/
  pointer-events: none;
}
.slider__reel {
  width: 25%;
  height: 35%;
  overflow: hidden;
  position: absolute;
  bottom: 0; /*left pos will be controlled by JS*/
}
.slider__banana {
  font: bold 3rem/1rem 'Montserrat Alternates', sans-serif;
  color: white;
  position: absolute;
  /*bottom: 110px;*/
  left: 130px;
  height: 125px;
  width: 25%;;
  text-align: center;
  /*disable clicks so that the slider thumb can be controlled*/
  pointer-events: none;
  transition: all 0.25s;
  background-image: url('assets/banana.svg');
  background-repeat: no-repeat;
}
.download-button {
  margin-top: 20px;
  border: none;
  border-radius: 4px;
  color: black;
  width: 200px;
  height: 80px;
  font-family: Montserrat Alternates;
  font-size: 1.2em;
  background-color: #FCF74C;
  cursor: pointer;
  outline: none;
  box-shadow: 0 4px #E87325;
}
.download-button:hover {
  background-color: #FCF74C;
  filter: brightness(97%)
}
.download-button:active {
  box-shadow: 0 2px #E87325;
  transform: translateY(2px);
}
.finish__lion {
  width: 300px;
  display: block;
  margin: 40px auto;
}
.margin-top-0px {
  margin-top: 0;
}
.medium-text {
  margin-top: 55px;
  margin-bottom: 5px;
}
.finish-background{
  background-image: url(assets/ticker-tape.svg);
  background-size: 260px;
  background-position: center;
  -webkit-filter: brightness(0.95);
  filter: brightness(0.95);
}
.finish {
  height: 883px;
}
.finished__header {
  color: black;
}
.personality__types {
  color: black;
  height: 360px;
}
.personality__shape {
  background-color: #FCF74C;
  display: inline-block;
  border-radius: 50%;
  margin: 10px 10px 20px 0;
}
.characteristics {
  cursor: pointer;
  padding: 15px 15px;
  text-align: center;
  display: inline-block;
  margin: 10px;
  font-size: 1.5em;
}
.rotate-10 {
  -ms-transform: rotate(10deg); /* IE 9 */
  -webkit-transform: rotate(10deg); /* Safari */
  transform: rotate(10deg);
}
.rotate-45 {
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Safari */
  transform: rotate(45deg);
}
.rotate-90 {
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Safari */
  transform: rotate(90deg);
}
.rotate-315 {
  -ms-transform: rotate(315deg); /* IE 9 */
  -webkit-transform: rotate(315deg); /* Safari */
  transform: rotate(315deg);
}
.rotate-330 {
  -ms-transform: rotate(330deg); /* IE 9 */
  -webkit-transform: rotate(330deg); /* Safari */
  transform: rotate(330deg);
}
.emotions {
  width: 510px;
  margin: 0 0 0 auto;
}
.row {
  margin-left: 40px;
}
