<div class="avatar">
  <div class="avatar__text">
    <h2 class="avatar__title">Choose your character</h2>
  </div>
  <div class="carousel">
    <a class="carousel-item" href="#one!"><img src="assets/lion.svg"></a>
    <a class="carousel-item" href="#two!"><img src="assets/bear2.svg"></a>
    <a class="carousel-item" href="#three!"><img src="assets/monkey2.svg"></a>
  </div>

  {{> buttons }}
</div>
