<div class="avatar">
  <div class="avatar__text">
    <h1 class="avatar__title">Choose your character</h1>
  </div>
  <div class="carousel">
    <a class="carousel-item" href="#one!"><img src="assets/lion.svg"></a>
    <a class="carousel-item" href="#two!"><img src="assets/lion-crown.svg"></a>
    <a class="carousel-item" href="#three!"><img src="assets/lion-hat.svg"></a>
  </div>
</div>

<div class="buttons">
  <a href="{{ prev }}">Prev</a>
  <a href="{{ next }}">Next</a>
</div>
