<div class="avatar">
  <div class="avatar__text">
    <h1 class="avatar__title">Choose your character</h1>
  </div>
  <div class="carousel">
    <a class="carousel-item" href="#one!"><img src="assets/lion.svg"></a>
    <a class="carousel-item" href="#two!"><img src="assets/bear.svg"></a>
    <a class="carousel-item" href="#three!"><img src="assets/monkey.svg"></a>
  </div>

  {{> buttons }}
</div>
