<div class="eating">
  <div class="eating__text">
    <h2 class="eating__title">How are you eating?</h2>
  </div>
  <div class="eating__slider">
    <div class="slider__tree">
      <input name="eating" class="slider__range" type="range" min="0" max="5" value="0" step="1">
    </div>
  </div>
  <p class="eating__text">
    Slide to choose how many fruit and vegetables you eat per day.
  </p>

  {{> buttons }}
</div>
