<div class="feelings">
  <div class="feelings__text">
    <h2 class="feelings__title">How are you<br> feeling today?<h2>
    <img class="emoji happy-emoji"src="assets/emoji-happy.svg" alt="Happy Face"></img>
    <img class="emoji sad-emoji" src="assets/emoji-sad.svg" alt="Sad Face"></img>
    <img class="emoji indifferent-emoji" src="assets/emoji-indifferent.svg" alt="Indifferent Face"></img>
  </div>
    <br>
    <img class="eaten-banana" src="assets/eaten-banana.svg">

    {{> buttons }}
</div>
