<div class="finish-background">
  <div class="finish">
    <div class="finish__text">
      <h1 class="finished__header">You are finished!</h1>
      <img class="finish__lion"src="assets/lion-no-tail.svg"></img>
      <h5 class="finished__header">Download your answers</h5>
      <a href="#" download="my-questionnaire" target="blank">
        <input class="download-button" type="button" value="&#8595">
      </a>
    </div>
  </div>
</div>

{{> buttons }}
