<div class="finish-background">
  <div class="finish">
    <div class="finish__text">
      <h1 class="finished__header">You are finished!</h1>
      <img class="finish__lion"src="assets/lion-no-tail.svg"></img>
      <!-- <h5 class="finished__header">Where should we send your answers?</h5> -->

      <form class="finish__email-form">
        <p>Where should we send <br> your answers?</p>
        <input class="finish__email-input" type="text" placeholder="Enter your email address here...">
        <br>
        <input class="send-email-button" type="button" value="Send">
      </form>

    </div>

    {{> buttons }}
  </div>
</div>
