<div class="friends">
  <div class="friends__text">
    <h2 class="friends__title">How do you feel about <br> your friendships?</h2>
  </div>
  <div class="friends__emoji-sprite"></div>
  <div class="friends__slider">
    <input name="Friends" class="friends__range range" type="range" min="1"
      max="5" value="3" step="1">
  </div>
  <div class="friends__text">
    <p class="friends__subtitle">What do you like and dislike <br> about your friendships?</p>
      <input class="friends__text-input" type="text" autofocus="">
      <input class="friends__text-input" type="text" autofocus="">
  </div>
  {{> buttons }}
</div>
