<div class="hobbies">
  <div class="hobbies__text">
    <h2 class="hobbies__title">What are you interested in</h2>
  </div>
  <div class="hobbies__table">
    <div class="table__row">
      <div class="table__cell">Sport</div>
      <div class="table__cell">Cinema</div>
      <div class="table__cell">Sport</div>
    </div>
    <div class="table__row">
      <div class="table__cell">Sport</div>
      <div class="table__cell">Cooking</div>
      <div class="table__cell">Cinema</div>
    </div>
    <div class="table__row">
      <div class="table__cell">Cooking</div>
      <div class="table__cell">Sport</div>
      <div class="table__cell">Cinema</div>
    </div>
    <div class="table__row">
      <div class="table__cell">Sport</div>
      <div class="table__cell">Sport</div>
      <div class="table__cell">Cinema</div>
    </div>
    <div class="table__row">
      <div class="table__cell">Dance</div>
      <div class="table__cell">Cinema</div>
      <div class="table__cell">Sport</div>
    </div>
  </div>
</div>

{{> buttons }}
</div>
