<div class="hobbies">
  <div class="hobbies__text">
    <h2 class="hobbies__title">What are you interested in</h2>
  </div>
  <div class="hobbies__table">
    <div class="table__row">
      <div class="table__cell football">Football</div>
      <div class="table__cell tennis">Tennis</div>
      <div class="table__cell gymnastics">Gymnastics</div>
    </div>
    <div class="table__row">
      <div class="table__cell dance">Dance</div>
      <div class="table__cell drawing">Drawing</div>
      <div class="table__cell photography">Photography</div>
    </div>
    <div class="table__row">
      <div class="table__cell cooking">Cooking</div>
      <div class="table__cell gardening">Gardening</div>
      <div class="table__cell puzzles">Puzzles</div>
    </div>
    <div class="table__row">
      <div class="table__cell camping">Camping</div>
      <div class="table__cell fishing">Fishing</div>
      <div class="table__cell walking">Walking</div>
    </div>
  </div>
</div>

{{> buttons }}
</div>
