<div class="info">
  <div class="info__text">
    <img class="info__icon" src="../assets/info-icon.svg">
    <h2 class="info__title">Getting to Know you</h2>
    <h1 class="spacing-dots">&sdot;</h1>
    <h4>A collaborative initiative between Founders & Coders,<br>
      the Anna Freud Centre, and the CYP IAPT<br>Learning Collaborative</h4>
    <h1 class="spacing-dots">&sdot;</h1>
    <p>Acknowldgements:</p>
      <h4>Thank you to the brillant children and young people<br>
        who gave their time to help create this project.
      </h4>
    </p>
    <h1 class="spacing-dots">&sdot;</h1>
    <p>Product Owner:</p>
    <h4>Jasmin Patel</h4>
    <h1 class="spacing-dots">&sdot;</h1>
    <p>Developers:</p>
    <h4>Ewelina Skibinska</h4>
    <h4>Peter Rhodes</h4>
    <h1 class="spacing-dots">&sdot;</h1>
    <p>Project Support:</p>
    <h4>Noga Inbar - UX/UI</h4>
    <h4>Bradley Reeder - Scrum Master</h4>
    <h4>Eoin McCarthy - Code Review & QA</h4>
    <h1 class="spacing-dots">&sdot;</h1>
    <p>Feedback</p>
    <h4>Please send any feedback to <br> jasminpatel@live.co.uk.</h4>
  </div>
    <br>

    {{> buttons }}
</div>
