  <div class="introduction">
    <img class="sleeping-lion" src="assets/lion-sleeping.svg" alt="Sleeping Lion"></img>
    <div class="introduction__text">
      <p>What is your name?<p>
        <input class="text-input" type="text" autofocus="">
    </div>
    <div class="introduction__text">
      <p>How old are you?<p>
        <input class="text-input" type="text" autofocus="">
    </div>
  </div>

  {{> buttons }}
