<div class="personality">
  <div class="personality__text">
    <h2 class="personality__title">Pop the balloons <br> that best <br>describe you!</h2>
  </div>
  <div class="balloons">


    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    	 viewBox="-234 313 297.8 400" style="enable-background:new -234 313 297.8 400;" xml:space="preserve">
    <style type="text/css">
    	.st0{fill:none;stroke:#F8EE56;stroke-width:0.5;stroke-miterlimit:10;}
    	.st1{fill:#FFC900;}
    	.st2{enable-background:new    ;}
    	.st3{opacity:0.41;}
    	.st4{opacity:0.1091;fill:#FFFFFF;enable-background:new    ;}
    	.st5{fill:none;}
    </style>
    <script  src="../balloonPop.js"></script>
    <g id="strange">
    	<path id="XMLID_92_" class="st0" d="M-33.4,516.1l1.8,13.9c1.5,11.6,0.7,23.4-2.2,34.8l-0.2,0.8c-2.2,8.7-2.8,17.7-1.7,26.5
    		l2.3,17.9l1.7,13.2c1.5,11.7,1.6,23.6,0.1,35.4l-1.8,14.7l-2.9,25.3c-0.7,6.4-0.6,12.9,0.5,19.3l2.4,15"/>
    	<path id="XMLID_48_" class="st1" d="M-4.6,478.3c1.3-17.9-11.2-34.6-27.4-34.6c-1.1,0-1.9,0-3.5,0c-1.7,0-2.7,0.2-3,0.2
    		c-14.5,1.4-25.4,17.2-24.2,34.4c1,14.6,8.4,26.5,20.5,32.3c2.4,1.2,5,1.8,7.6,1.8s5.3-0.5,7.7-1.6C-13.7,505-5.7,493.1-4.6,478.3z"
    		/>
    	<path id="XMLID_45_" class="st1" d="M-34.1,510.3c0,1.1-1.1,4.1-1.3,4.6c-0.1,0.3-0.4,0.8-0.2,1.1c0.3,0.3,0.6,0.1,0.9-0.1
    		c0.3-0.2,0.5-0.4,0.9-0.4c0.4,0,0.7,0.1,1.1,0.2c0.4,0.1,0.8,0,0.9-0.3s0-0.5-0.1-0.8c-0.5-1.1-1.1-2.2-1.6-3.2
    		c-0.1,0-0.3-0.1-0.4-0.1"/>
    	<g id="XMLID_86_" class="st2">
    		<path d="M-50.9,475.5c0,0.6-0.2,1.1-0.7,1.5c-0.4,0.4-1,0.5-1.7,0.5c-0.5,0-0.9-0.1-1.4-0.3c-0.5-0.2-0.9-0.4-1.3-0.7l0.6-1
    			c0.7,0.6,1.5,0.8,2.2,0.8c0.3,0,0.5-0.1,0.7-0.2s0.3-0.3,0.3-0.5c0-0.3-0.4-0.6-1.3-0.9c-0.1,0-0.1,0-0.1,0c-1.3-0.4-2-1-2-1.8
    			c0-0.6,0.2-1.1,0.7-1.4c0.5-0.4,1.1-0.5,1.8-0.5s1.4,0.2,2.1,0.6l-0.5,1c-0.5-0.3-1.1-0.5-1.7-0.5c-0.3,0-0.6,0.1-0.8,0.2
    			s-0.3,0.3-0.3,0.5s0.1,0.4,0.3,0.5c0.1,0.1,0.3,0.1,0.6,0.2s0.5,0.1,0.7,0.2s0.4,0.1,0.6,0.2c0.2,0.1,0.4,0.2,0.6,0.3
    			C-51.1,474.5-50.9,474.9-50.9,475.5z"/>
    		<path d="M-48.1,472.1v3.2c0,0.3,0.1,0.5,0.2,0.7c0.2,0.2,0.4,0.3,0.7,0.3s0.6-0.1,0.8-0.4l0.6,0.9c-0.5,0.4-1,0.6-1.6,0.6
    			s-1.1-0.2-1.5-0.6s-0.6-0.9-0.6-1.6v-6.3h1.3v2h1.7v1.1L-48.1,472.1L-48.1,472.1z"/>
    		<path d="M-41.4,472.3c-0.7,0-1.2,0.2-1.5,0.6s-0.5,1-0.5,1.7v2.7h-1.3v-6.4h1.3v1.3c0.2-0.4,0.5-0.7,0.9-1s0.8-0.4,1.2-0.4
    			L-41.4,472.3C-41.3,472.3-41.3,472.3-41.4,472.3z"/>
    		<path d="M-39.5,476.6c-0.6-0.6-0.9-1.4-0.9-2.4s0.3-1.8,0.9-2.4s1.3-0.9,2.2-0.9c0.8,0,1.5,0.4,2.1,1.2V471h1.3v6.4h-1.3v-1
    			c-0.3,0.4-0.6,0.7-1,0.8c-0.4,0.2-0.8,0.3-1.2,0.3C-38.2,477.5-38.9,477.2-39.5,476.6z M-39,474.3c0,0.6,0.2,1.1,0.6,1.5
    			s0.9,0.6,1.4,0.6s1-0.2,1.3-0.6c0.4-0.4,0.6-0.9,0.6-1.5s-0.2-1.1-0.6-1.5c-0.4-0.4-0.8-0.6-1.4-0.6s-1,0.2-1.4,0.6
    			C-38.8,473.1-39,473.7-39,474.3z"/>
    		<path d="M-30.5,474v3.5h-1.3v-6.4h1.3v1.2c0.2-0.4,0.5-0.7,0.9-0.9c0.4-0.2,0.8-0.3,1.2-0.3c0.7,0,1.3,0.2,1.7,0.7
    			c0.4,0.4,0.7,1.1,0.7,1.9v3.9h-1.3v-3.7c0-1.2-0.5-1.8-1.5-1.8c-0.5,0-0.9,0.2-1.2,0.5C-30.4,472.9-30.5,473.4-30.5,474z"/>
    		<path d="M-21.3,478.8c1.2,0,1.8-0.8,1.8-2.3v-0.4c-0.2,0.3-0.5,0.5-0.8,0.7s-0.8,0.3-1.2,0.3c-0.8,0-1.5-0.3-2.1-0.9
    			c-0.5-0.6-0.8-1.3-0.8-2.2s0.3-1.6,0.8-2.2s1.2-0.9,2.1-0.9s1.5,0.3,2.1,0.9V471h1.3v5.5c0,1.1-0.3,2-0.9,2.6s-1.3,0.9-2.2,0.9
    			c-0.7,0-1.3-0.2-1.9-0.5s-0.9-0.8-1.2-1.4l1.2-0.5C-22.9,478.4-22.3,478.8-21.3,478.8z M-23.2,474c0,0.5,0.2,1,0.5,1.4
    			s0.8,0.6,1.3,0.6s1-0.2,1.3-0.6s0.5-0.8,0.5-1.4c0-0.5-0.2-1-0.5-1.4s-0.8-0.6-1.3-0.6s-1,0.2-1.3,0.6
    			C-23,473-23.2,473.5-23.2,474z"/>
    		<path d="M-13.4,470.9c0.9,0,1.6,0.2,2.2,0.7c0.6,0.5,0.9,1.1,0.9,1.9l0,0l-4.7,2c0.4,0.5,1,0.8,1.7,0.8s1.3-0.3,1.8-0.8l0.8,0.9
    			c-0.8,0.8-1.7,1.2-2.7,1.2c-0.9,0-1.7-0.3-2.3-0.9c-0.6-0.6-1-1.4-1-2.4c0-0.7,0.2-1.3,0.5-1.8c0.3-0.5,0.8-0.9,1.2-1.1
    			C-14.5,471.1-13.9,470.9-13.4,470.9z M-15.4,474.3c0,0.1,0,0.2,0,0.2l3.5-1.5c-0.3-0.5-0.8-0.8-1.5-0.8c-0.5,0-1,0.2-1.4,0.6
    			C-15.2,473.1-15.4,473.6-15.4,474.3z"/>
    	</g>
    	<g id="XMLID_6_" class="st3">
    		<g id="XMLID_312_">
    			<g id="XMLID_313_">
    				<path id="XMLID_325_" class="st4" d="M-34.7,452.5c2.6-0.3,5.1,0,7.5,1c4.2,0.7,7.6,3.1,10.2,7c-0.8-1.1-1.6-2.2-2.4-3.2
    					c1.3,1.9,2.6,3.8,4,5.7c-0.7-1.2-1.4-2.3-2.1-3.5c1.1,2,2.2,4,3.3,6.1c-0.6-1.2-1.2-2.5-1.7-3.7c0.9,2.1,1.8,4.2,2.6,6.3
    					c-0.4-1.3-0.9-2.6-1.3-3.9c0.8,5.7,1.6,11.4,2.3,17.1c0.3-1.4,0.6-2.8,0.9-4.2c-0.4,1.8-0.9,3.6-1.3,5.4
    					c-0.1,0.3-0.1,1.1,0.3,1.3c0.7,0.3,1.3-1.4,1.4-1.7c0.6-1.5,1.1-3,1.6-4.5c0.4-1.1,1-2.7,0.8-3.9c-1.1-6.4-4.1-12.7-8.4-17.5
    					c-2.6-3-5.7-5.2-9.2-6.9c-1.2-0.6-2.3-1.1-3.6-1.5c-3.8-1.3-7.7-1.6-11.8-1.7c-1.8-0.1,1.2,2.6,1.1,2.5c1.2,1,2.4,1.9,3.6,2.8
    					C-36.2,452-35.5,452.3-34.7,452.5z"/>
    				<path id="XMLID_324_" class="st4" d="M-33.4,449.5c3.2-0.4,6.2,0.2,8.9,1.9c10.9,2.9,15.2,12,12.9,27.3c0.2-0.9,0.4-1.8,0.6-2.7
    					c-0.3,0.9-0.5,1.9-0.8,2.8c-0.2,0.7-0.5,2.8,0.8,1.9c0.6-0.4,0.8-1.4,1.1-2c0.4-1.1,1-2.3,1.1-3.5c0.5-6.6-1.7-13.8-5.3-19.3
    					c-2.5-3.8-5.8-6.8-9.9-8.9c-1.5-0.8-2.3-1.1-4-1.7c-3.3-1.1-6.4-1.4-9.9-1.5c-1.5-0.1,0.2,2.1,0.4,2.2c0.8,0.9,1.6,1.8,2.5,2.6
    					C-34.6,449-34,449.3-33.4,449.5z"/>
    				<path id="XMLID_323_" class="st4" d="M-32.8,451.9c1.5,0,2.9,0.1,4.4,0.1c2.3,0.1,4.5,0.8,6.4,2.1c1.5,0.5,2.7,1.2,3.8,2.3
    					c4.1,3.3,6.6,7.7,7.5,13.4c0.8,4,1.2,7.9,0,11.9c-0.1,0.3-0.2,1.1,0.2,1.3c0.6,0.4,1.3-1.2,1.5-1.5c0.7-1.3,1.3-2.7,1.9-4.1
    					c0.4-1,1.2-2.4,1.1-3.6c-0.7-6.8-3.7-13.4-8.1-18.6c-3-3.5-6.7-6.2-10.9-8.1c-2.2-1.1-4.6-1.9-7.1-2.4c-2.7-0.7-5.4-0.9-8.2-0.8
    					c-1.9-0.1,1.3,2.9,1.2,2.8c1.3,1.3,2.6,2.5,4,3.7C-34.5,451-33.7,451.5-32.8,451.9z"/>
    				<path id="XMLID_322_" class="st4" d="M-29.9,455.1c3.8-0.3,7.3,0.4,10.8,2.1c6.8,5.3,10.5,11.8,11,19.3c0.3,3.4,0.1,6.4-1.1,9.5
    					c-0.3,0.8,0.7,1.1,1.2,0.8c0.9-0.4,2-2.4,2.2-3.4c1.7-7.8-0.7-17-5.6-23.2c-2.9-3.6-6.6-6.7-11-8.4c-1.3-0.5-2.6-0.9-3.9-1.2
    					c-2.9-0.7-5.4-0.9-8.5-1c-1.6-0.1,0.5,2.1,0.6,2.2c0.9,0.8,1.8,1.6,2.7,2.3C-31.1,454.7-30.6,455-29.9,455.1z"/>
    				<path id="XMLID_321_" class="st4" d="M-30,452.4c2.8-0.2,5.5,0.1,8.2,0.9c3,1,5.5,2.6,7.6,4.8c2,2.2,3.5,4.7,4.6,7.5
    					c2.1,5.4,3,12,0.9,17.5c-0.4,1,0.7,1.1,1.2,0.7c0.5-0.6,1-1.2,1.4-1.9s0.8-1.4,1.1-2.1c1.4-8.7-1.7-18-7.4-24.6
    					c-2-2.3-4.4-4.1-7-5.7c-1.2-0.8-2.6-1.4-4-2c-3.8-1.6-7.8-2-11.9-2.2c-1.7-0.1,0.4,2.4,0.6,2.5c0.9,1.1,1.9,2.1,2.9,3.2
    					C-31.3,451.7-30.7,452.1-30,452.4z"/>
    				<path id="XMLID_320_" class="st4" d="M-33.7,451.2c3.5-0.6,6.9-0.1,10.2,1.5c8.6,8.6,11.4,17.5,8.4,27c-0.2,0.6-0.6,1.5-0.1,2
    					s1.1,0.2,1.4-0.3c1.8-3.6,1.8-8,1.4-11.9c-0.2-2.5-0.8-4.9-1.6-7.2c-1.2-3.5-3.1-6.7-5.8-9.2c-1.7-1.5-4.1-3-6.3-3.7
    					c-2.6-0.8-4.9-0.4-7.5-0.1C-34.7,449.4-34.9,451.3-33.7,451.2z"/>
    				<path id="XMLID_319_" class="st4" d="M-35.9,452.3c6.1-0.3,11.3,1.7,15.8,6c-0.6-0.6-1.2-1.2-1.8-1.8c6.2,8.4,8.6,17,7,25.9
    					c-0.1,0.5,0.1,0.8,0.5,1c0.9,0.2,1.2-1.5,1.4-2c2-5.8,0.6-11.8-1.6-17.2c-1.4-3.5-3.5-6.8-6.2-9.3c-2.1-2-4.4-3.5-7.1-4.6
    					c-4-1.6-7.9-1.9-12.2-2.1c-0.3,0.1-0.5,0.3-0.5,0.7c0.1,0.5,0.4,0.9,0.9,1.2C-38.7,451-37.2,452.3-35.9,452.3z"/>
    				<path id="XMLID_318_" class="st4" d="M-33.2,456c5-0.3,9.5,1,13.5,3.9c-0.8-0.6-1.5-1.1-2.3-1.7c3.3,9,6.7,17.9,10,26.9
    					c0.3-1,0.5-2,0.8-2.9c-0.3,1-0.6,1.9-0.9,2.9c-0.2,0.6-0.8,3,0.7,2c0.6-0.4,1-1.5,1.3-2.1c0.5-1,1.4-2.5,1.5-3.7
    					c0.1-3.1-0.5-6.1-1.4-9.1c-1.3-4.3-3.5-8.6-6.6-11.9c-1.9-2.1-4-3.8-6.5-5.2c-2-1.1-4.2-1.9-6.4-2.4c-3.3-0.8-5.2-0.7-8.6-0.8
    					c-0.4,0.1-0.5,0.4-0.4,0.7c0.2,0.6,0.6,1,1.2,1.2C-36.3,454.7-34.7,456-33.2,456z"/>
    				<path id="XMLID_317_" class="st4" d="M-30.2,449.5c1.4,0,2.9,0.1,4.3,0.1c3,0.3,5.6,1.2,7.9,2.9c4.5,3,7.3,7.5,8.5,13.2
    					c1.1,4.9,1.3,10.2-0.6,15c-0.2,0.6,0.1,1.3,0.8,1.3c0.8,0,1.2-1.2,1.4-1.8c2.1-5.8,1.3-12.5-0.6-18.2c-1.5-4.5-4.1-8.4-7.7-11.5
    					c-2.4-2.1-5.2-3.5-8.2-4.5c-2.9-1-5.5-1.1-8.6-1.3c-1.2-0.1-0.4,1.5-0.2,1.9C-32.5,447.4-31.3,449.5-30.2,449.5z"/>
    				<path id="XMLID_316_" class="st4" d="M-35,454.9c5-0.3,9.4,0.9,13.4,3.9c-0.7-0.5-1.5-1.1-2.2-1.6c3.5,8.3,6.9,16.7,10.4,25
    					c0.1-1.1,0.2-2.3,0.3-3.4c-0.3,2.1-0.7,4.1-1.1,6.1c-0.1,0.5,0,0.8,0.4,1.1c1.2,0.4,2-3.6,2.2-4c0.8-2.4,1-3.8,0.6-6.4
    					c-0.5-3-1.5-6.1-2.8-8.9c-1.6-3.5-3.6-6.4-6.3-9.1c-2.2-2.2-4.8-3.8-7.7-4.9c-3.9-1.5-7.8-1.7-11.9-1.8
    					c-0.3,0.1-0.5,0.4-0.4,0.7c0.2,0.5,0.6,0.9,1.1,1.2C-38,453.7-36.5,454.9-35,454.9z"/>
    				<path id="XMLID_315_" class="st4" d="M-31,449.3c2.7,0.1,5.4,0,8,0.8c1.1,0.5,2.2,1,3.3,1.5c4.5,2.4,6.8,6.2,7,11.5
    					c1.8,2.8,2.6,5.7,2.5,8.8c0,0.8,0,1.5-0.1,2.3c-0.2,2-0.6,3.8-1.5,5.7c-0.3,0.6-0.1,1,0.5,1.3c0.7,0.3,0.9,0,1.2-0.6
    					c1.3-2.7,1.7-5.6,1.7-8.5c0-3.2-0.3-6.5-1.2-9.6c-0.9-3.2-2.5-6.1-4.5-8.8c-1.6-2-3.4-3.5-5.7-4.7c-1.2-0.5-2.4-1-3.5-1.6
    					c-2.6-0.7-5.2-1-7.9-0.8c-0.5,0-1.1,0.3-1.1,0.9C-32.4,448-31.5,449.3-31,449.3z"/>
    				<path id="XMLID_314_" class="st4" d="M-34.8,452.6c2.5-0.5,4.9-0.2,7.1,0.8c5.7,1,9.5,5,11.1,11.8c1.4,4.6,2.4,10.2,0.7,14.9
    					c-0.2,0.6-0.7,1.9-0.3,2.5c0.2,0.3,1,0.7,1.3,0.1c1.2-2.3,1.5-4.7,1.6-7.3c0.2-4.8-0.8-9.9-2.9-14.3c-1.2-2.6-2.9-4.9-5.1-6.8
    					c-1.7-1.5-3.9-2.7-6.1-3.5c-2.5-0.9-5.2-0.5-7.7-0.4C-36.3,450.7-36.1,452.7-34.8,452.6z"/>
    			</g>
    		</g>
    	</g>
    	<g id="XMLID_4_" class="st3">
    		<g id="XMLID_297_">
    			<g id="XMLID_298_">
    				<path id="XMLID_310_" class="st4" d="M-15.5,484.2c0,2.2-0.4,4.3-1.2,6.3c-2.1,4.8-5.1,8.8-9.1,12c-1.6,1.3-3.3,2.5-5.2,3.4
    					c-2.5,1.3-5.1,2.1-7.9,2.3c-0.4,0-1.1,0.2-1.2,0.7c-0.1,0.7,1.7,0.8,2,0.8c1.6,0.2,3.1,0.2,4.7,0.2c1.2,0,2.8,0.2,3.9-0.4
    					c6.2-2.9,11.4-7.4,15.1-13.2c3.7-5.9,6.3-12.4,7.1-19.4c0.2-1.9-3,1.2-2.9,1.1c-1.3,1.2-2.5,2.5-3.8,3.8
    					C-14.6,482.6-15.2,483.3-15.5,484.2z"/>
    				<path id="XMLID_309_" class="st4" d="M-14.9,481.2c-0.4,4.3-1.6,7.7-4,11.2c-3.7,5.3-8.1,8.6-14.4,11.5c1.1-0.4,2.2-0.8,3.2-1.2
    					c-2,0.6-3.9,1.3-5.9,1.9c1.1-0.3,2.3-0.6,3.4-0.9c1.4-0.3-6.1,0.7-6.7,1.6c-0.4,0.7,0.2,1,0.8,1c1.5,0.2,3.2-0.2,4.6-0.4
    					c3.2-0.4,6-1.8,8.7-3.6c4.9-3.3,9-8,11.7-13.3c2.1-4.2,3.3-8.3,3.8-13c0.2-1.6-2.2,0.7-2.2,0.6
    					C-12.7,477.8-14.7,479.6-14.9,481.2z"/>
    				<path id="XMLID_308_" class="st4" d="M-13.3,483.4c0,2.2-0.5,4.3-1.3,6.3c-2.1,4.9-5.1,8.9-9.1,12.2c-1.6,1.3-3.3,2.5-5.2,3.5
    					c-2.5,1.3-5.1,2.1-7.9,2.3c-0.3,0.1-1,0.3-1,0.7c-0.1,0.7,1.5,0.8,1.8,0.8c1.4,0.1,2.8,0.1,4.3,0.1c1.2,0,2.4,0,3.5-0.5
    					c5.1-2,9.4-5.3,13-9.5c5.3-6.2,8.7-14,9.7-22c0.2-1.8-2.8,0.8-2.7,0.8c-1.2,1.1-2.4,2.2-3.5,3.3C-12.5,482-13,482.6-13.3,483.4z
    					"/>
    				<path id="XMLID_307_" class="st4" d="M-12.7,487.3c-0.1,3.1-1,6-2.6,8.7c-0.8,1.5-1.7,2.8-2.9,4c-4.9,5.8-11.4,10-19.6,10.1
    					c-0.6,0-1,0.6-0.8,1.2c0.2,0.6,1,0.7,1.6,0.7c3.3-0.1,6-0.6,9.1-1.9c2.9-1.3,5.5-2.9,7.9-5c3.3-2.7,6.1-5.9,8.1-9.7
    					c1.7-3.2,2.5-6.1,2.9-9.6c0.1-1-1.1-0.7-1.6-0.5C-11.1,485.7-12.6,486.4-12.7,487.3z"/>
    				<path id="XMLID_306_" class="st4" d="M-12,484.6c-0.1,3.1-0.9,5.9-2.4,8.5c-1.1,1.9-2.3,3.7-3.8,5.3c-4.5,5.1-10.4,8.6-17.5,9.3
    					c-0.7,0.1-1.6,0.4-1.1,1.2c0.4,0.8,2.6,0.6,3.2,0.5c2.3-0.3,4.2-0.7,6.3-1.5c3.6-1.3,6.8-3.8,9.6-6.4c3-2.8,5.6-6.1,7.4-9.8
    					c1.6-3.2,2.3-6.2,2.8-9.7c0.2-1.2-1.5-0.4-1.8-0.2C-10.2,482.4-11.9,483.5-12,484.6z"/>
    				<path id="XMLID_305_" class="st4" d="M-18.6,481.5c0.1,2-0.4,3.9-1.3,5.7c-2.7,8.7-9.4,14.2-20.3,16.7c-0.6,0.1-2.4,0.2-2.6,1.1
    					c-0.1,0.9,1,0.9,1.6,0.8c4.7-0.4,8.8-2,12.7-4.8c3.4-2.5,6.3-5.5,8.6-9c1.2-1.9,2-3.6,2.8-5.7c0.8-2.2,1-4.2,1.3-6.4
    					c0.1-0.6-0.7-1-1.2-0.8C-17.7,479.4-18.5,480.8-18.6,481.5z"/>
    				<path id="XMLID_304_" class="st4" d="M-17.6,483.7c-0.7,6.1-3.1,10.7-7.1,15c-4,4.2-8.2,6.7-14,8.5c1.3-0.2,2.6-0.5,3.8-0.7
    					c-2.1,0.3-4.3,0.6-6.4,1c-0.3,0.1-1,0.3-1,0.7c-0.1,0.7,1.5,0.7,1.9,0.7c1.4,0.1,2.8,0.1,4.2,0c1.2-0.1,2.4-0.1,3.5-0.5
    					c12.2-5.2,19.9-18.3,21.3-31.1c0.2-1.8-2.6,1.2-2.4,1c-1,1.1-1.9,2.3-2.7,3.4C-17.1,482.3-17.4,483-17.6,483.7z"/>
    				<path id="XMLID_303_" class="st4" d="M-15.4,487.5c-0.1,1.1-0.2,2.2-0.4,3.2c-0.4,2-1.2,3.9-2.3,5.6c-1.5,2.8-3.3,5.3-5.7,7.5
    					c-1.6,1.4-3.3,2.8-5.1,3.9c-3.4,2.2-6.9,3.1-10.9,3.4c-0.9,0.1-0.7,1-0.3,1.4c0.8,0.6,3.1,1,4.1,0.8c4.6-0.9,8.5-2.4,12.3-5.2
    					c3-2.2,5.6-4.9,7.8-7.9c1.5-2.1,2.6-4.1,3.8-6.3c1.7-3.2,2.5-6.5,3-10.1c0.2-1.5-2,0-2.2,0.1c-1,0.7-1.9,1.4-2.8,2.1
    					C-14.8,486.4-15.2,486.9-15.4,487.5z"/>
    				<path id="XMLID_302_" class="st4" d="M-13.7,481.8c-0.5,5.4-1.8,9-5.9,13.5c-4.4,4.7-9.6,8.2-16.6,8.9c-0.6,0.1-2,0.1-1.9,1.1
    					s1.4,0.7,2.1,0.7c5.1-0.3,10-2.5,14-5.8c2.6-2.1,4.8-4.4,6.7-7.1c1.1-1.5,1.9-3.1,2.7-4.8c1.1-2.4,1.5-4.6,1.7-7.3
    					c0.1-0.6-0.5-1-1-1C-12.4,480-13.6,481.3-13.7,481.8z"/>
    				<path id="XMLID_301_" class="st4" d="M-17.1,486.2c-0.1,1.1-0.2,2.2-0.4,3.2c-1.2,2.7-2.4,5.3-3.6,8c-1.5,2.2-3.4,4.2-5.4,6
    					c-1.6,1.4-3.3,2.6-5.1,3.6c-3,1.7-5.7,2.5-9.3,2.9c-1.2,0.1-1.1,1-0.2,1.4c1,0.3,2.1,0.5,3.2,0.5c1.1,0.1,2.1,0.2,3.2,0.2
    					c2.4-0.8,4.4-1.5,6.6-2.8c2-1.2,3.8-2.7,5.6-4.2c6.9-6.1,11.3-15.6,12.4-24.6c0.2-1.7-2.6,0.7-2.5,0.7c-1.1,1-2.1,2-3.1,3.1
    					C-16.4,484.8-16.8,485.5-17.1,486.2z"/>
    				<path id="XMLID_300_" class="st4" d="M-15.4,480.8c-0.1,1.1-0.2,2.1-0.4,3.2c-0.6,2.5-1.6,4.8-3.1,6.8c-1.3,2.1-3,3.9-5.2,5.2
    					c-3.4,4.1-7.9,6.3-13.4,6.8c-0.6,0.1-2,0.1-2.3,0.8s0.4,1.2,1,1.1c2.4-0.1,4.7-0.4,7-1.3c3-1.2,5.7-2.8,8.2-4.8
    					c2.2-1.8,4.2-3.7,5.8-6c1.3-1.7,2.4-3.7,3.2-5.7c0.9-2.2,1.1-4.4,1.4-6.7c0.1-0.5-0.7-0.9-1.1-0.9
    					C-14.7,479.5-15.3,480.4-15.4,480.8z"/>
    				<path id="XMLID_299_" class="st4" d="M-19.3,482.5c-0.1,5-2,9.5-5.6,13.5c-5.4,5.2-11.4,8.5-18.3,9.9c-0.8,0.4-0.8,1.2,0.1,1.4
    					c1,0.3,3,0,4.1-0.2c2.7-0.5,5.5-1.7,7.8-3.1c3-1.8,5.6-4.2,7.9-6.8c1.4-1.6,2.6-3.4,3.7-5.3c2.2-3.7,3.2-7.7,3.6-11.9
    					c0.1-0.8-0.5-1.1-1.2-0.8C-17.9,479.6-19.2,481.6-19.3,482.5z"/>
    			</g>
    		</g>
    	</g>
    </g>
    <g id="sad">
    	<path id="XMLID_91_" class="st0" d="M11.2,562.2l-1.8,13.9c-1.5,11.6-0.7,23.4,2.2,34.8l0.2,0.8c2.2,8.7,2.8,17.7,1.7,26.5
    		l-2.3,17.9l-1.7,13.2C8,681,7.9,692.9,9.4,704.7l1.8,14.7l2.9,25.3c0.7,6.4,0.6,12.9-0.5,19.3l-2.4,15"/>
    	<path id="XMLID_66_" class="st1" d="M38.5,534.5c1.3-17.9-11.2-34.6-27.4-34.6c-1.1,0-1.9,0-3.5,0c-1.7,0-2.7,0.2-3,0.2
    		c-14.5,1.4-25.4,17.2-24.2,34.4c1,14.6,8.4,26.5,20.5,32.3c2.4,1.2,5,1.8,7.6,1.8s5.3-0.5,7.7-1.6
    		C29.4,561.2,37.4,549.3,38.5,534.5z"/>
    	<path id="XMLID_63_" class="st1" d="M9.1,566.5c0,1.1-1.1,4.1-1.3,4.6c-0.1,0.3-0.4,0.8-0.2,1.1c0.3,0.3,0.6,0.1,0.9-0.1
    		c0.3-0.2,0.5-0.4,0.9-0.4s0.7,0.1,1.1,0.2c0.4,0.1,0.8,0,0.9-0.3c0.1-0.3,0-0.5-0.1-0.8c-0.5-1.1-1.1-2.2-1.6-3.2
    		c-0.1,0-0.3-0.1-0.4-0.1"/>
    	<rect id="XMLID_82_" x="-1.5" y="524.4" class="st5" width="47" height="18"/>
    	<g id="XMLID_81_" class="st2">
    		<path d="M4,531.4c0,0.6-0.2,1.1-0.7,1.5c-0.4,0.4-1,0.5-1.7,0.5c-0.5,0-0.9-0.1-1.4-0.3s-0.9-0.4-1.3-0.7l0.6-1
    			c0.7,0.6,1.5,0.8,2.2,0.8c0.3,0,0.5-0.1,0.7-0.2c0.2-0.1,0.3-0.3,0.3-0.5c0-0.3-0.4-0.6-1.3-0.9c-0.1,0-0.1,0-0.1,0
    			c-1.3-0.4-2-1-2-1.8c0-0.6,0.2-1.1,0.7-1.4c0.5-0.4,1.1-0.5,1.8-0.5s1.4,0.2,2.1,0.6l-0.5,1c-0.5-0.3-1.1-0.5-1.7-0.5
    			c-0.3,0-0.6,0.1-0.8,0.2c-0.2,0.1-0.3,0.3-0.3,0.5s0.1,0.4,0.3,0.5c0.1,0.1,0.3,0.1,0.6,0.2c0.3,0.1,0.5,0.1,0.7,0.2
    			c0.2,0.1,0.4,0.1,0.6,0.2c0.2,0.1,0.4,0.2,0.6,0.3C3.8,530.3,4,530.7,4,531.4z"/>
    		<path d="M6,532.4c-0.6-0.6-0.9-1.4-0.9-2.4s0.3-1.8,0.9-2.4s1.3-0.9,2.2-0.9c0.8,0,1.5,0.4,2.1,1.2v-1h1.3v6.4h-1.3v-1
    			c-0.3,0.4-0.6,0.7-1,0.8c-0.4,0.2-0.8,0.3-1.2,0.3C7.3,533.4,6.6,533.1,6,532.4z M6.5,530.1c0,0.6,0.2,1.1,0.6,1.5
    			s0.9,0.6,1.4,0.6s1-0.2,1.3-0.6c0.4-0.4,0.6-0.9,0.6-1.5s-0.2-1.1-0.6-1.5C9.4,528.2,9,528,8.4,528s-1,0.2-1.4,0.6
    			C6.7,529,6.5,529.5,6.5,530.1z"/>
    		<path d="M14.1,532.4c-0.6-0.6-0.9-1.4-0.9-2.4s0.3-1.8,0.9-2.4c0.6-0.6,1.4-0.9,2.2-0.9c0.9,0,1.5,0.4,2.1,1.1v-3.5h1.3v8.9h-1.3
    			v-1c-0.5,0.7-1.2,1.1-2.2,1.1C15.4,533.4,14.7,533.1,14.1,532.4z M14.6,530.1c0,0.6,0.2,1.1,0.6,1.5s0.9,0.6,1.4,0.6
    			s1-0.2,1.3-0.6s0.6-0.9,0.6-1.5s-0.2-1.1-0.6-1.5s-0.8-0.6-1.4-0.6c-0.5,0-1,0.2-1.4,0.6S14.6,529.5,14.6,530.1z"/>
    	</g>
    	<g id="XMLID_5_" class="st3">
    		<g id="XMLID_221_">
    			<g id="XMLID_236_">
    				<path id="XMLID_276_" class="st4" d="M7.3,509.8c2.6-0.3,5.1,0,7.5,1c4.2,0.7,7.6,3.1,10.2,7c-0.8-1.1-1.6-2.2-2.4-3.2
    					c1.3,1.9,2.6,3.8,4,5.7c-0.7-1.2-1.4-2.3-2.1-3.5c1.1,2,2.2,4,3.3,6.1c-0.6-1.2-1.2-2.5-1.7-3.7c0.9,2.1,1.8,4.2,2.6,6.3
    					c-0.4-1.3-0.9-2.6-1.3-3.9c0.8,5.7,1.6,11.4,2.3,17.1c0.3-1.4,0.6-2.8,0.9-4.2c-0.4,1.8-0.9,3.6-1.3,5.4
    					c-0.1,0.3-0.1,1.1,0.3,1.3c0.7,0.3,1.3-1.4,1.4-1.7c0.6-1.5,1.1-3,1.6-4.5c0.4-1.1,1-2.7,0.8-3.9c-1.1-6.4-4.1-12.7-8.4-17.5
    					c-2.6-3-5.7-5.2-9.2-6.9c-1.2-0.6-2.3-1.1-3.6-1.5c-3.8-1.3-7.7-1.6-11.8-1.7c-1.8-0.1,1.2,2.6,1.1,2.5c1.2,1,2.4,1.9,3.6,2.8
    					C5.8,509.2,6.5,509.6,7.3,509.8z"/>
    				<path id="XMLID_275_" class="st4" d="M8.7,506.7c3.2-0.4,6.2,0.2,8.9,1.9c10.9,2.9,15.2,12,12.9,27.3c0.2-0.9,0.4-1.8,0.6-2.7
    					c-0.3,0.9-0.5,1.9-0.8,2.8c-0.2,0.7-0.5,2.8,0.8,1.9c0.6-0.4,0.8-1.4,1.1-2c0.4-1.1,1-2.3,1.1-3.5c0.5-6.6-1.7-13.8-5.3-19.3
    					c-2.5-3.8-5.8-6.8-9.9-8.9c-1.5-0.8-2.3-1.1-4-1.7c-3.3-1.1-6.4-1.4-9.9-1.5c-1.5-0.1,0.2,2.1,0.4,2.2c0.8,0.9,1.6,1.8,2.5,2.6
    					C7.5,506.2,8,506.6,8.7,506.7z"/>
    				<path id="XMLID_274_" class="st4" d="M9.3,509.1c1.5,0,2.9,0.1,4.4,0.1c2.3,0.1,4.5,0.8,6.4,2.1c1.5,0.5,2.7,1.2,3.8,2.3
    					c4.1,3.3,6.6,7.7,7.5,13.4c0.8,4,1.2,7.9,0,11.9c-0.1,0.3-0.2,1.1,0.2,1.3c0.6,0.4,1.3-1.2,1.5-1.5c0.7-1.3,1.3-2.7,1.9-4.1
    					c0.4-1,1.2-2.4,1.1-3.6c-0.7-6.8-3.7-13.4-8.1-18.6c-3-3.5-6.7-6.2-10.9-8.1c-2.2-1.1-4.6-1.9-7.1-2.4c-2.7-0.7-5.4-0.9-8.2-0.8
    					c-1.9-0.1,1.3,2.9,1.2,2.8c1.3,1.3,2.6,2.5,4,3.7C7.6,508.2,8.4,508.8,9.3,509.1z"/>
    				<path id="XMLID_273_" class="st4" d="M12.1,512.4c3.8-0.3,7.3,0.4,10.8,2.1c6.8,5.3,10.5,11.8,11,19.3c0.3,3.4,0.1,6.4-1.1,9.5
    					c-0.3,0.8,0.7,1.1,1.2,0.8c0.9-0.4,2-2.4,2.2-3.4c1.7-7.8-0.7-17-5.6-23.2c-2.9-3.6-6.6-6.7-11-8.4c-1.3-0.5-2.6-0.9-3.9-1.2
    					c-2.9-0.7-5.4-0.9-8.5-1c-1.6-0.1,0.5,2.1,0.6,2.2c0.9,0.8,1.8,1.6,2.7,2.3C10.9,512,11.5,512.3,12.1,512.4z"/>
    				<path id="XMLID_272_" class="st4" d="M12,509.6c2.8-0.2,5.5,0.1,8.2,0.9c3,1,5.5,2.6,7.6,4.8c2,2.2,3.5,4.7,4.6,7.5
    					c2.1,5.4,3,12,0.9,17.5c-0.4,1,0.7,1.1,1.2,0.7c0.5-0.6,1-1.2,1.4-1.9s0.8-1.4,1.1-2.1c1.4-8.7-1.7-18-7.4-24.6
    					c-2-2.3-4.4-4.1-7-5.7c-1.2-0.8-2.6-1.4-4-2c-3.8-1.6-7.8-2-11.9-2.2c-1.7-0.1,0.4,2.4,0.6,2.5c0.9,1.1,1.9,2.1,2.9,3.2
    					C10.7,508.9,11.3,509.4,12,509.6z"/>
    				<path id="XMLID_271_" class="st4" d="M8.3,508.5c3.5-0.6,6.9-0.1,10.2,1.5c8.6,8.6,11.4,17.5,8.4,27c-0.2,0.6-0.6,1.5-0.1,2
    					s1.1,0.2,1.4-0.3c1.8-3.6,1.8-8,1.4-11.9c-0.2-2.5-0.8-4.9-1.6-7.2c-1.2-3.5-3.1-6.7-5.8-9.2c-1.7-1.5-4.1-3-6.3-3.7
    					c-2.6-0.8-4.9-0.4-7.5-0.1C7.3,506.7,7.1,508.5,8.3,508.5z"/>
    				<path id="XMLID_270_" class="st4" d="M6.2,509.5c6.1-0.3,11.3,1.7,15.8,6c-0.6-0.6-1.2-1.2-1.8-1.8c6.2,8.4,8.6,17,7,25.9
    					c-0.1,0.5,0.1,0.8,0.5,1c0.9,0.2,1.2-1.5,1.4-2c2-5.8,0.6-11.8-1.6-17.2c-1.4-3.5-3.5-6.8-6.2-9.3c-2.1-2-4.4-3.5-7.1-4.6
    					c-4-1.6-7.9-1.9-12.2-2.1c-0.3,0.1-0.5,0.3-0.5,0.7c0.1,0.5,0.4,0.9,0.9,1.2C3.4,508.2,4.8,509.5,6.2,509.5z"/>
    				<path id="XMLID_269_" class="st4" d="M8.9,513.2c5-0.3,9.5,1,13.5,3.9c-0.8-0.6-1.5-1.1-2.3-1.7c3.3,9,6.7,17.9,10,26.9
    					c0.3-1,0.5-2,0.8-2.9c-0.3,1-0.6,1.9-0.9,2.9c-0.2,0.6-0.8,3,0.7,2c0.6-0.4,1-1.5,1.3-2.1c0.5-1,1.4-2.5,1.5-3.7
    					c0.1-3.1-0.5-6.1-1.4-9.1c-1.3-4.3-3.5-8.6-6.6-11.9c-1.9-2.1-4-3.8-6.5-5.2c-2-1.1-4.2-1.9-6.4-2.4c-3.3-0.8-5.2-0.7-8.6-0.8
    					c-0.4,0.1-0.5,0.4-0.4,0.7c0.2,0.6,0.6,1,1.2,1.2C5.7,511.9,7.4,513.2,8.9,513.2z"/>
    				<path id="XMLID_268_" class="st4" d="M11.8,506.8c1.4,0,2.9,0.1,4.3,0.1c3,0.3,5.6,1.2,7.9,2.9c4.5,3,7.3,7.5,8.5,13.2
    					c1.1,4.9,1.3,10.2-0.6,15c-0.2,0.6,0.1,1.3,0.8,1.3c0.8,0,1.2-1.2,1.4-1.8c2.1-5.8,1.3-12.5-0.6-18.2c-1.5-4.5-4.1-8.4-7.7-11.5
    					c-2.4-2.1-5.2-3.5-8.2-4.5c-2.9-1-5.5-1.1-8.6-1.3c-1.2-0.1-0.4,1.5-0.2,1.9C9.5,504.6,10.7,506.7,11.8,506.8z"/>
    				<path id="XMLID_267_" class="st4" d="M7,512.1c5-0.3,9.4,0.9,13.4,3.9c-0.7-0.5-1.5-1.1-2.2-1.6c3.5,8.3,6.9,16.7,10.4,25
    					c0.1-1.1,0.2-2.3,0.3-3.4c-0.3,2.1-0.7,4.1-1.1,6.1c-0.1,0.5,0,0.8,0.4,1.1c1.2,0.4,2-3.6,2.2-4c0.8-2.4,1-3.8,0.6-6.4
    					c-0.5-3-1.5-6.1-2.8-8.9c-1.6-3.5-3.6-6.4-6.3-9.1c-2.2-2.2-4.8-3.8-7.7-4.9c-3.9-1.5-7.8-1.7-11.9-1.8
    					c-0.3,0.1-0.5,0.4-0.4,0.7c0.2,0.5,0.6,0.9,1.1,1.2C4,510.9,5.6,512.1,7,512.1z"/>
    				<path id="XMLID_266_" class="st4" d="M11,506.5c2.7,0.1,5.4,0,8,0.8c1.1,0.5,2.2,1,3.3,1.5c4.5,2.4,6.8,6.2,7,11.5
    					c1.8,2.8,2.6,5.7,2.5,8.8c0,0.8,0,1.5-0.1,2.3c-0.2,2-0.6,3.8-1.5,5.7c-0.3,0.6-0.1,1,0.5,1.3c0.7,0.3,0.9,0,1.2-0.6
    					c1.3-2.7,1.7-5.6,1.7-8.5c0-3.2-0.3-6.5-1.2-9.6c-0.9-3.2-2.5-6.1-4.5-8.8c-1.6-2-3.4-3.5-5.7-4.7c-1.2-0.5-2.4-1-3.5-1.6
    					c-2.6-0.7-5.2-1-7.9-0.8c-0.5,0-1.1,0.3-1.1,0.9C9.6,505.2,10.6,506.5,11,506.5z"/>
    				<path id="XMLID_251_" class="st4" d="M7.2,509.9c2.5-0.5,4.9-0.2,7.1,0.8c5.7,1,9.5,5,11.1,11.8c1.4,4.6,2.4,10.2,0.7,14.9
    					c-0.2,0.6-0.7,1.9-0.3,2.5c0.2,0.3,1,0.7,1.3,0.1c1.2-2.3,1.5-4.7,1.6-7.3c0.2-4.8-0.8-9.9-2.9-14.3c-1.2-2.6-2.9-4.9-5.1-6.8
    					c-1.7-1.5-3.9-2.7-6.1-3.5c-2.5-0.9-5.2-0.5-7.7-0.4C5.7,507.9,6,509.9,7.2,509.9z"/>
    			</g>
    		</g>
    	</g>
    	<g id="XMLID_1_" class="st3">
    		<g id="XMLID_71_">
    			<g id="XMLID_73_">
    				<path id="XMLID_191_" class="st4" d="M26.5,541.5c0,2.2-0.4,4.3-1.2,6.3c-2.1,4.8-5.1,8.8-9.1,12c-1.6,1.3-3.3,2.5-5.2,3.4
    					c-2.5,1.3-5.1,2.1-7.9,2.3c-0.4,0-1.1,0.2-1.2,0.7c-0.1,0.7,1.7,0.8,2,0.8c1.6,0.2,3.1,0.2,4.7,0.2c1.2,0,2.8,0.2,3.9-0.4
    					c6.2-2.9,11.4-7.4,15.1-13.2c3.7-5.9,6.3-12.4,7.1-19.4c0.2-1.9-3,1.2-2.9,1.1c-1.3,1.2-2.5,2.5-3.8,3.8
    					C27.4,539.8,26.9,540.6,26.5,541.5z"/>
    				<path id="XMLID_176_" class="st4" d="M27.2,538.4c-0.4,4.3-1.6,7.7-4,11.2c-3.7,5.3-8.1,8.6-14.4,11.5c1.1-0.4,2.2-0.8,3.2-1.2
    					c-2,0.6-3.9,1.3-5.9,1.9c1.1-0.3,2.3-0.6,3.4-0.9c1.4-0.3-6.1,0.7-6.7,1.6c-0.4,0.7,0.2,1,0.8,1c1.5,0.2,3.2-0.2,4.6-0.4
    					c3.2-0.4,6-1.8,8.7-3.6c4.9-3.3,9-8,11.7-13.3c2.1-4.2,3.3-8.3,3.8-13c0.2-1.6-2.2,0.7-2.2,0.6C29.3,535,27.3,536.8,27.2,538.4z
    					"/>
    				<path id="XMLID_161_" class="st4" d="M28.7,540.7c0,2.2-0.5,4.3-1.3,6.3c-2.1,4.9-5.1,8.9-9.1,12.2c-1.6,1.3-3.3,2.5-5.2,3.5
    					c-2.5,1.3-5.1,2.1-7.9,2.3c-0.3,0.1-1,0.3-1,0.7c-0.1,0.7,1.5,0.8,1.8,0.8c1.4,0.1,2.8,0.1,4.3,0.1c1.2,0,2.4,0,3.5-0.5
    					c5.1-2,9.4-5.3,13-9.5c5.3-6.2,8.7-14,9.7-22c0.2-1.8-2.8,0.8-2.7,0.8c-1.2,1.1-2.4,2.2-3.5,3.3C29.5,539.2,29,539.9,28.7,540.7
    					z"/>
    				<path id="XMLID_146_" class="st4" d="M29.4,544.6c-0.1,3.1-1,6-2.6,8.7c-0.8,1.5-1.7,2.8-2.9,4c-4.9,5.8-11.4,10-19.6,10.1
    					c-0.6,0-1,0.6-0.8,1.2s1,0.7,1.6,0.7c3.3-0.1,6-0.6,9.1-1.9c2.9-1.3,5.5-2.9,7.9-5c3.3-2.7,6.1-5.9,8.1-9.7
    					c1.7-3.2,2.5-6.1,2.9-9.6c0.1-1-1.1-0.7-1.6-0.5C30.9,542.9,29.5,543.6,29.4,544.6z"/>
    				<path id="XMLID_131_" class="st4" d="M30,541.8c-0.1,3.1-0.9,5.9-2.4,8.5c-1.1,1.9-2.3,3.7-3.8,5.3c-4.5,5.1-10.4,8.6-17.5,9.3
    					c-0.7,0.1-1.6,0.4-1.1,1.2c0.4,0.8,2.6,0.6,3.2,0.5c2.3-0.3,4.2-0.7,6.3-1.5c3.6-1.3,6.8-3.8,9.6-6.4c3-2.8,5.6-6.1,7.4-9.8
    					c1.6-3.2,2.3-6.2,2.8-9.7c0.2-1.2-1.5-0.4-1.8-0.2C31.9,539.6,30.1,540.7,30,541.8z"/>
    				<path id="XMLID_116_" class="st4" d="M23.4,538.7c0.1,2-0.4,3.9-1.3,5.7c-2.7,8.7-9.4,14.2-20.3,16.7c-0.6,0.1-2.4,0.2-2.6,1.1
    					c-0.1,0.9,1,0.9,1.6,0.8c4.7-0.4,8.8-2,12.7-4.8c3.4-2.5,6.3-5.5,8.6-9c1.2-1.9,2-3.6,2.8-5.7c0.8-2.2,1-4.2,1.3-6.4
    					c0.1-0.6-0.7-1-1.2-0.8C24.3,536.6,23.5,538,23.4,538.7z"/>
    				<path id="XMLID_113_" class="st4" d="M24.4,541c-0.7,6.1-3.1,10.7-7.1,15c-4,4.2-8.2,6.7-14,8.5c1.3-0.2,2.6-0.5,3.8-0.7
    					c-2.1,0.3-4.3,0.6-6.4,1c-0.3,0.1-1,0.3-1,0.7c-0.1,0.7,1.5,0.7,1.9,0.7c1.4,0.1,2.8,0.1,4.2,0c1.2-0.1,2.4-0.1,3.5-0.5
    					c12.2-5.2,19.9-18.3,21.3-31.1c0.2-1.8-2.6,1.2-2.4,1c-1,1.1-1.9,2.3-2.7,3.4C25,539.5,24.6,540.2,24.4,541z"/>
    				<path id="XMLID_112_" class="st4" d="M26.6,544.8c-0.1,1.1-0.2,2.2-0.4,3.2c-0.4,2-1.2,3.9-2.3,5.6c-1.5,2.8-3.3,5.3-5.7,7.5
    					c-1.6,1.4-3.3,2.8-5.1,3.9c-3.4,2.2-6.9,3.1-10.9,3.4c-0.9,0.1-0.7,1-0.3,1.4c0.8,0.6,3.1,1,4.1,0.8c4.6-0.9,8.5-2.4,12.3-5.2
    					c3-2.2,5.6-4.9,7.8-7.9c1.5-2.1,2.6-4.1,3.8-6.3c1.7-3.2,2.5-6.5,3-10.1c0.2-1.5-2,0-2.2,0.1c-1,0.7-1.9,1.4-2.8,2.1
    					C27.2,543.7,26.8,544.1,26.6,544.8z"/>
    				<path id="XMLID_99_" class="st4" d="M28.4,539c-0.5,5.4-1.8,9-5.9,13.5c-4.4,4.7-9.6,8.2-16.6,8.9c-0.6,0.1-2,0.1-1.9,1.1
    					s1.4,0.7,2.1,0.7c5.1-0.3,10-2.5,14-5.8c2.6-2.1,4.8-4.4,6.7-7.1c1.1-1.5,1.9-3.1,2.7-4.8c1.1-2.4,1.5-4.6,1.7-7.3
    					c0.1-0.6-0.5-1-1-1C29.6,537.3,28.4,538.5,28.4,539z"/>
    				<path id="XMLID_96_" class="st4" d="M25,543.5c-0.1,1.1-0.2,2.2-0.4,3.2c-1.2,2.7-2.4,5.3-3.6,8c-1.5,2.2-3.4,4.2-5.4,6
    					c-1.6,1.4-3.3,2.6-5.1,3.6c-3,1.7-5.7,2.5-9.3,2.9c-1.2,0.1-1.1,1-0.2,1.4c1,0.3,2.1,0.5,3.2,0.5c1.1,0.1,2.1,0.2,3.2,0.2
    					c2.4-0.8,4.4-1.5,6.6-2.8c2-1.2,3.8-2.7,5.6-4.2c6.9-6.1,11.3-15.6,12.4-24.6c0.2-1.7-2.6,0.7-2.5,0.7c-1.1,1-2.1,2-3.1,3.1
    					C25.7,542.1,25.2,542.7,25,543.5z"/>
    				<path id="XMLID_95_" class="st4" d="M26.7,538.1c-0.1,1.1-0.2,2.1-0.4,3.2c-0.6,2.5-1.6,4.8-3.1,6.8c-1.3,2.1-3,3.9-5.2,5.2
    					c-3.4,4.1-7.9,6.3-13.4,6.8c-0.6,0.1-2,0.1-2.3,0.8s0.4,1.2,1,1.1c2.4-0.1,4.7-0.4,7-1.3c3-1.2,5.7-2.8,8.2-4.8
    					c2.2-1.8,4.2-3.7,5.8-6c1.3-1.7,2.4-3.7,3.2-5.7c0.9-2.2,1.1-4.4,1.4-6.7c0.1-0.5-0.7-0.9-1.1-0.9
    					C27.3,536.7,26.7,537.6,26.7,538.1z"/>
    				<path id="XMLID_74_" class="st4" d="M22.8,539.7c-0.1,5-2,9.5-5.6,13.5c-5.4,5.2-11.4,8.5-18.3,9.9c-0.8,0.4-0.8,1.2,0.1,1.4
    					c1,0.3,3,0,4.1-0.2c2.7-0.5,5.5-1.7,7.8-3.1c3-1.8,5.6-4.2,7.9-6.8c1.4-1.6,2.6-3.4,3.7-5.3c2.2-3.7,3.2-7.7,3.6-11.9
    					c0.1-0.8-0.5-1.1-1.2-0.8C24.1,536.8,22.9,538.8,22.8,539.7z"/>
    			</g>
    		</g>
    	</g>
    </g>
    <g id="kind">
    	<path id="XMLID_90_" class="st0" d="M-53,545.4l-1.8,13.9c-1.5,11.6-0.7,23.4,2.2,34.8l0.2,0.8c2.2,8.7,2.8,17.7,1.7,26.5
    		l-2.3,17.9l-1.7,13.2c-1.5,11.7-1.6,23.6-0.1,35.4l1.8,14.7l2.9,25.3c0.7,6.4,0.6,12.9-0.5,19.3l-2.4,15"/>
    	<path id="XMLID_57_" class="st1" d="M-78.7,575.3c-1.3-17.9,11.2-34.6,27.4-34.6c1.1,0,1.9,0,3.5,0c1.7,0,2.7,0.2,3,0.2
    		c14.5,1.4,25.4,17.2,24.2,34.4c-1,14.6-8.4,26.5-20.5,32.3c-2.4,1.2-5,1.8-7.6,1.8s-5.3-0.5-7.7-1.6
    		C-69.5,602-77.6,590.1-78.7,575.3z"/>
    	<path id="XMLID_54_" class="st1" d="M-49.2,607.3c0,1.1,1.1,4.1,1.3,4.6c0.1,0.3,0.4,0.8,0.2,1.1c-0.3,0.3-0.6,0.1-0.9-0.1
    		c-0.3-0.2-0.5-0.4-0.9-0.4s-0.7,0.1-1.1,0.2c-0.4,0.1-0.8,0-0.9-0.3c-0.1-0.3,0-0.5,0.1-0.8c0.5-1.1,1.1-2.2,1.6-3.2
    		c0.1,0,0.3-0.1,0.4-0.1"/>
    	<g id="XMLID_84_" class="st2">
    		<path d="M-60.4,575.1h-1.3v-8.9h1.3v5.2l2.6-2.7h1.7l-2.4,2.5l2.6,3.9h-1.6l-1.9-2.8l-1,1C-60.4,573.3-60.4,575.1-60.4,575.1z"/>
    		<path d="M-54.7,567.4c-0.2-0.2-0.3-0.4-0.3-0.6s0.1-0.4,0.3-0.6s0.4-0.3,0.6-0.3c0.2,0,0.4,0.1,0.6,0.3s0.3,0.4,0.3,0.6
    			s-0.1,0.4-0.3,0.6s-0.4,0.3-0.6,0.3C-54.3,567.7-54.5,567.6-54.7,567.4z M-53.4,575.1h-1.3v-6.4h1.3V575.1z"/>
    		<path d="M-50.2,571.6v3.5h-1.3v-6.4h1.3v1.2c0.2-0.4,0.5-0.7,0.9-0.9s0.8-0.3,1.2-0.3c0.7,0,1.3,0.2,1.7,0.7
    			c0.4,0.4,0.7,1.1,0.7,1.9v3.9H-47v-3.5c0-1.2-0.5-1.8-1.5-1.8c-0.5,0-0.9,0.2-1.2,0.5C-50,570.6-50.2,571.1-50.2,571.6z"/>
    		<path d="M-43.3,574.3c-0.6-0.6-0.9-1.4-0.9-2.4s0.3-1.8,0.9-2.4c0.6-0.6,1.4-0.9,2.2-0.9c0.9,0,1.5,0.4,2.1,1.1v-3.5h1.3v8.9H-39
    			v-1c-0.5,0.7-1.2,1.1-2.2,1.1C-42,575.2-42.7,574.9-43.3,574.3z M-42.8,571.9c0,0.6,0.2,1.1,0.6,1.5c0.4,0.4,0.9,0.6,1.4,0.6
    			s1-0.2,1.3-0.6s0.6-0.9,0.6-1.5s-0.2-1.1-0.6-1.5c-0.4-0.4-0.8-0.6-1.4-0.6c-0.5,0-1,0.2-1.4,0.6
    			C-42.6,570.8-42.8,571.3-42.8,571.9z"/>
    	</g>
    	<g id="XMLID_8_" class="st3">
    		<g id="XMLID_252_">
    			<g id="XMLID_253_">
    				<path id="XMLID_265_" class="st4" d="M-50.7,551.4c2.6-0.3,5.1,0,7.5,1c4.2,0.7,7.6,3.1,10.2,7c-0.8-1.1-1.6-2.2-2.4-3.2
    					c1.3,1.9,2.6,3.8,4,5.7c-0.7-1.2-1.4-2.3-2.1-3.5c1.1,2,2.2,4,3.3,6.1c-0.6-1.2-1.2-2.5-1.7-3.7c0.9,2.1,1.8,4.2,2.6,6.3
    					c-0.4-1.3-0.9-2.6-1.3-3.9c0.8,5.7,1.6,11.4,2.3,17.1c0.3-1.4,0.6-2.8,0.9-4.2c-0.4,1.8-0.9,3.6-1.3,5.4
    					c-0.1,0.3-0.1,1.1,0.3,1.3c0.7,0.3,1.3-1.4,1.4-1.7c0.6-1.5,1.1-3,1.6-4.5c0.4-1.1,1-2.7,0.8-3.9c-1.1-6.4-4.1-12.7-8.4-17.5
    					c-2.6-3-5.7-5.2-9.2-6.9c-1.2-0.6-2.3-1.1-3.6-1.5c-3.8-1.3-7.7-1.6-11.8-1.7c-1.8-0.1,1.2,2.6,1.1,2.5c1.2,1,2.4,1.9,3.6,2.8
    					C-52.3,550.8-51.5,551.2-50.7,551.4z"/>
    				<path id="XMLID_264_" class="st4" d="M-49.4,548.3c3.2-0.4,6.2,0.2,8.9,1.9c10.9,2.9,15.2,12,12.9,27.3c0.2-0.9,0.4-1.8,0.6-2.7
    					c-0.3,0.9-0.5,1.9-0.8,2.8c-0.2,0.7-0.5,2.8,0.8,1.9c0.6-0.4,0.8-1.4,1.1-2c0.4-1.1,1-2.3,1.1-3.5c0.5-6.6-1.7-13.8-5.3-19.3
    					c-2.5-3.8-5.8-6.8-9.9-8.9c-1.5-0.8-2.3-1.1-4-1.7c-3.3-1.1-6.4-1.4-9.9-1.5c-1.5-0.1,0.2,2.1,0.4,2.2c0.8,0.9,1.6,1.8,2.5,2.6
    					C-50.6,547.8-50.1,548.2-49.4,548.3z"/>
    				<path id="XMLID_263_" class="st4" d="M-48.8,550.7c1.5,0,2.9,0.1,4.4,0.1c2.3,0.1,4.5,0.8,6.4,2.1c1.5,0.5,2.7,1.2,3.8,2.3
    					c4.1,3.3,6.6,7.7,7.5,13.4c0.8,4,1.2,7.9,0,11.9c-0.1,0.3-0.2,1.1,0.2,1.3c0.6,0.4,1.3-1.2,1.5-1.5c0.7-1.3,1.3-2.7,1.9-4.1
    					c0.4-1,1.2-2.4,1.1-3.6c-0.7-6.8-3.7-13.4-8.1-18.6c-3-3.5-6.7-6.2-10.9-8.1c-2.2-1.1-4.6-1.9-7.1-2.4c-2.7-0.7-5.4-0.9-8.2-0.8
    					c-1.9-0.1,1.3,2.9,1.2,2.8c1.3,1.3,2.6,2.5,4,3.7C-50.5,549.9-49.7,550.4-48.8,550.7z"/>
    				<path id="XMLID_262_" class="st4" d="M-45.9,554c3.8-0.3,7.3,0.4,10.8,2.1c6.8,5.3,10.5,11.8,11,19.3c0.3,3.4,0.1,6.4-1.1,9.5
    					c-0.3,0.8,0.7,1.1,1.2,0.8c0.9-0.4,2-2.4,2.2-3.4c1.7-7.8-0.7-17-5.6-23.2c-2.9-3.6-6.6-6.7-11-8.4c-1.3-0.5-2.6-0.9-3.9-1.2
    					c-2.9-0.7-5.4-0.9-8.5-1c-1.6-0.1,0.5,2.1,0.6,2.2c0.9,0.8,1.8,1.6,2.7,2.3C-47.2,553.6-46.6,553.9-45.9,554z"/>
    				<path id="XMLID_261_" class="st4" d="M-46,551.3c2.8-0.2,5.5,0.1,8.2,0.9c3,1,5.5,2.6,7.6,4.8c2,2.2,3.5,4.7,4.6,7.5
    					c2.1,5.4,3,12,0.9,17.5c-0.4,1,0.7,1.1,1.2,0.7c0.5-0.6,1-1.2,1.4-1.9s0.8-1.4,1.1-2.1c1.4-8.7-1.7-18-7.4-24.6
    					c-2-2.3-4.4-4.1-7-5.7c-1.2-0.8-2.6-1.4-4-2c-3.8-1.6-7.8-2-11.9-2.2c-1.7-0.1,0.4,2.4,0.6,2.5c0.9,1.1,1.9,2.1,2.9,3.2
    					C-47.4,550.5-46.8,551-46,551.3z"/>
    				<path id="XMLID_260_" class="st4" d="M-49.7,550.1c3.5-0.6,6.9-0.1,10.2,1.5c8.6,8.6,11.4,17.5,8.4,27c-0.2,0.6-0.6,1.5-0.1,2
    					s1.1,0.2,1.4-0.3c1.8-3.6,1.8-8,1.4-11.9c-0.2-2.5-0.8-4.9-1.6-7.2c-1.2-3.5-3.1-6.7-5.8-9.2c-1.7-1.5-4.1-3-6.3-3.7
    					c-2.6-0.8-4.9-0.4-7.5-0.1C-50.8,548.3-51,550.2-49.7,550.1z"/>
    				<path id="XMLID_259_" class="st4" d="M-51.9,551.2c6.1-0.3,11.3,1.7,15.8,6c-0.6-0.6-1.2-1.2-1.8-1.8c6.2,8.4,8.6,17,7,25.9
    					c-0.1,0.5,0.1,0.8,0.5,1c0.9,0.2,1.2-1.5,1.4-2c2-5.8,0.6-11.8-1.6-17.2c-1.4-3.5-3.5-6.8-6.2-9.3c-2.1-2-4.4-3.5-7.1-4.6
    					c-4-1.6-7.9-1.9-12.2-2.1c-0.3,0.1-0.5,0.3-0.5,0.7c0.1,0.5,0.4,0.9,0.9,1.2C-54.7,549.8-53.3,551.1-51.9,551.2z"/>
    				<path id="XMLID_258_" class="st4" d="M-49.2,554.9c5-0.3,9.5,1,13.5,3.9c-0.8-0.6-1.5-1.1-2.3-1.7c3.3,9,6.7,17.9,10,26.9
    					c0.3-1,0.5-2,0.8-2.9c-0.3,1-0.6,1.9-0.9,2.9c-0.2,0.6-0.8,3,0.7,2c0.6-0.4,1-1.5,1.3-2.1c0.5-1,1.4-2.5,1.5-3.7
    					c0.1-3.1-0.5-6.1-1.4-9.1c-1.3-4.3-3.5-8.6-6.6-11.9c-1.9-2.1-4-3.8-6.5-5.2c-2-1.1-4.2-1.9-6.4-2.4c-3.3-0.8-5.2-0.7-8.6-0.8
    					c-0.4,0.1-0.5,0.4-0.4,0.7c0.2,0.6,0.6,1,1.2,1.2C-52.4,553.6-50.7,554.8-49.2,554.9z"/>
    				<path id="XMLID_257_" class="st4" d="M-46.2,548.4c1.4,0,2.9,0.1,4.3,0.1c3,0.3,5.6,1.2,7.9,2.9c4.5,3,7.3,7.5,8.5,13.2
    					c1.1,4.9,1.3,10.2-0.6,15c-0.2,0.6,0.1,1.3,0.8,1.3c0.8,0,1.2-1.2,1.4-1.8c2.1-5.8,1.3-12.5-0.6-18.2c-1.5-4.5-4.1-8.4-7.7-11.5
    					c-2.4-2.1-5.2-3.5-8.2-4.5c-2.9-1-5.5-1.1-8.6-1.3c-1.2-0.1-0.4,1.5-0.2,1.9C-48.5,546.2-47.3,548.4-46.2,548.4z"/>
    				<path id="XMLID_256_" class="st4" d="M-51,553.8c5-0.3,9.4,0.9,13.4,3.9c-0.7-0.5-1.5-1.1-2.2-1.6c3.5,8.3,6.9,16.7,10.4,25
    					c0.1-1.1,0.2-2.3,0.3-3.4c-0.3,2.1-0.7,4.1-1.1,6.1c-0.1,0.5,0,0.8,0.4,1.1c1.2,0.4,2-3.6,2.2-4c0.8-2.4,1-3.8,0.6-6.4
    					c-0.5-3-1.5-6.1-2.8-8.9c-1.6-3.5-3.6-6.4-6.3-9.1c-2.2-2.2-4.8-3.8-7.7-4.9c-3.9-1.5-7.8-1.7-11.9-1.8
    					c-0.3,0.1-0.5,0.4-0.4,0.7c0.2,0.5,0.6,0.9,1.1,1.2C-54,552.6-52.5,553.7-51,553.8z"/>
    				<path id="XMLID_255_" class="st4" d="M-47,548.2c2.7,0.1,5.4,0,8,0.8c1.1,0.5,2.2,1,3.3,1.5c4.5,2.4,6.8,6.2,7,11.5
    					c1.8,2.8,2.6,5.7,2.5,8.8c0,0.8,0,1.5-0.1,2.3c-0.2,2-0.6,3.8-1.5,5.7c-0.3,0.6-0.1,1,0.5,1.3c0.7,0.3,0.9,0,1.2-0.6
    					c1.3-2.7,1.7-5.6,1.7-8.5c0-3.2-0.3-6.5-1.2-9.6c-0.9-3.2-2.5-6.1-4.5-8.8c-1.6-2-3.4-3.5-5.7-4.7c-1.2-0.5-2.4-1-3.5-1.6
    					c-2.6-0.7-5.2-1-7.9-0.8c-0.5,0-1.1,0.3-1.1,0.9C-48.4,546.8-47.5,548.1-47,548.2z"/>
    				<path id="XMLID_254_" class="st4" d="M-50.9,551.5c2.5-0.5,4.9-0.2,7.1,0.8c5.7,1,9.5,5,11.1,11.8c1.4,4.6,2.4,10.2,0.7,14.9
    					c-0.2,0.6-0.7,1.9-0.3,2.5c0.2,0.3,1,0.7,1.3,0.1c1.2-2.3,1.5-4.7,1.6-7.3c0.2-4.8-0.8-9.9-2.9-14.3c-1.2-2.6-2.9-4.9-5.1-6.8
    					c-1.7-1.5-3.9-2.7-6.1-3.5c-2.5-0.9-5.2-0.5-7.7-0.4C-52.3,549.5-52.1,551.5-50.9,551.5z"/>
    			</g>
    		</g>
    	</g>
    	<g id="XMLID_7_" class="st3">
    		<g id="XMLID_206_">
    			<g id="XMLID_237_">
    				<path id="XMLID_249_" class="st4" d="M-31.6,583.1c0,2.2-0.4,4.3-1.2,6.3c-2.1,4.8-5.1,8.8-9.1,12c-1.6,1.3-3.3,2.5-5.2,3.4
    					c-2.5,1.3-5.1,2.1-7.9,2.3c-0.4,0-1.1,0.2-1.2,0.7c-0.1,0.7,1.7,0.8,2,0.8c1.6,0.2,3.1,0.2,4.7,0.2c1.2,0,2.8,0.2,3.9-0.4
    					c6.2-2.9,11.4-7.4,15.1-13.2c3.7-5.9,6.3-12.4,7.1-19.4c0.2-1.9-3,1.2-2.9,1.1c-1.3,1.2-2.5,2.5-3.8,3.8
    					C-30.6,581.4-31.2,582.2-31.6,583.1z"/>
    				<path id="XMLID_248_" class="st4" d="M-30.9,580.1c-0.4,4.3-1.6,7.7-4,11.2c-3.7,5.3-8.1,8.6-14.4,11.5c1.1-0.4,2.2-0.8,3.2-1.2
    					c-2,0.6-3.9,1.3-5.9,1.9c1.1-0.3,2.3-0.6,3.4-0.9c1.4-0.3-6.1,0.7-6.7,1.6c-0.4,0.7,0.2,1,0.8,1c1.5,0.2,3.2-0.2,4.6-0.4
    					c3.2-0.4,6-1.8,8.7-3.6c4.9-3.3,9-8,11.7-13.3c2.1-4.2,3.3-8.3,3.8-13c0.2-1.6-2.2,0.7-2.2,0.6
    					C-28.8,576.7-30.7,578.5-30.9,580.1z"/>
    				<path id="XMLID_247_" class="st4" d="M-29.4,582.3c0,2.2-0.5,4.3-1.3,6.3c-2.1,4.9-5.1,8.9-9.1,12.2c-1.6,1.3-3.3,2.5-5.2,3.5
    					c-2.5,1.3-5.1,2.1-7.9,2.3c-0.3,0.1-1,0.3-1,0.7c-0.1,0.7,1.5,0.8,1.8,0.8c1.4,0.1,2.8,0.1,4.3,0.1c1.2,0,2.4,0,3.5-0.5
    					c5.1-2,9.4-5.3,13-9.5c5.3-6.2,8.7-14,9.7-22c0.2-1.8-2.8,0.8-2.7,0.8c-1.2,1.1-2.4,2.2-3.5,3.3
    					C-28.5,580.8-29.1,581.5-29.4,582.3z"/>
    				<path id="XMLID_246_" class="st4" d="M-28.7,586.2c-0.1,3.1-1,6-2.6,8.7c-0.8,1.5-1.7,2.8-2.9,4c-4.9,5.8-11.4,10-19.6,10.1
    					c-0.6,0-1,0.6-0.8,1.2c0.2,0.6,1,0.7,1.6,0.7c3.3-0.1,6-0.6,9.1-1.9c2.9-1.3,5.5-2.9,7.9-5c3.3-2.7,6.1-5.9,8.1-9.7
    					c1.7-3.2,2.5-6.1,2.9-9.6c0.1-1-1.1-0.7-1.6-0.5C-27.2,584.5-28.6,585.3-28.7,586.2z"/>
    				<path id="XMLID_245_" class="st4" d="M-28.1,583.5c-0.1,3.1-0.9,5.9-2.4,8.5c-1.1,1.9-2.3,3.7-3.8,5.3
    					c-4.5,5.1-10.4,8.6-17.5,9.3c-0.7,0.1-1.6,0.4-1.1,1.2c0.4,0.8,2.6,0.6,3.2,0.5c2.3-0.3,4.2-0.7,6.3-1.5
    					c3.6-1.3,6.8-3.8,9.6-6.4c3-2.8,5.6-6.1,7.4-9.8c1.6-3.2,2.3-6.2,2.8-9.7c0.2-1.2-1.5-0.4-1.8-0.2
    					C-26.2,581.3-28,582.3-28.1,583.5z"/>
    				<path id="XMLID_244_" class="st4" d="M-34.6,580.3c0.1,2-0.4,3.9-1.3,5.7c-2.7,8.7-9.4,14.2-20.3,16.7c-0.6,0.1-2.4,0.2-2.6,1.1
    					c-0.1,0.9,1,0.9,1.6,0.8c4.7-0.4,8.8-2,12.7-4.8c3.4-2.5,6.3-5.5,8.6-9c1.2-1.9,2-3.6,2.8-5.7c0.8-2.2,1-4.2,1.3-6.4
    					c0.1-0.6-0.7-1-1.2-0.8C-33.8,578.2-34.6,579.6-34.6,580.3z"/>
    				<path id="XMLID_243_" class="st4" d="M-33.6,582.6c-0.7,6.1-3.1,10.7-7.1,15c-4,4.2-8.2,6.7-14,8.5c1.3-0.2,2.6-0.5,3.8-0.7
    					c-2.1,0.3-4.3,0.6-6.4,1c-0.3,0.1-1,0.3-1,0.7c-0.1,0.7,1.5,0.7,1.9,0.7c1.4,0.1,2.8,0.1,4.2,0c1.2-0.1,2.4-0.1,3.5-0.5
    					c12.2-5.2,19.9-18.3,21.3-31.1c0.2-1.8-2.6,1.2-2.4,1c-1,1.1-1.9,2.3-2.7,3.4C-33.1,581.1-33.5,581.8-33.6,582.6z"/>
    				<path id="XMLID_242_" class="st4" d="M-31.5,586.4c-0.1,1.1-0.2,2.2-0.4,3.2c-0.4,2-1.2,3.9-2.3,5.6c-1.5,2.8-3.3,5.3-5.7,7.5
    					c-1.6,1.4-3.3,2.8-5.1,3.9c-3.4,2.2-6.9,3.1-10.9,3.4c-0.9,0.1-0.7,1-0.3,1.4c0.8,0.6,3.1,1,4.1,0.8c4.6-0.9,8.5-2.4,12.3-5.2
    					c3-2.2,5.6-4.9,7.8-7.9c1.5-2.1,2.6-4.1,3.8-6.3c1.7-3.2,2.5-6.5,3-10.1c0.2-1.5-2,0-2.2,0.1c-1,0.7-1.9,1.4-2.8,2.1
    					C-30.9,585.3-31.2,585.8-31.5,586.4z"/>
    				<path id="XMLID_241_" class="st4" d="M-29.7,580.7c-0.5,5.4-1.8,9-5.9,13.5c-4.4,4.7-9.6,8.2-16.6,8.9c-0.6,0.1-2,0.1-1.9,1.1
    					s1.4,0.7,2.1,0.7c5.1-0.3,10-2.5,14-5.8c2.6-2.1,4.8-4.4,6.7-7.1c1.1-1.5,1.9-3.1,2.7-4.8c1.1-2.4,1.5-4.6,1.7-7.3
    					c0.1-0.6-0.5-1-1-1C-28.5,578.9-29.6,580.1-29.7,580.7z"/>
    				<path id="XMLID_240_" class="st4" d="M-33.1,585.1c-0.1,1.1-0.2,2.2-0.4,3.2c-1.2,2.7-2.4,5.3-3.6,8c-1.5,2.2-3.4,4.2-5.4,6
    					c-1.6,1.4-3.3,2.6-5.1,3.6c-3,1.7-5.7,2.5-9.3,2.9c-1.2,0.1-1.1,1-0.2,1.4c1,0.3,2.1,0.5,3.2,0.5c1.1,0.1,2.1,0.2,3.2,0.2
    					c2.4-0.8,4.4-1.5,6.6-2.8c2-1.2,3.8-2.7,5.6-4.2c6.9-6.1,11.3-15.6,12.4-24.6c0.2-1.7-2.6,0.7-2.5,0.7c-1.1,1-2.1,2-3.1,3.1
    					C-32.4,583.7-32.9,584.3-33.1,585.1z"/>
    				<path id="XMLID_239_" class="st4" d="M-31.4,579.7c-0.1,1.1-0.2,2.1-0.4,3.2c-0.6,2.5-1.6,4.8-3.1,6.8c-1.3,2.1-3,3.9-5.2,5.2
    					c-3.4,4.1-7.9,6.3-13.4,6.8c-0.6,0.1-2,0.1-2.3,0.8s0.4,1.2,1,1.1c2.4-0.1,4.7-0.4,7-1.3c3-1.2,5.7-2.8,8.2-4.8
    					c2.2-1.8,4.2-3.7,5.8-6c1.3-1.7,2.4-3.7,3.2-5.7c0.9-2.2,1.1-4.4,1.4-6.7c0.1-0.5-0.7-0.9-1.1-0.9
    					C-30.8,578.4-31.4,579.2-31.4,579.7z"/>
    				<path id="XMLID_238_" class="st4" d="M-35.3,581.3c-0.1,5-2,9.5-5.6,13.5c-5.4,5.2-11.4,8.5-18.3,9.9c-0.8,0.4-0.8,1.2,0.1,1.4
    					c1,0.3,3,0,4.1-0.2c2.7-0.5,5.5-1.7,7.8-3.1c3-1.8,5.6-4.2,7.9-6.8c1.4-1.6,2.6-3.4,3.7-5.3c2.2-3.7,3.2-7.7,3.6-11.9
    					c0.1-0.8-0.5-1.1-1.2-0.8C-34,578.4-35.2,580.5-35.3,581.3z"/>
    			</g>
    		</g>
    	</g>
    </g>
    <g id="fun">
    	<path id="XMLID_93_" class="st0" d="M-97.5,503.9l1.8,14.2c1.5,11.8,0.7,23.8-2.2,35.4l-0.2,0.8c-2.2,8.8-2.8,18-1.7,27l2.3,18.2
    		l1.7,13.5c1.5,11.9,1.6,24,0.1,35.9l-1.8,15l-2.9,25.7c-0.7,6.5-0.6,13.1,0.5,19.6l2.4,15.3"/>
    	<path id="XMLID_30_" class="st1" d="M-126.8,468.8c-1.3-17.9,11.2-34.6,27.4-34.6c1.1,0,1.9,0,3.5,0c1.7,0,2.7,0.2,3,0.2
    		c14.5,1.4,25.4,17.2,24.2,34.4c-1,14.6-8.4,26.5-20.5,32.3c-2.4,1.2-5,1.8-7.6,1.8c-2.6,0-5.3-0.5-7.7-1.6
    		C-117.7,495.5-125.7,483.6-126.8,468.8z"/>
    	<path id="XMLID_27_" class="st1" d="M-97.3,500.8c0,1.1,1.1,4.1,1.3,4.6c0.1,0.3,0.4,0.8,0.2,1.1c-0.3,0.3-0.6,0.1-0.9-0.1
    		c-0.3-0.2-0.5-0.4-0.9-0.4c-0.4,0-0.7,0.1-1.1,0.2c-0.4,0.1-0.8,0-0.9-0.3c-0.1-0.3,0-0.5,0.1-0.8c0.5-1.1,1.1-2.2,1.6-3.2
    		c0.1,0,0.3-0.1,0.4-0.1"/>
    	<g id="XMLID_83_" class="st2">
    		<path d="M-105.1,462.1v1.1h1.7v1.1h-1.7v4.2h-1.3v-6.4c0-0.7,0.2-1.2,0.6-1.6c0.4-0.4,1-0.6,1.6-0.6c0.6,0,1.2,0.2,1.7,0.6
    			l-0.6,1.1c-0.3-0.3-0.7-0.5-1.1-0.5C-104.8,461.2-105.1,461.5-105.1,462.1z"/>
    		<path d="M-97.5,465.6v-3.5h1.3v6.4h-1.3v-1.2c-0.2,0.4-0.5,0.7-0.9,0.9c-0.4,0.2-0.8,0.3-1.2,0.3c-0.7,0-1.3-0.2-1.7-0.7
    			c-0.4-0.4-0.7-1.1-0.7-1.9V462h1.3v3.5c0,1.2,0.5,1.8,1.5,1.8c0.5,0,0.9-0.2,1.2-0.5C-97.7,466.7-97.5,466.2-97.5,465.6z"/>
    		<path d="M-92.9,465.1v3.5h-1.3v-6.4h1.3v1.2c0.2-0.4,0.5-0.7,0.9-0.9c0.4-0.2,0.8-0.3,1.2-0.3c0.7,0,1.3,0.2,1.7,0.7
    			c0.4,0.4,0.7,1.1,0.7,1.9v3.9h-1.3v-3.5c0-1.2-0.5-1.8-1.5-1.8c-0.5,0-0.9,0.2-1.2,0.5C-92.7,464.1-92.9,464.5-92.9,465.1z"/>
    	</g>
    	<g id="XMLID_10_" class="st3">
    		<g id="XMLID_222_">
    			<g id="XMLID_223_">
    				<path id="XMLID_235_" class="st4" d="M-98.3,444.1c2.6-0.3,5.1,0,7.5,1c4.2,0.7,7.6,3.1,10.2,7c-0.8-1.1-1.6-2.2-2.4-3.2
    					c1.3,1.9,2.6,3.8,4,5.7c-0.7-1.2-1.4-2.3-2.1-3.5c1.1,2,2.2,4,3.3,6.1c-0.6-1.2-1.2-2.5-1.7-3.7c0.9,2.1,1.8,4.2,2.6,6.3
    					c-0.4-1.3-0.9-2.6-1.3-3.9c0.8,5.7,1.6,11.4,2.3,17.1c0.3-1.4,0.6-2.8,0.9-4.2c-0.4,1.8-0.9,3.6-1.3,5.4
    					c-0.1,0.3-0.1,1.1,0.3,1.3c0.7,0.3,1.3-1.4,1.4-1.7c0.6-1.5,1.1-3,1.6-4.5c0.4-1.1,1-2.7,0.8-3.9c-1.1-6.4-4.1-12.7-8.4-17.5
    					c-2.6-3-5.7-5.2-9.2-6.9c-1.2-0.6-2.3-1.1-3.6-1.5c-3.8-1.3-7.7-1.6-11.8-1.7c-1.8-0.1,1.2,2.6,1.1,2.5c1.2,1,2.4,1.9,3.6,2.8
    					C-99.9,443.5-99.2,443.9-98.3,444.1z"/>
    				<path id="XMLID_234_" class="st4" d="M-97,441c3.2-0.4,6.2,0.2,8.9,1.9c10.9,2.9,15.2,12,12.9,27.3c0.2-0.9,0.4-1.8,0.6-2.7
    					c-0.3,0.9-0.5,1.9-0.8,2.8c-0.2,0.7-0.5,2.8,0.8,1.9c0.6-0.4,0.8-1.4,1.1-2c0.4-1.1,1-2.3,1.1-3.5c0.5-6.6-1.7-13.8-5.3-19.3
    					c-2.5-3.8-5.8-6.8-9.9-8.9c-1.5-0.8-2.3-1.1-4-1.7c-3.3-1.1-6.4-1.4-9.9-1.5c-1.5-0.1,0.2,2.1,0.4,2.2c0.8,0.9,1.6,1.8,2.5,2.6
    					C-98.2,440.5-97.7,440.9-97,441z"/>
    				<path id="XMLID_233_" class="st4" d="M-96.4,443.4c1.5,0,2.9,0.1,4.4,0.1c2.3,0.1,4.5,0.8,6.4,2.1c1.5,0.5,2.7,1.2,3.8,2.3
    					c4.1,3.3,6.6,7.7,7.5,13.4c0.8,4,1.2,7.9,0,11.9c-0.1,0.3-0.2,1.1,0.2,1.3c0.6,0.4,1.3-1.2,1.5-1.5c0.7-1.3,1.3-2.7,1.9-4.1
    					c0.4-1,1.2-2.4,1.1-3.6c-0.7-6.8-3.7-13.4-8.1-18.6c-3-3.5-6.7-6.2-10.9-8.1c-2.2-1.1-4.6-1.9-7.1-2.4c-2.7-0.7-5.4-0.9-8.2-0.8
    					c-1.9-0.1,1.3,2.9,1.2,2.8c1.3,1.3,2.6,2.5,4,3.7C-98.1,442.5-97.3,443.1-96.4,443.4z"/>
    				<path id="XMLID_232_" class="st4" d="M-93.5,446.7c3.8-0.3,7.3,0.4,10.8,2.1c6.8,5.3,10.5,11.8,11,19.3c0.3,3.4,0.1,6.4-1.1,9.5
    					c-0.3,0.8,0.7,1.1,1.2,0.8c0.9-0.4,2-2.4,2.2-3.4c1.7-7.8-0.7-17-5.6-23.2c-2.9-3.6-6.6-6.7-11-8.4c-1.3-0.5-2.6-0.9-3.9-1.2
    					c-2.9-0.7-5.4-0.9-8.5-1c-1.6-0.1,0.5,2.1,0.6,2.2c0.9,0.8,1.8,1.6,2.7,2.3C-94.8,446.3-94.2,446.6-93.5,446.7z"/>
    				<path id="XMLID_231_" class="st4" d="M-93.6,443.9c2.8-0.2,5.5,0.1,8.2,0.9c3,1,5.5,2.6,7.6,4.8c2,2.2,3.5,4.7,4.6,7.5
    					c2.1,5.4,3,12,0.9,17.5c-0.4,1,0.7,1.1,1.2,0.7c0.5-0.6,1-1.2,1.4-1.9c0.4-0.7,0.8-1.4,1.1-2.1c1.4-8.7-1.7-18-7.4-24.6
    					c-2-2.3-4.4-4.1-7-5.7c-1.2-0.8-2.6-1.4-4-2c-3.8-1.6-7.8-2-11.9-2.2c-1.7-0.1,0.4,2.4,0.6,2.5c0.9,1.1,1.9,2.1,2.9,3.2
    					C-95,443.2-94.4,443.7-93.6,443.9z"/>
    				<path id="XMLID_230_" class="st4" d="M-97.3,442.8c3.5-0.6,6.9-0.1,10.2,1.5c8.6,8.6,11.4,17.5,8.4,27c-0.2,0.6-0.6,1.5-0.1,2
    					s1.1,0.2,1.4-0.3c1.8-3.6,1.8-8,1.4-11.9c-0.2-2.5-0.8-4.9-1.6-7.2c-1.2-3.5-3.1-6.7-5.8-9.2c-1.7-1.5-4.1-3-6.3-3.7
    					c-2.6-0.8-4.9-0.4-7.5-0.1C-98.4,441-98.6,442.8-97.3,442.8z"/>
    				<path id="XMLID_229_" class="st4" d="M-99.5,443.8c6.1-0.3,11.3,1.7,15.8,6c-0.6-0.6-1.2-1.2-1.8-1.8c6.2,8.4,8.6,17,7,25.9
    					c-0.1,0.5,0.1,0.8,0.5,1c0.9,0.2,1.2-1.5,1.4-2c2-5.8,0.6-11.8-1.6-17.2c-1.4-3.5-3.5-6.8-6.2-9.3c-2.1-2-4.4-3.5-7.1-4.6
    					c-4-1.6-7.9-1.9-12.2-2.1c-0.3,0.1-0.5,0.3-0.5,0.7c0.1,0.5,0.4,0.9,0.9,1.2C-102.3,442.5-100.9,443.8-99.5,443.8z"/>
    				<path id="XMLID_228_" class="st4" d="M-96.8,447.5c5-0.3,9.5,1,13.5,3.9c-0.8-0.6-1.5-1.1-2.3-1.7c3.3,9,6.7,17.9,10,26.9
    					c0.3-1,0.5-2,0.8-2.9c-0.3,1-0.6,1.9-0.9,2.9c-0.2,0.6-0.8,3,0.7,2c0.6-0.4,1-1.5,1.3-2.1c0.5-1,1.4-2.5,1.5-3.7
    					c0.1-3.1-0.5-6.1-1.4-9.1c-1.3-4.3-3.5-8.6-6.6-11.9c-1.9-2.1-4-3.8-6.5-5.2c-2-1.1-4.2-1.9-6.4-2.4c-3.3-0.8-5.2-0.7-8.6-0.8
    					c-0.4,0.1-0.5,0.4-0.4,0.7c0.2,0.6,0.6,1,1.2,1.2C-100,446.2-98.3,447.5-96.8,447.5z"/>
    				<path id="XMLID_227_" class="st4" d="M-93.8,441.1c1.4,0,2.9,0.1,4.3,0.1c3,0.3,5.6,1.2,7.9,2.9c4.5,3,7.3,7.5,8.5,13.2
    					c1.1,4.9,1.3,10.2-0.6,15c-0.2,0.6,0.1,1.3,0.8,1.3c0.8,0,1.2-1.2,1.4-1.8c2.1-5.8,1.3-12.5-0.6-18.2c-1.5-4.5-4.1-8.4-7.7-11.5
    					c-2.4-2.1-5.2-3.5-8.2-4.5c-2.9-1-5.5-1.1-8.6-1.3c-1.2-0.1-0.4,1.5-0.2,1.9C-96.1,438.9-94.9,441-93.8,441.1z"/>
    				<path id="XMLID_226_" class="st4" d="M-98.6,446.4c5-0.3,9.4,0.9,13.4,3.9c-0.7-0.5-1.5-1.1-2.2-1.6c3.5,8.3,6.9,16.7,10.4,25
    					c0.1-1.1,0.2-2.3,0.3-3.4c-0.3,2.1-0.7,4.1-1.1,6.1c-0.1,0.5,0,0.8,0.4,1.1c1.2,0.4,2-3.6,2.2-4c0.8-2.4,1-3.8,0.6-6.4
    					c-0.5-3-1.5-6.1-2.8-8.9c-1.6-3.5-3.6-6.4-6.3-9.1c-2.2-2.2-4.8-3.8-7.7-4.9c-3.9-1.5-7.8-1.7-11.9-1.8
    					c-0.3,0.1-0.5,0.4-0.4,0.7c0.2,0.5,0.6,0.9,1.1,1.2C-101.6,445.2-100.1,446.4-98.6,446.4z"/>
    				<path id="XMLID_225_" class="st4" d="M-94.6,440.8c2.7,0.1,5.4,0,8,0.8c1.1,0.5,2.2,1,3.3,1.5c4.5,2.4,6.8,6.2,7,11.5
    					c1.8,2.8,2.6,5.7,2.5,8.8c0,0.8,0,1.5-0.1,2.3c-0.2,2-0.6,3.8-1.5,5.7c-0.3,0.6-0.1,1,0.5,1.3c0.7,0.3,0.9,0,1.2-0.6
    					c1.3-2.7,1.7-5.6,1.7-8.5c0-3.2-0.3-6.5-1.2-9.6c-0.9-3.2-2.5-6.1-4.5-8.8c-1.6-2-3.4-3.5-5.7-4.7c-1.2-0.5-2.4-1-3.5-1.6
    					c-2.6-0.7-5.2-1-7.9-0.8c-0.5,0-1.1,0.3-1.1,0.9C-96,439.5-95.1,440.8-94.6,440.8z"/>
    				<path id="XMLID_224_" class="st4" d="M-98.5,444.2c2.5-0.5,4.9-0.2,7.1,0.8c5.7,1,9.5,5,11.1,11.8c1.4,4.6,2.4,10.2,0.7,14.9
    					c-0.2,0.6-0.7,1.9-0.3,2.5c0.2,0.3,1,0.7,1.3,0.1c1.2-2.3,1.5-4.7,1.6-7.3c0.2-4.8-0.8-9.9-2.9-14.3c-1.2-2.6-2.9-4.9-5.1-6.8
    					c-1.7-1.5-3.9-2.7-6.1-3.5c-2.5-0.9-5.2-0.5-7.7-0.4C-99.9,442.2-99.7,444.2-98.5,444.2z"/>
    			</g>
    		</g>
    	</g>
    	<g id="XMLID_9_" class="st3">
    		<g id="XMLID_207_">
    			<g id="XMLID_208_">
    				<path id="XMLID_220_" class="st4" d="M-79.2,475.8c0,2.2-0.4,4.3-1.2,6.3c-2.1,4.8-5.1,8.8-9.1,12c-1.6,1.3-3.3,2.5-5.2,3.4
    					c-2.5,1.3-5.1,2.1-7.9,2.3c-0.4,0-1.1,0.2-1.2,0.7c-0.1,0.7,1.7,0.8,2,0.8c1.6,0.2,3.1,0.2,4.7,0.2c1.2,0,2.8,0.2,3.9-0.4
    					c6.2-2.9,11.4-7.4,15.1-13.2c3.7-5.9,6.3-12.4,7.1-19.4c0.2-1.9-3,1.2-2.9,1.1c-1.3,1.2-2.5,2.5-3.8,3.8
    					C-78.2,474.1-78.8,474.9-79.2,475.8z"/>
    				<path id="XMLID_219_" class="st4" d="M-78.5,472.7c-0.4,4.3-1.6,7.7-4,11.2c-3.7,5.3-8.1,8.6-14.4,11.5c1.1-0.4,2.2-0.8,3.2-1.2
    					c-2,0.6-3.9,1.3-5.9,1.9c1.1-0.3,2.3-0.6,3.4-0.9c1.4-0.3-6.1,0.7-6.7,1.6c-0.4,0.7,0.2,1,0.8,1c1.5,0.2,3.2-0.2,4.6-0.4
    					c3.2-0.4,6-1.8,8.7-3.6c4.9-3.3,9-8,11.7-13.3c2.1-4.2,3.3-8.3,3.8-13c0.2-1.6-2.2,0.7-2.2,0.6
    					C-76.4,469.3-78.3,471.1-78.5,472.7z"/>
    				<path id="XMLID_218_" class="st4" d="M-77,475c0,2.2-0.5,4.3-1.3,6.3c-2.1,4.9-5.1,8.9-9.1,12.2c-1.6,1.3-3.3,2.5-5.2,3.5
    					c-2.5,1.3-5.1,2.1-7.9,2.3c-0.3,0.1-1,0.3-1,0.7c-0.1,0.7,1.5,0.8,1.8,0.8c1.4,0.1,2.8,0.1,4.3,0.1c1.2,0,2.4,0,3.5-0.5
    					c5.1-2,9.4-5.3,13-9.5c5.3-6.2,8.7-14,9.7-22c0.2-1.8-2.8,0.8-2.7,0.8c-1.2,1.1-2.4,2.2-3.5,3.3C-76.1,473.5-76.7,474.2-77,475z
    					"/>
    				<path id="XMLID_217_" class="st4" d="M-76.3,478.9c-0.1,3.1-1,6-2.6,8.7c-0.8,1.5-1.7,2.8-2.9,4c-4.9,5.8-11.4,10-19.6,10.1
    					c-0.6,0-1,0.6-0.8,1.2s1,0.7,1.6,0.7c3.3-0.1,6-0.6,9.1-1.9c2.9-1.3,5.5-2.9,7.9-5c3.3-2.7,6.1-5.9,8.1-9.7
    					c1.7-3.2,2.5-6.1,2.9-9.6c0.1-1-1.1-0.7-1.6-0.5C-74.8,477.2-76.2,477.9-76.3,478.9z"/>
    				<path id="XMLID_216_" class="st4" d="M-75.7,476.1c-0.1,3.1-0.9,5.9-2.4,8.5c-1.1,1.9-2.3,3.7-3.8,5.3
    					c-4.5,5.1-10.4,8.6-17.5,9.3c-0.7,0.1-1.6,0.4-1.1,1.2c0.4,0.8,2.6,0.6,3.2,0.5c2.3-0.3,4.2-0.7,6.3-1.5
    					c3.6-1.3,6.8-3.8,9.6-6.4c3-2.8,5.6-6.1,7.4-9.8c1.6-3.2,2.3-6.2,2.8-9.7c0.2-1.2-1.5-0.4-1.8-0.2
    					C-73.8,473.9-75.6,475-75.7,476.1z"/>
    				<path id="XMLID_215_" class="st4" d="M-82.3,473c0.1,2-0.4,3.9-1.3,5.7c-2.7,8.7-9.4,14.2-20.3,16.7c-0.6,0.1-2.4,0.2-2.6,1.1
    					c-0.1,0.9,1,0.9,1.6,0.8c4.7-0.4,8.8-2,12.7-4.8c3.4-2.5,6.3-5.5,8.6-9c1.2-1.9,2-3.6,2.8-5.7c0.8-2.2,1-4.2,1.3-6.4
    					c0.1-0.6-0.7-1-1.2-0.8C-81.4,470.9-82.2,472.3-82.3,473z"/>
    				<path id="XMLID_214_" class="st4" d="M-81.2,475.3c-0.7,6.1-3.1,10.7-7.1,15c-4,4.2-8.2,6.7-14,8.5c1.3-0.2,2.6-0.5,3.8-0.7
    					c-2.1,0.3-4.3,0.6-6.4,1c-0.3,0.1-1,0.3-1,0.7c-0.1,0.7,1.5,0.7,1.9,0.7c1.4,0.1,2.8,0.1,4.2,0c1.2-0.1,2.4-0.1,3.5-0.5
    					c12.2-5.2,19.9-18.3,21.3-31.1c0.2-1.8-2.6,1.2-2.4,1c-1,1.1-1.9,2.3-2.7,3.4C-80.7,473.8-81.1,474.5-81.2,475.3z"/>
    				<path id="XMLID_213_" class="st4" d="M-79.1,479.1c-0.1,1.1-0.2,2.2-0.4,3.2c-0.4,2-1.2,3.9-2.3,5.6c-1.5,2.8-3.3,5.3-5.7,7.5
    					c-1.6,1.4-3.3,2.8-5.1,3.9c-3.4,2.2-6.9,3.1-10.9,3.4c-0.9,0.1-0.7,1-0.3,1.4c0.8,0.6,3.1,1,4.1,0.8c4.6-0.9,8.5-2.4,12.3-5.2
    					c3-2.2,5.6-4.9,7.8-7.9c1.5-2.1,2.6-4.1,3.8-6.3c1.7-3.2,2.5-6.5,3-10.1c0.2-1.5-2,0-2.2,0.1c-1,0.7-1.9,1.4-2.8,2.1
    					C-78.5,478-78.8,478.4-79.1,479.1z"/>
    				<path id="XMLID_212_" class="st4" d="M-77.3,473.3c-0.5,5.4-1.8,9-5.9,13.5c-4.4,4.7-9.6,8.2-16.6,8.9c-0.6,0.1-2,0.1-1.9,1.1
    					c0.1,1,1.4,0.7,2.1,0.7c5.1-0.3,10-2.5,14-5.8c2.6-2.1,4.8-4.4,6.7-7.1c1.1-1.5,1.9-3.1,2.7-4.8c1.1-2.4,1.5-4.6,1.7-7.3
    					c0.1-0.6-0.5-1-1-1C-76.1,471.6-77.3,472.8-77.3,473.3z"/>
    				<path id="XMLID_211_" class="st4" d="M-80.7,477.8c-0.1,1.1-0.2,2.2-0.4,3.2c-1.2,2.7-2.4,5.3-3.6,8c-1.5,2.2-3.4,4.2-5.4,6
    					c-1.6,1.4-3.3,2.6-5.1,3.6c-3,1.7-5.7,2.5-9.3,2.9c-1.2,0.1-1.1,1-0.2,1.4c1,0.3,2.1,0.5,3.2,0.5c1.1,0.1,2.1,0.2,3.2,0.2
    					c2.4-0.8,4.4-1.5,6.6-2.8c2-1.2,3.8-2.7,5.6-4.2c6.9-6.1,11.3-15.6,12.4-24.6c0.2-1.7-2.6,0.7-2.5,0.7c-1.1,1-2.1,2-3.1,3.1
    					C-80,476.4-80.5,477-80.7,477.8z"/>
    				<path id="XMLID_210_" class="st4" d="M-79,472.4c-0.1,1.1-0.2,2.1-0.4,3.2c-0.6,2.5-1.6,4.8-3.1,6.8c-1.3,2.1-3,3.9-5.2,5.2
    					c-3.4,4.1-7.9,6.3-13.4,6.8c-0.6,0.1-2,0.1-2.3,0.8c-0.3,0.7,0.4,1.2,1,1.1c2.4-0.1,4.7-0.4,7-1.3c3-1.2,5.7-2.8,8.2-4.8
    					c2.2-1.8,4.2-3.7,5.8-6c1.3-1.7,2.4-3.7,3.2-5.7c0.9-2.2,1.1-4.4,1.4-6.7c0.1-0.5-0.7-0.9-1.1-0.9C-78.4,471-79,471.9-79,472.4z
    					"/>
    				<path id="XMLID_209_" class="st4" d="M-82.9,474c-0.1,5-2,9.5-5.6,13.5c-5.4,5.2-11.4,8.5-18.3,9.9c-0.8,0.4-0.8,1.2,0.1,1.4
    					c1,0.3,3,0,4.1-0.2c2.7-0.5,5.5-1.7,7.8-3.1c3-1.8,5.6-4.2,7.9-6.8c1.4-1.6,2.6-3.4,3.7-5.3c2.2-3.7,3.2-7.7,3.6-11.9
    					c0.1-0.8-0.5-1.1-1.2-0.8C-81.6,471.1-82.8,473.1-82.9,474z"/>
    			</g>
    		</g>
    	</g>
    </g>
    <g id="happy">
    	<path id="XMLID_21_" class="st1" d="M-134.8,496.3c1.3-17.9-11.2-34.6-27.4-34.6c-1.1,0-1.9,0-3.5,0c-1.7,0-2.7,0.2-3,0.2
    		c-14.5,1.4-25.4,17.2-24.2,34.4c1,14.6,8.4,26.5,20.5,32.3c2.4,1.2,5,1.8,7.6,1.8s5.3-0.5,7.7-1.6
    		C-144,523-135.9,511.1-134.8,496.3z"/>
    	<path id="XMLID_18_" class="st1" d="M-164.3,528.3c0,1.1-1.1,4.1-1.3,4.6c-0.1,0.3-0.4,0.8-0.2,1.1c0.3,0.3,0.6,0.1,0.9-0.1
    		s0.5-0.4,0.9-0.4s0.7,0.1,1.1,0.2c0.4,0.1,0.8,0,0.9-0.3c0.1-0.3,0-0.5-0.1-0.8c-0.5-1.1-1.1-2.2-1.6-3.2c-0.1,0-0.3-0.1-0.4-0.1"
    		/>
    	<path id="XMLID_94_" class="st0" d="M-164.1,533.1l-1.8,13.9c-1.5,11.6-0.7,23.4,2.2,34.8l0.2,0.8c2.2,8.7,2.8,17.7,1.7,26.5
    		l-2.3,17.9l-1.7,13.2c-1.6,11.8-1.6,23.7-0.2,35.5l1.8,14.7l2.9,25.3c0.7,6.4,0.6,12.9-0.5,19.3l-2.4,15"/>
    	<rect id="XMLID_2_" x="-183.7" y="485.7" class="st5" width="47" height="18"/>
    	<g id="XMLID_78_" class="st2">
    		<path d="M-181.4,491.1v3.5h-1.3v-8.9h1.3v3.7c0.2-0.4,0.5-0.7,0.9-0.9c0.4-0.2,0.8-0.3,1.3-0.3c0.7,0,1.3,0.2,1.7,0.7
    			c0.4,0.4,0.7,1.1,0.7,1.9v3.9h-1.3v-3.5c0-1.2-0.5-1.8-1.5-1.8c-0.5,0-0.9,0.2-1.2,0.5C-181.2,490.1-181.4,490.5-181.4,491.1z"/>
    		<path d="M-174.5,493.8c-0.6-0.6-0.9-1.4-0.9-2.4s0.3-1.8,0.9-2.4c0.6-0.6,1.3-0.9,2.2-0.9c0.8,0,1.5,0.4,2.1,1.2v-1.1h1.3v6.4
    			h-1.3v-1c-0.3,0.4-0.6,0.7-1,0.8c-0.4,0.2-0.8,0.3-1.2,0.3C-173.2,494.7-173.9,494.4-174.5,493.8z M-174.1,491.4
    			c0,0.6,0.2,1.1,0.6,1.5c0.4,0.4,0.9,0.6,1.4,0.6s1-0.2,1.3-0.6c0.4-0.4,0.6-0.9,0.6-1.5s-0.2-1.1-0.6-1.5
    			c-0.4-0.4-0.8-0.6-1.4-0.6c-0.5,0-1,0.2-1.4,0.6C-173.9,490.3-174.1,490.8-174.1,491.4z"/>
    		<path d="M-163.5,488.1c0.9,0,1.6,0.3,2.2,0.9s0.9,1.4,0.9,2.4s-0.3,1.8-0.9,2.4c-0.6,0.6-1.3,0.9-2.1,0.9s-1.5-0.4-2.2-1.1v3.3
    			h-1.3v-8.7h1.3v1.1C-165.1,488.5-164.4,488.1-163.5,488.1z M-165.6,491.4c0,0.6,0.2,1.1,0.6,1.5c0.4,0.4,0.8,0.6,1.3,0.6
    			s1-0.2,1.4-0.6s0.6-0.9,0.6-1.5s-0.2-1.1-0.6-1.5c-0.4-0.4-0.8-0.6-1.4-0.6c-0.5,0-1,0.2-1.4,0.6
    			C-165.4,490.3-165.6,490.8-165.6,491.4z"/>
    		<path d="M-155.5,488.1c0.9,0,1.6,0.3,2.2,0.9s0.9,1.4,0.9,2.4s-0.3,1.8-0.9,2.4c-0.6,0.6-1.3,0.9-2.1,0.9s-1.5-0.4-2.2-1.1v3.3
    			h-1.3v-8.7h1.3v1.1C-157,488.5-156.3,488.1-155.5,488.1z M-157.6,491.4c0,0.6,0.2,1.1,0.6,1.5c0.4,0.4,0.8,0.6,1.3,0.6
    			s1-0.2,1.4-0.6s0.6-0.9,0.6-1.5s-0.2-1.1-0.6-1.5c-0.4-0.4-0.8-0.6-1.4-0.6c-0.5,0-1,0.2-1.4,0.6
    			C-157.4,490.3-157.6,490.8-157.6,491.4z"/>
    		<path d="M-148.2,495.9c1.2,0,1.8-0.8,1.8-2.3v-0.4c-0.5,0.6-1.2,0.8-2.1,0.8c-1.7,0-2.5-0.9-2.5-2.7v-3.1h1.3v2.5
    			c0,0.7,0.1,1.3,0.3,1.6s0.6,0.5,1.2,0.5c0.6,0,1-0.1,1.2-0.4s0.4-0.7,0.5-1.3v-2.9h1.3v5.5c0,1.1-0.3,2-0.9,2.6
    			c-0.6,0.6-1.3,0.9-2.2,0.9c-0.7,0-1.3-0.2-1.9-0.5c-0.5-0.3-0.9-0.8-1.2-1.4l1.2-0.5C-149.7,495.5-149.1,495.9-148.2,495.9z"/>
    	</g>
    	<g id="XMLID_14_" class="st3">
    		<g id="XMLID_192_">
    			<g id="XMLID_193_">
    				<path id="XMLID_205_" class="st4" d="M-164.8,471.5c2.6-0.3,5.1,0,7.5,1c4.2,0.7,7.6,3.1,10.2,7c-0.8-1.1-1.6-2.2-2.4-3.2
    					c1.3,1.9,2.6,3.8,4,5.7c-0.7-1.2-1.4-2.3-2.1-3.5c1.1,2,2.2,4,3.3,6.1c-0.6-1.2-1.2-2.5-1.7-3.7c0.9,2.1,1.8,4.2,2.6,6.3
    					c-0.4-1.3-0.9-2.6-1.3-3.9c0.8,5.7,1.6,11.4,2.3,17.1c0.3-1.4,0.6-2.8,0.9-4.2c-0.4,1.8-0.9,3.6-1.3,5.4
    					c-0.1,0.3-0.1,1.1,0.3,1.3c0.7,0.3,1.3-1.4,1.4-1.7c0.6-1.5,1.1-3,1.6-4.5c0.4-1.1,1-2.7,0.8-3.9c-1.1-6.4-4.1-12.7-8.4-17.5
    					c-2.6-3-5.7-5.2-9.2-6.9c-1.2-0.6-2.3-1.1-3.6-1.5c-3.8-1.3-7.7-1.6-11.8-1.7c-1.8-0.1,1.2,2.6,1.1,2.5c1.2,1,2.4,1.9,3.6,2.8
    					C-166.3,471-165.6,471.3-164.8,471.5z"/>
    				<path id="XMLID_204_" class="st4" d="M-163.5,468.5c3.2-0.4,6.2,0.2,8.9,1.9c10.9,2.9,15.2,12,12.9,27.3
    					c0.2-0.9,0.4-1.8,0.6-2.7c-0.3,0.9-0.5,1.9-0.8,2.8c-0.2,0.7-0.5,2.8,0.8,1.9c0.6-0.4,0.8-1.4,1.1-2c0.4-1.1,1-2.3,1.1-3.5
    					c0.5-6.6-1.7-13.8-5.3-19.3c-2.5-3.8-5.8-6.8-9.9-8.9c-1.5-0.8-2.3-1.1-4-1.7c-3.3-1.1-6.4-1.4-9.9-1.5
    					c-1.5-0.1,0.2,2.1,0.4,2.2c0.8,0.9,1.6,1.8,2.5,2.6C-164.7,468-164.1,468.3-163.5,468.5z"/>
    				<path id="XMLID_203_" class="st4" d="M-162.9,470.8c1.5,0,2.9,0.1,4.4,0.1c2.3,0.1,4.5,0.8,6.4,2.1c1.5,0.5,2.7,1.2,3.8,2.3
    					c4.1,3.3,6.6,7.7,7.5,13.4c0.8,4,1.2,7.9,0,11.9c-0.1,0.3-0.2,1.1,0.2,1.3c0.6,0.4,1.3-1.2,1.5-1.5c0.7-1.3,1.3-2.7,1.9-4.1
    					c0.4-1,1.2-2.4,1.1-3.6c-0.7-6.8-3.7-13.4-8.1-18.6c-3-3.5-6.7-6.2-10.9-8.1c-2.2-1.1-4.6-1.9-7.1-2.4c-2.7-0.7-5.4-0.9-8.2-0.8
    					c-1.9-0.1,1.3,2.9,1.2,2.8c1.3,1.3,2.6,2.5,4,3.7C-164.6,470-163.8,470.5-162.9,470.8z"/>
    				<path id="XMLID_202_" class="st4" d="M-160,474.1c3.8-0.3,7.3,0.4,10.8,2.1c6.8,5.3,10.5,11.8,11,19.3c0.3,3.4,0.1,6.4-1.1,9.5
    					c-0.3,0.8,0.7,1.1,1.2,0.8c0.9-0.4,2-2.4,2.2-3.4c1.7-7.8-0.7-17-5.6-23.2c-2.9-3.6-6.6-6.7-11-8.4c-1.3-0.5-2.6-0.9-3.9-1.2
    					c-2.9-0.7-5.4-0.9-8.5-1c-1.6-0.1,0.5,2.1,0.6,2.2c0.9,0.8,1.8,1.6,2.7,2.3C-161.2,473.7-160.7,474-160,474.1z"/>
    				<path id="XMLID_201_" class="st4" d="M-160.1,471.4c2.8-0.2,5.5,0.1,8.2,0.9c3,1,5.5,2.6,7.6,4.8c2,2.2,3.5,4.7,4.6,7.5
    					c2.1,5.4,3,12,0.9,17.5c-0.4,1,0.7,1.1,1.2,0.7c0.5-0.6,1-1.2,1.4-1.9s0.8-1.4,1.1-2.1c1.4-8.7-1.7-18-7.4-24.6
    					c-2-2.3-4.4-4.1-7-5.7c-1.2-0.8-2.6-1.4-4-2c-3.8-1.6-7.8-2-11.9-2.2c-1.7-0.1,0.4,2.4,0.6,2.5c0.9,1.1,1.9,2.1,2.9,3.2
    					C-161.4,470.7-160.8,471.1-160.1,471.4z"/>
    				<path id="XMLID_200_" class="st4" d="M-163.8,470.2c3.5-0.6,6.9-0.1,10.2,1.5c8.6,8.6,11.4,17.5,8.4,27c-0.2,0.6-0.6,1.5-0.1,2
    					s1.1,0.2,1.4-0.3c1.8-3.6,1.8-8,1.4-11.9c-0.2-2.5-0.8-4.9-1.6-7.2c-1.2-3.5-3.1-6.7-5.8-9.2c-1.7-1.5-4.1-3-6.3-3.7
    					c-2.6-0.8-4.9-0.4-7.5-0.1C-164.8,468.4-165,470.3-163.8,470.2z"/>
    				<path id="XMLID_199_" class="st4" d="M-166,471.3c6.1-0.3,11.3,1.7,15.8,6c-0.6-0.6-1.2-1.2-1.8-1.8c6.2,8.4,8.6,17,7,25.9
    					c-0.1,0.5,0.1,0.8,0.5,1c0.9,0.2,1.2-1.5,1.4-2c2-5.8,0.6-11.8-1.6-17.2c-1.4-3.5-3.5-6.8-6.2-9.3c-2.1-2-4.4-3.5-7.1-4.6
    					c-4-1.6-7.9-1.9-12.2-2.1c-0.3,0.1-0.5,0.3-0.5,0.7c0.1,0.5,0.4,0.9,0.9,1.2C-168.8,469.9-167.3,471.2-166,471.3z"/>
    				<path id="XMLID_198_" class="st4" d="M-163.3,475c5-0.3,9.5,1,13.5,3.9c-0.8-0.6-1.5-1.1-2.3-1.7c3.3,9,6.7,17.9,10,26.9
    					c0.3-1,0.5-2,0.8-2.9c-0.3,1-0.6,1.9-0.9,2.9c-0.2,0.6-0.8,3,0.7,2c0.6-0.4,1-1.5,1.3-2.1c0.5-1,1.4-2.5,1.5-3.7
    					c0.1-3.1-0.5-6.1-1.4-9.1c-1.3-4.3-3.5-8.6-6.6-11.9c-1.9-2.1-4-3.8-6.5-5.2c-2-1.1-4.2-1.9-6.4-2.4c-3.3-0.8-5.2-0.7-8.6-0.8
    					c-0.4,0.1-0.5,0.4-0.4,0.7c0.2,0.6,0.6,1,1.2,1.2C-166.4,473.7-164.8,474.9-163.3,475z"/>
    				<path id="XMLID_197_" class="st4" d="M-160.3,468.5c1.4,0,2.9,0.1,4.3,0.1c3,0.3,5.6,1.2,7.9,2.9c4.5,3,7.3,7.5,8.5,13.2
    					c1.1,4.9,1.3,10.2-0.6,15c-0.2,0.6,0.1,1.3,0.8,1.3c0.8,0,1.2-1.2,1.4-1.8c2.1-5.8,1.3-12.5-0.6-18.2c-1.5-4.5-4.1-8.4-7.7-11.5
    					c-2.4-2.1-5.2-3.5-8.2-4.5c-2.9-1-5.5-1.1-8.6-1.3c-1.2-0.1-0.4,1.5-0.2,1.9C-162.6,466.4-161.4,468.5-160.3,468.5z"/>
    				<path id="XMLID_196_" class="st4" d="M-165.1,473.9c5-0.3,9.4,0.9,13.4,3.9c-0.7-0.5-1.5-1.1-2.2-1.6c3.5,8.3,6.9,16.7,10.4,25
    					c0.1-1.1,0.2-2.3,0.3-3.4c-0.3,2.1-0.7,4.1-1.1,6.1c-0.1,0.5,0,0.8,0.4,1.1c1.2,0.4,2-3.6,2.2-4c0.8-2.4,1-3.8,0.6-6.4
    					c-0.5-3-1.5-6.1-2.8-8.9c-1.6-3.5-3.6-6.4-6.3-9.1c-2.2-2.2-4.8-3.8-7.7-4.9c-3.9-1.5-7.8-1.7-11.9-1.8
    					c-0.3,0.1-0.5,0.4-0.4,0.7c0.2,0.5,0.6,0.9,1.1,1.2C-168.1,472.7-166.6,473.8-165.1,473.9z"/>
    				<path id="XMLID_195_" class="st4" d="M-161.1,468.3c2.7,0.1,5.4,0,8,0.8c1.1,0.5,2.2,1,3.3,1.5c4.5,2.4,6.8,6.2,7,11.5
    					c1.8,2.8,2.6,5.7,2.5,8.8c0,0.8,0,1.5-0.1,2.3c-0.2,2-0.6,3.8-1.5,5.7c-0.3,0.6-0.1,1,0.5,1.3c0.7,0.3,0.9,0,1.2-0.6
    					c1.3-2.7,1.7-5.6,1.7-8.5c0-3.2-0.3-6.5-1.2-9.6c-0.9-3.2-2.5-6.1-4.5-8.8c-1.6-2-3.4-3.5-5.7-4.7c-1.2-0.5-2.4-1-3.5-1.6
    					c-2.6-0.7-5.2-1-7.9-0.8c-0.5,0-1.1,0.3-1.1,0.9C-162.5,467-161.6,468.3-161.1,468.3z"/>
    				<path id="XMLID_194_" class="st4" d="M-165,471.6c2.5-0.5,4.9-0.2,7.1,0.8c5.7,1,9.5,5,11.1,11.8c1.4,4.6,2.4,10.2,0.7,14.9
    					c-0.2,0.6-0.7,1.9-0.3,2.5c0.2,0.3,1,0.7,1.3,0.1c1.2-2.3,1.5-4.7,1.6-7.3c0.2-4.8-0.8-9.9-2.9-14.3c-1.2-2.6-2.9-4.9-5.1-6.8
    					c-1.7-1.5-3.9-2.7-6.1-3.5c-2.5-0.9-5.2-0.5-7.7-0.4C-166.4,469.7-166.2,471.6-165,471.6z"/>
    			</g>
    		</g>
    	</g>
    	<g id="XMLID_13_" class="st3">
    		<g id="XMLID_177_">
    			<g id="XMLID_178_">
    				<path id="XMLID_190_" class="st4" d="M-145.6,503.2c0,2.2-0.4,4.3-1.2,6.3c-2.1,4.8-5.1,8.8-9.1,12c-1.6,1.3-3.3,2.5-5.2,3.4
    					c-2.5,1.3-5.1,2.1-7.9,2.3c-0.4,0-1.1,0.2-1.2,0.7c-0.1,0.7,1.7,0.8,2,0.8c1.6,0.2,3.1,0.2,4.7,0.2c1.2,0,2.8,0.2,3.9-0.4
    					c6.2-2.9,11.4-7.4,15.1-13.2c3.7-5.9,6.3-12.4,7.1-19.4c0.2-1.9-3,1.2-2.9,1.1c-1.3,1.2-2.5,2.5-3.8,3.8
    					C-144.7,501.6-145.3,502.3-145.6,503.2z"/>
    				<path id="XMLID_189_" class="st4" d="M-145,500.2c-0.4,4.3-1.6,7.7-4,11.2c-3.7,5.3-8.1,8.6-14.4,11.5c1.1-0.4,2.2-0.8,3.2-1.2
    					c-2,0.6-3.9,1.3-5.9,1.9c1.1-0.3,2.3-0.6,3.4-0.9c1.4-0.3-6.1,0.7-6.7,1.6c-0.4,0.7,0.2,1,0.8,1c1.5,0.2,3.2-0.2,4.6-0.4
    					c3.2-0.4,6-1.8,8.7-3.6c4.9-3.3,9-8,11.7-13.3c2.1-4.2,3.3-8.3,3.8-13c0.2-1.6-2.2,0.7-2.2,0.6
    					C-142.8,496.8-144.8,498.6-145,500.2z"/>
    				<path id="XMLID_188_" class="st4" d="M-143.5,502.4c0,2.2-0.5,4.3-1.3,6.3c-2.1,4.9-5.1,8.9-9.1,12.2c-1.6,1.3-3.3,2.5-5.2,3.5
    					c-2.5,1.3-5.1,2.1-7.9,2.3c-0.3,0.1-1,0.3-1,0.7c-0.1,0.7,1.5,0.8,1.8,0.8c1.4,0.1,2.8,0.1,4.3,0.1c1.2,0,2.4,0,3.5-0.5
    					c5.1-2,9.4-5.3,13-9.5c5.3-6.2,8.7-14,9.7-22c0.2-1.8-2.8,0.8-2.7,0.8c-1.2,1.1-2.4,2.2-3.5,3.3
    					C-142.6,500.9-143.1,501.6-143.5,502.4z"/>
    				<path id="XMLID_187_" class="st4" d="M-142.8,506.3c-0.1,3.1-1,6-2.6,8.7c-0.8,1.5-1.7,2.8-2.9,4c-4.9,5.8-11.4,10-19.6,10.1
    					c-0.6,0-1,0.6-0.8,1.2c0.2,0.6,1,0.7,1.6,0.7c3.3-0.1,6-0.6,9.1-1.9c2.9-1.3,5.5-2.9,7.9-5c3.3-2.7,6.1-5.9,8.1-9.7
    					c1.7-3.2,2.5-6.1,2.9-9.6c0.1-1-1.1-0.7-1.6-0.5C-141.3,504.7-142.7,505.4-142.8,506.3z"/>
    				<path id="XMLID_186_" class="st4" d="M-142.1,503.6c-0.1,3.1-0.9,5.9-2.4,8.5c-1.1,1.9-2.3,3.7-3.8,5.3
    					c-4.5,5.1-10.4,8.6-17.5,9.3c-0.7,0.1-1.6,0.4-1.1,1.2c0.4,0.8,2.6,0.6,3.2,0.5c2.3-0.3,4.2-0.7,6.3-1.5
    					c3.6-1.3,6.8-3.8,9.6-6.4c3-2.8,5.6-6.1,7.4-9.8c1.6-3.2,2.3-6.2,2.8-9.7c0.2-1.2-1.5-0.4-1.8-0.2
    					C-140.3,501.4-142,502.4-142.1,503.6z"/>
    				<path id="XMLID_185_" class="st4" d="M-148.7,500.4c0.1,2-0.4,3.9-1.3,5.7c-2.7,8.7-9.4,14.2-20.3,16.7
    					c-0.6,0.1-2.4,0.2-2.6,1.1c-0.1,0.9,1,0.9,1.6,0.8c4.7-0.4,8.8-2,12.7-4.8c3.4-2.5,6.3-5.5,8.6-9c1.2-1.9,2-3.6,2.8-5.7
    					c0.8-2.2,1-4.2,1.3-6.4c0.1-0.6-0.7-1-1.2-0.8C-147.8,498.4-148.7,499.8-148.7,500.4z"/>
    				<path id="XMLID_184_" class="st4" d="M-147.7,502.7c-0.7,6.1-3.1,10.7-7.1,15c-4,4.2-8.2,6.7-14,8.5c1.3-0.2,2.6-0.5,3.8-0.7
    					c-2.1,0.3-4.3,0.6-6.4,1c-0.3,0.1-1,0.3-1,0.7c-0.1,0.7,1.5,0.7,1.9,0.7c1.4,0.1,2.8,0.1,4.2,0c1.2-0.1,2.4-0.1,3.5-0.5
    					c12.2-5.2,19.9-18.3,21.3-31.1c0.2-1.8-2.6,1.2-2.4,1c-1,1.1-1.9,2.3-2.7,3.4C-147.2,501.3-147.5,501.9-147.7,502.7z"/>
    				<path id="XMLID_183_" class="st4" d="M-145.5,506.5c-0.1,1.1-0.2,2.2-0.4,3.2c-0.4,2-1.2,3.9-2.3,5.6c-1.5,2.8-3.3,5.3-5.7,7.5
    					c-1.6,1.4-3.3,2.8-5.1,3.9c-3.4,2.2-6.9,3.1-10.9,3.4c-0.9,0.1-0.7,1-0.3,1.4c0.8,0.6,3.1,1,4.1,0.8c4.6-0.9,8.5-2.4,12.3-5.2
    					c3-2.2,5.6-4.9,7.8-7.9c1.5-2.1,2.6-4.1,3.8-6.3c1.7-3.2,2.5-6.5,3-10.1c0.2-1.5-2,0-2.2,0.1c-1,0.7-1.9,1.4-2.8,2.1
    					C-144.9,505.4-145.3,505.9-145.5,506.5z"/>
    				<path id="XMLID_182_" class="st4" d="M-143.8,500.8c-0.5,5.4-1.8,9-5.9,13.5c-4.4,4.7-9.6,8.2-16.6,8.9c-0.6,0.1-2,0.1-1.9,1.1
    					s1.4,0.7,2.1,0.7c5.1-0.3,10-2.5,14-5.8c2.6-2.1,4.8-4.4,6.7-7.1c1.1-1.5,1.9-3.1,2.7-4.8c1.1-2.4,1.5-4.6,1.7-7.3
    					c0.1-0.6-0.5-1-1-1C-142.6,499-143.7,500.3-143.8,500.8z"/>
    				<path id="XMLID_181_" class="st4" d="M-147.2,505.2c-0.1,1.1-0.2,2.2-0.4,3.2c-1.2,2.7-2.4,5.3-3.6,8c-1.5,2.2-3.4,4.2-5.4,6
    					c-1.6,1.4-3.3,2.6-5.1,3.6c-3,1.7-5.7,2.5-9.3,2.9c-1.2,0.1-1.1,1-0.2,1.4c1,0.3,2.1,0.5,3.2,0.5c1.1,0.1,2.1,0.2,3.2,0.2
    					c2.4-0.8,4.4-1.5,6.6-2.8c2-1.2,3.8-2.7,5.6-4.2c6.9-6.1,11.3-15.6,12.4-24.6c0.2-1.7-2.6,0.7-2.5,0.7c-1.1,1-2.1,2-3.1,3.1
    					C-146.5,503.8-146.9,504.4-147.2,505.2z"/>
    				<path id="XMLID_180_" class="st4" d="M-145.5,499.8c-0.1,1.1-0.2,2.1-0.4,3.2c-0.6,2.5-1.6,4.8-3.1,6.8c-1.3,2.1-3,3.9-5.2,5.2
    					c-3.4,4.1-7.9,6.3-13.4,6.8c-0.6,0.1-2,0.1-2.3,0.8s0.4,1.2,1,1.1c2.4-0.1,4.7-0.4,7-1.3c3-1.2,5.7-2.8,8.2-4.8
    					c2.2-1.8,4.2-3.7,5.8-6c1.3-1.7,2.4-3.7,3.2-5.7c0.9-2.2,1.1-4.4,1.4-6.7c0.1-0.5-0.7-0.9-1.1-0.9
    					C-144.8,498.5-145.4,499.3-145.5,499.8z"/>
    				<path id="XMLID_179_" class="st4" d="M-149.4,501.4c-0.1,5-2,9.5-5.6,13.5c-5.4,5.2-11.4,8.5-18.3,9.9c-0.8,0.4-0.8,1.2,0.1,1.4
    					c1,0.3,3,0,4.1-0.2c2.7-0.5,5.5-1.7,7.8-3.1c3-1.8,5.6-4.2,7.9-6.8c1.4-1.6,2.6-3.4,3.7-5.3c2.2-3.7,3.2-7.7,3.6-11.9
    					c0.1-0.8-0.5-1.1-1.2-0.8C-148,498.5-149.3,500.6-149.4,501.4z"/>
    			</g>
    		</g>
    	</g>
    </g>
    <g id="angry">
    	<path id="XMLID_88_" class="st0" d="M-178.9,612.4l-1.8,13.9c-1.5,11.6-0.7,23.4,2.2,34.8l0.2,0.8c2.2,8.7,2.8,17.7,1.7,26.5
    		l-2.3,17.9l-1.7,13.2c-1.5,11.7-1.6,23.6-0.1,35.4l1.8,14.7l2.9,25.3c0.7,6.4,0.6,12.9-0.5,19.3l-2.4,15"/>
    	<path id="XMLID_75_" class="st1" d="M-207.9,575.3c-1.3-17.9,11.2-34.6,27.4-34.6c1.1,0,1.9,0,3.5,0c1.7,0,2.7,0.2,3,0.2
    		c14.5,1.4,25.4,17.2,24.2,34.4c-1,14.6-8.4,26.5-20.5,32.3c-2.4,1.2-5,1.8-7.6,1.8s-5.3-0.5-7.7-1.6
    		C-198.8,602-206.8,590.1-207.9,575.3z"/>
    	<path id="XMLID_72_" class="st1" d="M-178.5,607.3c0,1.1,1.1,4.1,1.3,4.6c0.1,0.3,0.4,0.8,0.2,1.1c-0.3,0.3-0.6,0.1-0.9-0.1
    		s-0.5-0.4-0.9-0.4s-0.7,0.1-1.1,0.2c-0.4,0.1-0.8,0-0.9-0.3c-0.1-0.3,0-0.5,0.1-0.8c0.5-1.1,1.1-2.2,1.6-3.2c0.1,0,0.3-0.1,0.4-0.1
    		"/>
    	<rect id="XMLID_80_" x="-197.7" y="564.1" class="st5" width="47" height="18"/>
    	<g id="XMLID_79_" class="st2">
    		<path d="M-196.3,572.2c-0.6-0.6-0.9-1.4-0.9-2.4s0.3-1.8,0.9-2.4c0.6-0.6,1.3-0.9,2.2-0.9c0.8,0,1.5,0.4,2.1,1.2v-1.1h1.3v6.4
    			h-1.3v-1c-0.3,0.4-0.6,0.7-1,0.8c-0.4,0.2-0.8,0.3-1.2,0.3C-195,573.1-195.7,572.8-196.3,572.2z M-195.8,569.8
    			c0,0.6,0.2,1.1,0.6,1.5c0.4,0.4,0.9,0.6,1.4,0.6s1-0.2,1.3-0.6c0.4-0.4,0.6-0.9,0.6-1.5s-0.2-1.1-0.6-1.5
    			c-0.4-0.4-0.8-0.6-1.4-0.6c-0.5,0-1,0.2-1.4,0.6C-195.6,568.7-195.8,569.2-195.8,569.8z"/>
    		<path d="M-187.4,569.6v3.5h-1.3v-6.4h1.3v1.2c0.2-0.4,0.5-0.7,0.9-0.9s0.8-0.3,1.2-0.3c0.7,0,1.3,0.2,1.7,0.7
    			c0.4,0.4,0.7,1.1,0.7,1.9v3.9h-1.3v-3.5c0-1.2-0.5-1.8-1.5-1.8c-0.5,0-0.9,0.2-1.2,0.5C-187.2,568.5-187.4,569-187.4,569.6z"/>
    		<path d="M-178.2,574.4c1.2,0,1.8-0.8,1.8-2.3v-0.4c-0.2,0.3-0.5,0.5-0.8,0.7c-0.4,0.2-0.8,0.3-1.2,0.3c-0.8,0-1.5-0.3-2.1-0.9
    			c-0.5-0.6-0.8-1.3-0.8-2.2s0.3-1.6,0.8-2.2c0.5-0.6,1.2-0.9,2.1-0.9c0.8,0,1.5,0.3,2.1,0.9v-0.8h1.3v5.5c0,1.1-0.3,2-0.9,2.6
    			c-0.6,0.6-1.3,0.9-2.2,0.9c-0.7,0-1.3-0.2-1.9-0.5c-0.5-0.3-0.9-0.8-1.2-1.4l1.2-0.5C-179.7,573.9-179.1,574.4-178.2,574.4z
    			 M-180,569.6c0,0.5,0.2,1,0.5,1.4s0.8,0.6,1.3,0.6s1-0.2,1.3-0.6c0.3-0.4,0.5-0.8,0.5-1.4c0-0.5-0.2-1-0.5-1.4s-0.8-0.6-1.3-0.6
    			s-1,0.2-1.3,0.6C-179.9,568.6-180,569-180,569.6z"/>
    		<path d="M-169.7,567.9c-0.7,0-1.2,0.2-1.5,0.6c-0.3,0.4-0.5,1-0.5,1.7v2.7h-1.3v-6.4h1.3v1.3c0.2-0.4,0.5-0.7,0.9-1
    			s0.8-0.4,1.2-0.4L-169.7,567.9L-169.7,567.9z"/>
    		<path d="M-165.7,574.3c1.2,0,1.8-0.8,1.8-2.3v-0.4c-0.5,0.6-1.2,0.8-2.1,0.8c-1.7,0-2.5-0.9-2.5-2.7v-3.1h1.3v2.5
    			c0,0.7,0.1,1.3,0.3,1.6s0.6,0.5,1.2,0.5c0.6,0,1-0.1,1.2-0.4s0.4-0.7,0.5-1.3v-2.9h1.3v5.5c0,1.1-0.3,2-0.9,2.6
    			c-0.6,0.6-1.3,0.9-2.2,0.9c-0.7,0-1.3-0.2-1.9-0.5c-0.5-0.3-0.9-0.8-1.2-1.4l1.2-0.5C-167.2,573.9-166.6,574.3-165.7,574.3z"/>
    	</g>
    	<g id="XMLID_98_" class="st3">
    		<g id="XMLID_162_">
    			<g id="XMLID_163_">
    				<path id="XMLID_175_" class="st4" d="M-179.8,549.6c2.6-0.3,5.1,0,7.5,1c4.2,0.7,7.6,3.1,10.2,7c-0.8-1.1-1.6-2.2-2.4-3.2
    					c1.3,1.9,2.6,3.8,4,5.7c-0.7-1.2-1.4-2.3-2.1-3.5c1.1,2,2.2,4,3.3,6.1c-0.6-1.2-1.2-2.5-1.7-3.7c0.9,2.1,1.8,4.2,2.6,6.3
    					c-0.4-1.3-0.9-2.6-1.3-3.9c0.8,5.7,1.6,11.4,2.3,17.1c0.3-1.4,0.6-2.8,0.9-4.2c-0.4,1.8-0.9,3.6-1.3,5.4
    					c-0.1,0.3-0.1,1.1,0.3,1.3c0.7,0.3,1.3-1.4,1.4-1.7c0.6-1.5,1.1-3,1.6-4.5c0.4-1.1,1-2.7,0.8-3.9c-1.1-6.4-4.1-12.7-8.4-17.5
    					c-2.6-3-5.7-5.2-9.2-6.9c-1.2-0.6-2.3-1.1-3.6-1.5c-3.8-1.3-7.7-1.6-11.8-1.7c-1.8-0.1,1.2,2.6,1.1,2.5c1.2,1,2.4,1.9,3.6,2.8
    					C-181.4,549-180.7,549.4-179.8,549.6z"/>
    				<path id="XMLID_174_" class="st4" d="M-178.5,546.5c3.2-0.4,6.2,0.2,8.9,1.9c10.9,2.9,15.2,12,12.9,27.3
    					c0.2-0.9,0.4-1.8,0.6-2.7c-0.3,0.9-0.5,1.9-0.8,2.8c-0.2,0.7-0.5,2.8,0.8,1.9c0.6-0.4,0.8-1.4,1.1-2c0.4-1.1,1-2.3,1.1-3.5
    					c0.5-6.6-1.7-13.8-5.3-19.3c-2.5-3.8-5.8-6.8-9.9-8.9c-1.5-0.8-2.3-1.1-4-1.7c-3.3-1.1-6.4-1.4-9.9-1.5
    					c-1.5-0.1,0.2,2.1,0.4,2.2c0.8,0.9,1.6,1.8,2.5,2.6C-179.7,546-179.2,546.4-178.5,546.5z"/>
    				<path id="XMLID_173_" class="st4" d="M-177.9,548.9c1.5,0,2.9,0.1,4.4,0.1c2.3,0.1,4.5,0.8,6.4,2.1c1.5,0.5,2.7,1.2,3.8,2.3
    					c4.1,3.3,6.6,7.7,7.5,13.4c0.8,4,1.2,7.9,0,11.9c-0.1,0.3-0.2,1.1,0.2,1.3c0.6,0.4,1.3-1.2,1.5-1.5c0.7-1.3,1.3-2.7,1.9-4.1
    					c0.4-1,1.2-2.4,1.1-3.6c-0.7-6.8-3.7-13.4-8.1-18.6c-3-3.5-6.7-6.2-10.9-8.1c-2.2-1.1-4.6-1.9-7.1-2.4c-2.7-0.7-5.4-0.9-8.2-0.8
    					c-1.9-0.1,1.3,2.9,1.2,2.8c1.3,1.3,2.6,2.5,4,3.7C-179.6,548-178.8,548.6-177.9,548.9z"/>
    				<path id="XMLID_172_" class="st4" d="M-175,552.2c3.8-0.3,7.3,0.4,10.8,2.1c6.8,5.3,10.5,11.8,11,19.3c0.3,3.4,0.1,6.4-1.1,9.5
    					c-0.3,0.8,0.7,1.1,1.2,0.8c0.9-0.4,2-2.4,2.2-3.4c1.7-7.8-0.7-17-5.6-23.2c-2.9-3.6-6.6-6.7-11-8.4c-1.3-0.5-2.6-0.9-3.9-1.2
    					c-2.9-0.7-5.4-0.9-8.5-1c-1.6-0.1,0.5,2.1,0.6,2.2c0.9,0.8,1.8,1.6,2.7,2.3C-176.3,551.8-175.7,552.1-175,552.2z"/>
    				<path id="XMLID_171_" class="st4" d="M-175.1,549.4c2.8-0.2,5.5,0.1,8.2,0.9c3,1,5.5,2.6,7.6,4.8c2,2.2,3.5,4.7,4.6,7.5
    					c2.1,5.4,3,12,0.9,17.5c-0.4,1,0.7,1.1,1.2,0.7c0.5-0.6,1-1.2,1.4-1.9s0.8-1.4,1.1-2.1c1.4-8.7-1.7-18-7.4-24.6
    					c-2-2.3-4.4-4.1-7-5.7c-1.2-0.8-2.6-1.4-4-2c-3.8-1.6-7.8-2-11.9-2.2c-1.7-0.1,0.4,2.4,0.6,2.5c0.9,1.1,1.9,2.1,2.9,3.2
    					C-176.5,548.7-175.9,549.2-175.1,549.4z"/>
    				<path id="XMLID_170_" class="st4" d="M-178.8,548.3c3.5-0.6,6.9-0.1,10.2,1.5c8.6,8.6,11.4,17.5,8.4,27c-0.2,0.6-0.6,1.5-0.1,2
    					s1.1,0.2,1.4-0.3c1.8-3.6,1.8-8,1.4-11.9c-0.2-2.5-0.8-4.9-1.6-7.2c-1.2-3.5-3.1-6.7-5.8-9.2c-1.7-1.5-4.1-3-6.3-3.7
    					c-2.6-0.8-4.9-0.4-7.5-0.1C-179.9,546.5-180.1,548.3-178.8,548.3z"/>
    				<path id="XMLID_169_" class="st4" d="M-181,549.3c6.1-0.3,11.3,1.7,15.8,6c-0.6-0.6-1.2-1.2-1.8-1.8c6.2,8.4,8.6,17,7,25.9
    					c-0.1,0.5,0.1,0.8,0.5,1c0.9,0.2,1.2-1.5,1.4-2c2-5.8,0.6-11.8-1.6-17.2c-1.4-3.5-3.5-6.8-6.2-9.3c-2.1-2-4.4-3.5-7.1-4.6
    					c-4-1.6-7.9-1.9-12.2-2.1c-0.3,0.1-0.5,0.3-0.5,0.7c0.1,0.5,0.4,0.9,0.9,1.2C-183.8,548-182.4,549.3-181,549.3z"/>
    				<path id="XMLID_168_" class="st4" d="M-178.3,553c5-0.3,9.5,1,13.5,3.9c-0.8-0.6-1.5-1.1-2.3-1.7c3.3,9,6.7,17.9,10,26.9
    					c0.3-1,0.5-2,0.8-2.9c-0.3,1-0.6,1.9-0.9,2.9c-0.2,0.6-0.8,3,0.7,2c0.6-0.4,1-1.5,1.3-2.1c0.5-1,1.4-2.5,1.5-3.7
    					c0.1-3.1-0.5-6.1-1.4-9.1c-1.3-4.3-3.5-8.6-6.6-11.9c-1.9-2.1-4-3.8-6.5-5.2c-2-1.1-4.2-1.9-6.4-2.4c-3.3-0.8-5.2-0.7-8.6-0.8
    					c-0.4,0.1-0.5,0.4-0.4,0.7c0.2,0.6,0.6,1,1.2,1.2C-181.5,551.7-179.8,553-178.3,553z"/>
    				<path id="XMLID_167_" class="st4" d="M-175.3,546.6c1.4,0,2.9,0.1,4.3,0.1c3,0.3,5.6,1.2,7.9,2.9c4.5,3,7.3,7.5,8.5,13.2
    					c1.1,4.9,1.3,10.2-0.6,15c-0.2,0.6,0.1,1.3,0.8,1.3c0.8,0,1.2-1.2,1.4-1.8c2.1-5.8,1.3-12.5-0.6-18.2c-1.5-4.5-4.1-8.4-7.7-11.5
    					c-2.4-2.1-5.2-3.5-8.2-4.5c-2.9-1-5.5-1.1-8.6-1.3c-1.2-0.1-0.4,1.5-0.2,1.9C-177.6,544.4-176.4,546.5-175.3,546.6z"/>
    				<path id="XMLID_166_" class="st4" d="M-180.1,551.9c5-0.3,9.4,0.9,13.4,3.9c-0.7-0.5-1.5-1.1-2.2-1.6c3.5,8.3,6.9,16.7,10.4,25
    					c0.1-1.1,0.2-2.3,0.3-3.4c-0.3,2.1-0.7,4.1-1.1,6.1c-0.1,0.5,0,0.8,0.4,1.1c1.2,0.4,2-3.6,2.2-4c0.8-2.4,1-3.8,0.6-6.4
    					c-0.5-3-1.5-6.1-2.8-8.9c-1.6-3.5-3.6-6.4-6.3-9.1c-2.2-2.2-4.8-3.8-7.7-4.9c-3.9-1.5-7.8-1.7-11.9-1.8
    					c-0.3,0.1-0.5,0.4-0.4,0.7c0.2,0.5,0.6,0.9,1.1,1.2C-183.1,550.7-181.6,551.9-180.1,551.9z"/>
    				<path id="XMLID_165_" class="st4" d="M-176.1,546.3c2.7,0.1,5.4,0,8,0.8c1.1,0.5,2.2,1,3.3,1.5c4.5,2.4,6.8,6.2,7,11.5
    					c1.8,2.8,2.6,5.7,2.5,8.8c0,0.8,0,1.5-0.1,2.3c-0.2,2-0.6,3.8-1.5,5.7c-0.3,0.6-0.1,1,0.5,1.3c0.7,0.3,0.9,0,1.2-0.6
    					c1.3-2.7,1.7-5.6,1.7-8.5c0-3.2-0.3-6.5-1.2-9.6c-0.9-3.2-2.5-6.1-4.5-8.8c-1.6-2-3.4-3.5-5.7-4.7c-1.2-0.5-2.4-1-3.5-1.6
    					c-2.6-0.7-5.2-1-7.9-0.8c-0.5,0-1.1,0.3-1.1,0.9C-177.5,545-176.6,546.3-176.1,546.3z"/>
    				<path id="XMLID_164_" class="st4" d="M-180,549.7c2.5-0.5,4.9-0.2,7.1,0.8c5.7,1,9.5,5,11.1,11.8c1.4,4.6,2.4,10.2,0.7,14.9
    					c-0.2,0.6-0.7,1.9-0.3,2.5c0.2,0.3,1,0.7,1.3,0.1c1.2-2.3,1.5-4.7,1.6-7.3c0.2-4.8-0.8-9.9-2.9-14.3c-1.2-2.6-2.9-4.9-5.1-6.8
    					c-1.7-1.5-3.9-2.7-6.1-3.5c-2.5-0.9-5.2-0.5-7.7-0.4C-181.4,547.7-181.2,549.7-180,549.7z"/>
    			</g>
    		</g>
    	</g>
    	<g id="XMLID_97_" class="st3">
    		<g id="XMLID_147_">
    			<g id="XMLID_148_">
    				<path id="XMLID_160_" class="st4" d="M-160.7,581.3c0,2.2-0.4,4.3-1.2,6.3c-2.1,4.8-5.1,8.8-9.1,12c-1.6,1.3-3.3,2.5-5.2,3.4
    					c-2.5,1.3-5.1,2.1-7.9,2.3c-0.4,0-1.1,0.2-1.2,0.7c-0.1,0.7,1.7,0.8,2,0.8c1.6,0.2,3.1,0.2,4.7,0.2c1.2,0,2.8,0.2,3.9-0.4
    					c6.2-2.9,11.4-7.4,15.1-13.2c3.7-5.9,6.3-12.4,7.1-19.4c0.2-1.9-3,1.2-2.9,1.1c-1.3,1.2-2.5,2.5-3.8,3.8
    					C-159.8,579.6-160.3,580.4-160.7,581.3z"/>
    				<path id="XMLID_159_" class="st4" d="M-160,578.2c-0.4,4.3-1.6,7.7-4,11.2c-3.7,5.3-8.1,8.6-14.4,11.5c1.1-0.4,2.2-0.8,3.2-1.2
    					c-2,0.6-3.9,1.3-5.9,1.9c1.1-0.3,2.3-0.6,3.4-0.9c1.4-0.3-6.1,0.7-6.7,1.6c-0.4,0.7,0.2,1,0.8,1c1.5,0.2,3.2-0.2,4.6-0.4
    					c3.2-0.4,6-1.8,8.7-3.6c4.9-3.3,9-8,11.7-13.3c2.1-4.2,3.3-8.3,3.8-13c0.2-1.6-2.2,0.7-2.2,0.6
    					C-157.9,574.8-159.8,576.6-160,578.2z"/>
    				<path id="XMLID_158_" class="st4" d="M-158.5,580.5c0,2.2-0.5,4.3-1.3,6.3c-2.1,4.9-5.1,8.9-9.1,12.2c-1.6,1.3-3.3,2.5-5.2,3.5
    					c-2.5,1.3-5.1,2.1-7.9,2.3c-0.3,0.1-1,0.3-1,0.7c-0.1,0.7,1.5,0.8,1.8,0.8c1.4,0.1,2.8,0.1,4.3,0.1c1.2,0,2.4,0,3.5-0.5
    					c5.1-2,9.4-5.3,13-9.5c5.3-6.2,8.7-14,9.7-22c0.2-1.8-2.8,0.8-2.7,0.8c-1.2,1.1-2.4,2.2-3.5,3.3
    					C-157.6,579-158.2,579.7-158.5,580.5z"/>
    				<path id="XMLID_157_" class="st4" d="M-157.8,584.4c-0.1,3.1-1,6-2.6,8.7c-0.8,1.5-1.7,2.8-2.9,4c-4.9,5.8-11.4,10-19.6,10.1
    					c-0.6,0-1,0.6-0.8,1.2c0.2,0.6,1,0.7,1.6,0.7c3.3-0.1,6-0.6,9.1-1.9c2.9-1.3,5.5-2.9,7.9-5c3.3-2.7,6.1-5.9,8.1-9.7
    					c1.7-3.2,2.5-6.1,2.9-9.6c0.1-1-1.1-0.7-1.6-0.5C-156.3,582.7-157.7,583.4-157.8,584.4z"/>
    				<path id="XMLID_156_" class="st4" d="M-157.2,581.6c-0.1,3.1-0.9,5.9-2.4,8.5c-1.1,1.9-2.3,3.7-3.8,5.3
    					c-4.5,5.1-10.4,8.6-17.5,9.3c-0.7,0.1-1.6,0.4-1.1,1.2c0.4,0.8,2.6,0.6,3.2,0.5c2.3-0.3,4.2-0.7,6.3-1.5
    					c3.6-1.3,6.8-3.8,9.6-6.4c3-2.8,5.6-6.1,7.4-9.8c1.6-3.2,2.3-6.2,2.8-9.7c0.2-1.2-1.5-0.4-1.8-0.2
    					C-155.3,579.4-157.1,580.5-157.2,581.6z"/>
    				<path id="XMLID_155_" class="st4" d="M-163.8,578.5c0.1,2-0.4,3.9-1.3,5.7c-2.6,8.7-9.3,14.2-20.2,16.7
    					c-0.6,0.1-2.4,0.2-2.6,1.1c-0.1,0.9,1,0.9,1.6,0.8c4.7-0.4,8.8-2,12.7-4.8c3.4-2.5,6.3-5.5,8.6-9c1.2-1.9,2-3.6,2.8-5.7
    					c0.8-2.2,1-4.2,1.3-6.4c0.1-0.6-0.7-1-1.2-0.8C-162.9,576.4-163.7,577.8-163.8,578.5z"/>
    				<path id="XMLID_154_" class="st4" d="M-162.7,580.8c-0.7,6.1-3.1,10.7-7.1,15c-4,4.2-8.2,6.7-14,8.5c1.3-0.2,2.6-0.5,3.8-0.7
    					c-2.1,0.3-4.3,0.6-6.4,1c-0.3,0.1-1,0.3-1,0.7c-0.1,0.7,1.5,0.7,1.9,0.7c1.4,0.1,2.8,0.1,4.2,0c1.2-0.1,2.4-0.1,3.5-0.5
    					c12.2-5.2,19.9-18.3,21.3-31.1c0.2-1.8-2.6,1.2-2.4,1c-1,1.1-1.9,2.3-2.7,3.4C-162.2,579.3-162.6,580-162.7,580.8z"/>
    				<path id="XMLID_153_" class="st4" d="M-160.6,584.6c-0.1,1.1-0.2,2.2-0.4,3.2c-0.4,2-1.2,3.9-2.3,5.6c-1.5,2.8-3.3,5.3-5.7,7.5
    					c-1.6,1.4-3.3,2.8-5.1,3.9c-3.4,2.2-6.9,3.1-10.9,3.4c-0.9,0.1-0.7,1-0.3,1.4c0.8,0.6,3.1,1,4.1,0.8c4.6-0.9,8.5-2.4,12.3-5.2
    					c3-2.2,5.6-4.9,7.8-7.9c1.5-2.1,2.6-4.1,3.8-6.3c1.7-3.2,2.5-6.5,3-10.1c0.2-1.5-2,0-2.2,0.1c-1,0.7-1.9,1.4-2.8,2.1
    					C-160,583.5-160.3,583.9-160.6,584.6z"/>
    				<path id="XMLID_152_" class="st4" d="M-158.8,578.8c-0.5,5.4-1.8,9-5.9,13.5c-4.4,4.7-9.6,8.2-16.6,8.9c-0.6,0.1-2,0.1-1.9,1.1
    					s1.4,0.7,2.1,0.7c5.1-0.3,10-2.5,14-5.8c2.6-2.1,4.8-4.4,6.7-7.1c1.1-1.5,1.9-3.1,2.7-4.8c1.1-2.4,1.5-4.6,1.7-7.3
    					c0.1-0.6-0.5-1-1-1C-157.6,577.1-158.8,578.3-158.8,578.8z"/>
    				<path id="XMLID_151_" class="st4" d="M-162.2,583.3c-0.1,1.1-0.2,2.2-0.4,3.2c-1.2,2.7-2.4,5.3-3.6,8c-1.5,2.2-3.4,4.2-5.4,6
    					c-1.6,1.4-3.3,2.6-5.1,3.6c-3,1.7-5.7,2.5-9.3,2.9c-1.2,0.1-1.1,1-0.2,1.4c1,0.3,2.1,0.5,3.2,0.5c1.1,0.1,2.1,0.2,3.2,0.2
    					c2.4-0.8,4.4-1.5,6.6-2.8c2-1.2,3.8-2.7,5.6-4.2c6.9-6.1,11.3-15.6,12.4-24.6c0.2-1.7-2.6,0.7-2.5,0.7c-1.1,1-2.1,2-3.1,3.1
    					C-161.5,581.9-162,582.5-162.2,583.3z"/>
    				<path id="XMLID_150_" class="st4" d="M-160.5,577.9c-0.1,1.1-0.2,2.1-0.4,3.2c-0.6,2.5-1.6,4.8-3.1,6.8c-1.3,2.1-3,3.9-5.2,5.2
    					c-3.4,4.1-7.9,6.3-13.4,6.8c-0.6,0.1-2,0.1-2.3,0.8s0.4,1.2,1,1.1c2.4-0.1,4.7-0.4,7-1.3c3-1.2,5.7-2.8,8.2-4.8
    					c2.2-1.8,4.2-3.7,5.8-6c1.3-1.7,2.4-3.7,3.2-5.7c0.9-2.2,1.1-4.4,1.4-6.7c0.1-0.5-0.7-0.9-1.1-0.9
    					C-159.9,576.5-160.5,577.4-160.5,577.9z"/>
    				<path id="XMLID_149_" class="st4" d="M-164.4,579.5c-0.1,5-2,9.5-5.6,13.5c-5.4,5.2-11.4,8.5-18.3,9.9c-0.8,0.4-0.8,1.2,0.1,1.4
    					c1,0.3,3,0,4.1-0.2c2.7-0.5,5.5-1.7,7.8-3.1c3-1.8,5.6-4.2,7.9-6.8c1.4-1.6,2.6-3.4,3.7-5.3c2.2-3.7,3.2-7.7,3.6-11.9
    					c0.1-0.8-0.5-1.1-1.2-0.8C-163.1,576.6-164.3,578.6-164.4,579.5z"/>
    			</g>
    		</g>
    	</g>
    </g>
    <g id="boring">
    	<path id="XMLID_87_" class="st0" d="M-114.8,586.5l-1.8,13.9c-1.5,11.6-0.7,23.4,2.2,34.8l0.2,0.8c2.2,8.7,2.8,17.7,1.7,26.5
    		l-2.3,17.9l-1.7,13.2c-1.5,11.7-1.6,23.6-0.1,35.4l1.8,14.7l2.9,25.3c0.7,6.4,0.6,12.9-0.5,19.3l-2.4,15"/>
    	<path id="XMLID_39_" class="st1" d="M-85.5,549.7c1.3-17.9-11.2-34.6-27.4-34.6c-1.1,0-1.9,0-3.5,0c-1.7,0-2.7,0.2-3,0.2
    		c-14.5,1.4-25.4,17.2-24.2,34.4c1,14.6,8.4,26.5,20.5,32.3c2.4,1.2,5,1.8,7.6,1.8c2.6,0,5.3-0.5,7.7-1.6
    		C-94.6,576.4-86.6,564.5-85.5,549.7z"/>
    	<path id="XMLID_36_" class="st1" d="M-114.9,581.7c0,1.1-1.1,4.1-1.3,4.6c-0.1,0.3-0.4,0.8-0.2,1.1c0.3,0.3,0.6,0.1,0.9-0.1
    		c0.3-0.2,0.5-0.4,0.9-0.4c0.4,0,0.7,0.1,1.1,0.2c0.4,0.1,0.8,0,0.9-0.3c0.1-0.3,0-0.5-0.1-0.8c-0.5-1.1-1.1-2.2-1.6-3.2
    		c-0.1,0-0.3-0.1-0.4-0.1"/>
    	<g id="XMLID_85_" class="st2">
    		<path d="M-129.7,541.7c0.9,0,1.6,0.3,2.2,0.9c0.6,0.6,0.9,1.4,0.9,2.4s-0.3,1.8-0.9,2.4c-0.6,0.6-1.3,0.9-2.1,0.9
    			c-0.8,0-1.5-0.4-2.2-1.1v1h-1.3v-8.9h1.3v3.6C-131.2,542.1-130.5,541.7-129.7,541.7z M-131.8,545c0,0.6,0.2,1.1,0.6,1.5
    			c0.4,0.4,0.8,0.6,1.3,0.6s1-0.2,1.4-0.6c0.4-0.4,0.6-0.9,0.6-1.5s-0.2-1.1-0.6-1.5c-0.4-0.4-0.8-0.6-1.4-0.6c-0.5,0-1,0.2-1.4,0.6
    			C-131.6,543.9-131.8,544.4-131.8,545z"/>
    		<path d="M-119.7,547.3c-0.6,0.6-1.4,1-2.4,1s-1.8-0.3-2.4-1c-0.6-0.6-1-1.4-1-2.3c0-0.9,0.3-1.7,1-2.3c0.6-0.6,1.4-1,2.4-1
    			s1.8,0.3,2.4,1c0.6,0.6,1,1.4,1,2.3S-119.1,546.7-119.7,547.3z M-123.5,546.5c0.4,0.4,0.9,0.6,1.4,0.6s1.1-0.2,1.4-0.6
    			c0.4-0.4,0.6-0.9,0.6-1.5s-0.2-1.1-0.6-1.5c-0.4-0.4-0.9-0.6-1.4-0.6s-1.1,0.2-1.4,0.6c-0.4,0.4-0.6,0.9-0.6,1.5
    			C-124.1,545.6-123.9,546.1-123.5,546.5z"/>
    		<path d="M-113.9,543c-0.7,0-1.2,0.2-1.5,0.6c-0.3,0.4-0.5,1-0.5,1.7v2.7h-1.3v-6.4h1.3v1.3c0.2-0.4,0.5-0.7,0.9-1
    			c0.4-0.3,0.8-0.4,1.2-0.4L-113.9,543C-113.8,543-113.8,543-113.9,543z"/>
    		<path d="M-112.4,540.5c-0.2-0.2-0.3-0.4-0.3-0.6s0.1-0.4,0.3-0.6c0.2-0.2,0.4-0.3,0.6-0.3s0.4,0.1,0.6,0.3s0.3,0.4,0.3,0.6
    			s-0.1,0.4-0.3,0.6c-0.2,0.2-0.4,0.3-0.6,0.3S-112.2,540.7-112.4,540.5z M-111.1,548.1h-1.3v-6.4h1.3V548.1z"/>
    		<path d="M-107.8,544.7v3.5h-1.3v-6.4h1.3v1.2c0.2-0.4,0.5-0.7,0.9-0.9c0.4-0.2,0.8-0.3,1.2-0.3c0.7,0,1.3,0.2,1.7,0.7
    			c0.4,0.4,0.7,1.1,0.7,1.9v3.9h-1.3v-3.5c0-1.2-0.5-1.8-1.5-1.8c-0.5,0-0.9,0.2-1.2,0.5C-107.6,543.6-107.8,544.1-107.8,544.7z"/>
    		<path d="M-98.6,549.5c1.2,0,1.8-0.8,1.8-2.3v-0.4c-0.2,0.3-0.5,0.5-0.8,0.7c-0.4,0.2-0.8,0.3-1.2,0.3c-0.8,0-1.5-0.3-2.1-0.9
    			c-0.5-0.6-0.8-1.3-0.8-2.2s0.3-1.6,0.8-2.2c0.5-0.6,1.2-0.9,2.1-0.9c0.8,0,1.5,0.3,2.1,0.9v-0.8h1.3v5.5c0,1.1-0.3,2-0.9,2.6
    			c-0.6,0.6-1.3,0.9-2.2,0.9c-0.7,0-1.3-0.2-1.9-0.5c-0.5-0.3-0.9-0.8-1.2-1.4l1.2-0.5C-100.1,549.1-99.5,549.5-98.6,549.5z
    			 M-100.5,544.7c0,0.5,0.2,1,0.5,1.4s0.8,0.6,1.3,0.6s1-0.2,1.3-0.6c0.3-0.4,0.5-0.8,0.5-1.4c0-0.5-0.2-1-0.5-1.4s-0.8-0.6-1.3-0.6
    			s-1,0.2-1.3,0.6C-100.3,543.7-100.5,544.2-100.5,544.7z"/>
    	</g>
    	<g id="XMLID_102_" class="st3">
    		<g id="XMLID_132_">
    			<g id="XMLID_133_">
    				<path id="XMLID_145_" class="st4" d="M-114.4,524.9c2.6-0.3,5.1,0,7.5,1c4.2,0.7,7.6,3.1,10.2,7c-0.8-1.1-1.6-2.2-2.4-3.2
    					c1.3,1.9,2.6,3.8,4,5.7c-0.7-1.2-1.4-2.3-2.1-3.5c1.1,2,2.2,4,3.3,6.1c-0.6-1.2-1.2-2.5-1.7-3.7c0.9,2.1,1.8,4.2,2.6,6.3
    					c-0.4-1.3-0.9-2.6-1.3-3.9c0.8,5.7,1.6,11.4,2.3,17.1c0.3-1.4,0.6-2.8,0.9-4.2c-0.4,1.8-0.9,3.6-1.3,5.4
    					c-0.1,0.3-0.1,1.1,0.3,1.3c0.7,0.3,1.3-1.4,1.4-1.7c0.6-1.5,1.1-3,1.6-4.5c0.4-1.1,1-2.7,0.8-3.9c-1.1-6.4-4.1-12.7-8.4-17.5
    					c-2.6-3-5.7-5.2-9.2-6.9c-1.2-0.6-2.3-1.1-3.6-1.5c-3.8-1.3-7.7-1.6-11.8-1.7c-1.8-0.1,1.2,2.6,1.1,2.5c1.2,1,2.4,1.9,3.6,2.8
    					C-115.9,524.4-115.2,524.8-114.4,524.9z"/>
    				<path id="XMLID_144_" class="st4" d="M-113.1,521.9c3.2-0.4,6.2,0.2,8.9,1.9c10.9,2.9,15.2,12,12.9,27.3
    					c0.2-0.9,0.4-1.8,0.6-2.7c-0.3,0.9-0.5,1.9-0.8,2.8c-0.2,0.7-0.5,2.8,0.8,1.9c0.6-0.4,0.8-1.4,1.1-2c0.4-1.1,1-2.3,1.1-3.5
    					c0.5-6.6-1.7-13.8-5.3-19.3c-2.5-3.8-5.8-6.8-9.9-8.9c-1.5-0.8-2.3-1.1-4-1.7c-3.3-1.1-6.4-1.4-9.9-1.5
    					c-1.5-0.1,0.2,2.1,0.4,2.2c0.8,0.9,1.6,1.8,2.5,2.6C-114.2,521.4-113.7,521.7-113.1,521.9z"/>
    				<path id="XMLID_143_" class="st4" d="M-112.4,524.3c1.5,0,2.9,0.1,4.4,0.1c2.3,0.1,4.5,0.8,6.4,2.1c1.5,0.5,2.7,1.2,3.8,2.3
    					c4.1,3.3,6.6,7.7,7.5,13.4c0.8,4,1.2,7.9,0,11.9c-0.1,0.3-0.2,1.1,0.2,1.3c0.6,0.4,1.3-1.2,1.5-1.5c0.7-1.3,1.3-2.7,1.9-4.1
    					c0.4-1,1.2-2.4,1.1-3.6c-0.7-6.8-3.7-13.4-8.1-18.6c-3-3.5-6.7-6.2-10.9-8.1c-2.2-1.1-4.6-1.9-7.1-2.4c-2.7-0.7-5.4-0.9-8.2-0.8
    					c-1.9-0.1,1.3,2.9,1.2,2.8c1.3,1.3,2.6,2.5,4,3.7C-114.1,523.4-113.3,523.9-112.4,524.3z"/>
    				<path id="XMLID_142_" class="st4" d="M-109.6,527.5c3.8-0.3,7.3,0.4,10.8,2.1c6.8,5.3,10.5,11.8,11,19.3
    					c0.3,3.4,0.1,6.4-1.1,9.5c-0.3,0.8,0.7,1.1,1.2,0.8c0.9-0.4,2-2.4,2.2-3.4c1.7-7.8-0.7-17-5.6-23.2c-2.9-3.6-6.6-6.7-11-8.4
    					c-1.3-0.5-2.6-0.9-3.9-1.2c-2.9-0.7-5.4-0.9-8.5-1c-1.6-0.1,0.5,2.1,0.6,2.2c0.9,0.8,1.8,1.6,2.7,2.3
    					C-110.8,527.1-110.2,527.4-109.6,527.5z"/>
    				<path id="XMLID_141_" class="st4" d="M-109.7,524.8c2.8-0.2,5.5,0.1,8.2,0.9c3,1,5.5,2.6,7.6,4.8c2,2.2,3.5,4.7,4.6,7.5
    					c2.1,5.4,3,12,0.9,17.5c-0.4,1,0.7,1.1,1.2,0.7c0.5-0.6,1-1.2,1.4-1.9c0.4-0.7,0.8-1.4,1.1-2.1c1.4-8.7-1.7-18-7.4-24.6
    					c-2-2.3-4.4-4.1-7-5.7c-1.2-0.8-2.6-1.4-4-2c-3.8-1.6-7.8-2-11.9-2.2c-1.7-0.1,0.4,2.4,0.6,2.5c0.9,1.1,1.9,2.1,2.9,3.2
    					C-111,524.1-110.4,524.5-109.7,524.8z"/>
    				<path id="XMLID_140_" class="st4" d="M-113.4,523.7c3.5-0.6,6.9-0.1,10.2,1.5c8.6,8.6,11.4,17.5,8.4,27c-0.2,0.6-0.6,1.5-0.1,2
    					s1.1,0.2,1.4-0.3c1.8-3.6,1.8-8,1.4-11.9c-0.2-2.5-0.8-4.9-1.6-7.2c-1.2-3.5-3.1-6.7-5.8-9.2c-1.7-1.5-4.1-3-6.3-3.7
    					c-2.6-0.8-4.9-0.4-7.5-0.1C-114.4,521.8-114.6,523.7-113.4,523.7z"/>
    				<path id="XMLID_139_" class="st4" d="M-115.6,524.7c6.1-0.3,11.3,1.7,15.8,6c-0.6-0.6-1.2-1.2-1.8-1.8c6.2,8.4,8.6,17,7,25.9
    					c-0.1,0.5,0.1,0.8,0.5,1c0.9,0.2,1.2-1.5,1.4-2c2-5.8,0.6-11.8-1.6-17.2c-1.4-3.5-3.5-6.8-6.2-9.3c-2.1-2-4.4-3.5-7.1-4.6
    					c-4-1.6-7.9-1.9-12.2-2.1c-0.3,0.1-0.5,0.3-0.5,0.7c0.1,0.5,0.4,0.9,0.9,1.2C-118.3,523.4-116.9,524.7-115.6,524.7z"/>
    				<path id="XMLID_138_" class="st4" d="M-112.8,528.4c5-0.3,9.5,1,13.5,3.9c-0.8-0.6-1.5-1.1-2.3-1.7c3.3,9,6.7,17.9,10,26.9
    					c0.3-1,0.5-2,0.8-2.9c-0.3,1-0.6,1.9-0.9,2.9c-0.2,0.6-0.8,3,0.7,2c0.6-0.4,1-1.5,1.3-2.1c0.5-1,1.4-2.5,1.5-3.7
    					c0.1-3.1-0.5-6.1-1.4-9.1c-1.3-4.3-3.5-8.6-6.6-11.9c-1.9-2.1-4-3.8-6.5-5.2c-2-1.1-4.2-1.9-6.4-2.4c-3.3-0.8-5.2-0.7-8.6-0.8
    					c-0.4,0.1-0.5,0.4-0.4,0.7c0.2,0.6,0.6,1,1.2,1.2C-116,527.1-114.3,528.4-112.8,528.4z"/>
    				<path id="XMLID_137_" class="st4" d="M-109.9,522c1.4,0,2.9,0.1,4.3,0.1c3,0.3,5.6,1.2,7.9,2.9c4.5,3,7.3,7.5,8.5,13.2
    					c1.1,4.9,1.3,10.2-0.6,15c-0.2,0.6,0.1,1.3,0.8,1.3c0.8,0,1.2-1.2,1.4-1.8c2.1-5.8,1.3-12.5-0.6-18.2c-1.5-4.5-4.1-8.4-7.7-11.5
    					c-2.4-2.1-5.2-3.5-8.2-4.5c-2.9-1-5.5-1.1-8.6-1.3c-1.2-0.1-0.4,1.5-0.2,1.9C-112.2,519.8-111,521.9-109.9,522z"/>
    				<path id="XMLID_136_" class="st4" d="M-114.7,527.3c5-0.3,9.4,0.9,13.4,3.9c-0.7-0.5-1.5-1.1-2.2-1.6c3.5,8.3,6.9,16.7,10.4,25
    					c0.1-1.1,0.2-2.3,0.3-3.4c-0.3,2.1-0.7,4.1-1.1,6.1c-0.1,0.5,0,0.8,0.4,1.1c1.2,0.4,2-3.6,2.2-4c0.8-2.4,1-3.8,0.6-6.4
    					c-0.5-3-1.5-6.1-2.8-8.9c-1.6-3.5-3.6-6.4-6.3-9.1c-2.2-2.2-4.8-3.8-7.7-4.9c-3.9-1.5-7.8-1.7-11.9-1.8
    					c-0.3,0.1-0.5,0.4-0.4,0.7c0.2,0.5,0.6,0.9,1.1,1.2C-117.7,526.1-116.1,527.3-114.7,527.3z"/>
    				<path id="XMLID_135_" class="st4" d="M-110.7,521.7c2.7,0.1,5.4,0,8,0.8c1.1,0.5,2.2,1,3.3,1.5c4.5,2.4,6.8,6.2,7,11.5
    					c1.8,2.8,2.6,5.7,2.5,8.8c0,0.8,0,1.5-0.1,2.3c-0.2,2-0.6,3.8-1.5,5.7c-0.3,0.6-0.1,1,0.5,1.3c0.7,0.3,0.9,0,1.2-0.6
    					c1.3-2.7,1.7-5.6,1.7-8.5c0-3.2-0.3-6.5-1.2-9.6c-0.9-3.2-2.5-6.1-4.5-8.8c-1.6-2-3.4-3.5-5.7-4.7c-1.2-0.5-2.4-1-3.5-1.6
    					c-2.6-0.7-5.2-1-7.9-0.8c-0.5,0-1.1,0.3-1.1,0.9C-112.1,520.4-111.1,521.7-110.7,521.7z"/>
    				<path id="XMLID_134_" class="st4" d="M-114.5,525c2.5-0.5,4.9-0.2,7.1,0.8c5.7,1,9.5,5,11.1,11.8c1.4,4.6,2.4,10.2,0.7,14.9
    					c-0.2,0.6-0.7,1.9-0.3,2.5c0.2,0.3,1,0.7,1.3,0.1c1.2-2.3,1.5-4.7,1.6-7.3c0.2-4.8-0.8-9.9-2.9-14.3c-1.2-2.6-2.9-4.9-5.1-6.8
    					c-1.7-1.5-3.9-2.7-6.1-3.5c-2.5-0.9-5.2-0.5-7.7-0.4C-116,523.1-115.8,525.1-114.5,525z"/>
    			</g>
    		</g>
    	</g>
    	<g id="XMLID_101_" class="st3">
    		<g id="XMLID_117_">
    			<g id="XMLID_118_">
    				<path id="XMLID_130_" class="st4" d="M-95.2,556.6c0,2.2-0.4,4.3-1.2,6.3c-2.1,4.8-5.1,8.8-9.1,12c-1.6,1.3-3.3,2.5-5.2,3.4
    					c-2.5,1.3-5.1,2.1-7.9,2.3c-0.4,0-1.1,0.2-1.2,0.7c-0.1,0.7,1.7,0.8,2,0.8c1.6,0.2,3.1,0.2,4.7,0.2c1.2,0,2.8,0.2,3.9-0.4
    					c6.2-2.9,11.4-7.4,15.1-13.2c3.7-5.9,6.3-12.4,7.1-19.4c0.2-1.9-3,1.2-2.9,1.1c-1.3,1.2-2.5,2.5-3.8,3.8
    					C-94.3,555-94.8,555.8-95.2,556.6z"/>
    				<path id="XMLID_129_" class="st4" d="M-94.5,553.6c-0.4,4.3-1.6,7.7-4,11.2c-3.7,5.3-8.1,8.6-14.4,11.5c1.1-0.4,2.2-0.8,3.2-1.2
    					c-2,0.6-3.9,1.3-5.9,1.9c1.1-0.3,2.3-0.6,3.4-0.9c1.4-0.3-6.1,0.7-6.7,1.6c-0.4,0.7,0.2,1,0.8,1c1.5,0.2,3.2-0.2,4.6-0.4
    					c3.2-0.4,6-1.8,8.7-3.6c4.9-3.3,9-8,11.7-13.3c2.1-4.2,3.3-8.3,3.8-13c0.2-1.6-2.2,0.7-2.2,0.6C-92.4,550.2-94.4,552-94.5,553.6
    					z"/>
    				<path id="XMLID_128_" class="st4" d="M-93,555.9c0,2.2-0.5,4.3-1.3,6.3c-2.1,4.9-5.1,8.9-9.1,12.2c-1.6,1.3-3.3,2.5-5.2,3.5
    					c-2.5,1.3-5.1,2.1-7.9,2.3c-0.3,0.1-1,0.3-1,0.7c-0.1,0.7,1.5,0.8,1.8,0.8c1.4,0.1,2.8,0.1,4.3,0.1c1.2,0,2.4,0,3.5-0.5
    					c5.1-2,9.4-5.3,13-9.5c5.3-6.2,8.7-14,9.7-22c0.2-1.8-2.8,0.8-2.7,0.8c-1.2,1.1-2.4,2.2-3.5,3.3C-92.2,554.4-92.7,555-93,555.9z
    					"/>
    				<path id="XMLID_127_" class="st4" d="M-92.4,559.7c-0.1,3.1-1,6-2.6,8.7c-0.8,1.5-1.7,2.8-2.9,4c-4.9,5.8-11.4,10-19.6,10.1
    					c-0.6,0-1,0.6-0.8,1.2c0.2,0.6,1,0.7,1.6,0.7c3.3-0.1,6-0.6,9.1-1.9c2.9-1.3,5.5-2.9,7.9-5c3.3-2.7,6.1-5.9,8.1-9.7
    					c1.7-3.2,2.5-6.1,2.9-9.6c0.1-1-1.1-0.7-1.6-0.5C-90.8,558.1-92.2,558.8-92.4,559.7z"/>
    				<path id="XMLID_126_" class="st4" d="M-91.7,557c-0.1,3.1-0.9,5.9-2.4,8.5c-1.1,1.9-2.3,3.7-3.8,5.3c-4.5,5.1-10.4,8.6-17.5,9.3
    					c-0.7,0.1-1.6,0.4-1.1,1.2c0.4,0.8,2.6,0.6,3.2,0.5c2.3-0.3,4.2-0.7,6.3-1.5c3.6-1.3,6.8-3.8,9.6-6.4c3-2.8,5.6-6.1,7.4-9.8
    					c1.6-3.2,2.3-6.2,2.8-9.7c0.2-1.2-1.5-0.4-1.8-0.2C-89.8,554.8-91.6,555.9-91.7,557z"/>
    				<path id="XMLID_125_" class="st4" d="M-98.3,553.9c0.1,2-0.4,3.9-1.3,5.7c-2.7,8.7-9.4,14.2-20.3,16.7c-0.6,0.1-2.4,0.2-2.6,1.1
    					c-0.1,0.9,1,0.9,1.6,0.8c4.7-0.4,8.8-2,12.7-4.8c3.4-2.5,6.3-5.5,8.6-9c1.2-1.9,2-3.6,2.8-5.7c0.8-2.2,1-4.2,1.3-6.4
    					c0.1-0.6-0.7-1-1.2-0.8C-97.4,551.8-98.2,553.2-98.3,553.9z"/>
    				<path id="XMLID_124_" class="st4" d="M-97.3,556.2c-0.7,6.1-3.1,10.7-7.1,15c-4,4.2-8.2,6.7-14,8.5c1.3-0.2,2.6-0.5,3.8-0.7
    					c-2.1,0.3-4.3,0.6-6.4,1c-0.3,0.1-1,0.3-1,0.7c-0.1,0.7,1.5,0.7,1.9,0.7c1.4,0.1,2.8,0.1,4.2,0c1.2-0.1,2.4-0.1,3.5-0.5
    					c12.2-5.2,19.9-18.3,21.3-31.1c0.2-1.8-2.6,1.2-2.4,1c-1,1.1-1.9,2.3-2.7,3.4C-96.7,554.7-97.1,555.4-97.3,556.2z"/>
    				<path id="XMLID_123_" class="st4" d="M-95.1,559.9c-0.1,1.1-0.2,2.2-0.4,3.2c-0.4,2-1.2,3.9-2.3,5.6c-1.5,2.8-3.3,5.3-5.7,7.5
    					c-1.6,1.4-3.3,2.8-5.1,3.9c-3.4,2.2-6.9,3.1-10.9,3.4c-0.9,0.1-0.7,1-0.3,1.4c0.8,0.6,3.1,1,4.1,0.8c4.6-0.9,8.5-2.4,12.3-5.2
    					c3-2.2,5.6-4.9,7.8-7.9c1.5-2.1,2.6-4.1,3.8-6.3c1.7-3.2,2.5-6.5,3-10.1c0.2-1.5-2,0-2.2,0.1c-1,0.7-1.9,1.4-2.8,2.1
    					C-94.5,558.8-94.9,559.3-95.1,559.9z"/>
    				<path id="XMLID_122_" class="st4" d="M-93.3,554.2c-0.5,5.4-1.8,9-5.9,13.5c-4.4,4.7-9.6,8.2-16.6,8.9c-0.6,0.1-2,0.1-1.9,1.1
    					c0.1,1,1.4,0.7,2.1,0.7c5.1-0.3,10-2.5,14-5.8c2.6-2.1,4.8-4.4,6.7-7.1c1.1-1.5,1.9-3.1,2.7-4.8c1.1-2.4,1.5-4.6,1.7-7.3
    					c0.1-0.6-0.5-1-1-1C-92.1,552.4-93.3,553.7-93.3,554.2z"/>
    				<path id="XMLID_121_" class="st4" d="M-96.7,558.6c-0.1,1.1-0.2,2.2-0.4,3.2c-1.2,2.7-2.4,5.3-3.6,8c-1.5,2.2-3.4,4.2-5.4,6
    					c-1.6,1.4-3.3,2.6-5.1,3.6c-3,1.7-5.7,2.5-9.3,2.9c-1.2,0.1-1.1,1-0.2,1.4c1,0.3,2.1,0.5,3.2,0.5c1.1,0.1,2.1,0.2,3.2,0.2
    					c2.4-0.8,4.4-1.5,6.6-2.8c2-1.2,3.8-2.7,5.6-4.2c6.9-6.1,11.3-15.6,12.4-24.6c0.2-1.7-2.6,0.7-2.5,0.7c-1.1,1-2.1,2-3.1,3.1
    					C-96.1,557.2-96.5,557.9-96.7,558.6z"/>
    				<path id="XMLID_120_" class="st4" d="M-95,553.2c-0.1,1.1-0.2,2.1-0.4,3.2c-0.6,2.5-1.6,4.8-3.1,6.8c-1.3,2.1-3,3.9-5.2,5.2
    					c-3.4,4.1-7.9,6.3-13.4,6.8c-0.6,0.1-2,0.1-2.3,0.8s0.4,1.2,1,1.1c2.4-0.1,4.7-0.4,7-1.3c3-1.2,5.7-2.8,8.2-4.8
    					c2.2-1.8,4.2-3.7,5.8-6c1.3-1.7,2.4-3.7,3.2-5.7c0.9-2.2,1.1-4.4,1.4-6.7c0.1-0.5-0.7-0.9-1.1-0.9
    					C-94.4,551.9-95,552.8-95,553.2z"/>
    				<path id="XMLID_119_" class="st4" d="M-98.9,554.9c-0.1,5-2,9.5-5.6,13.5c-5.4,5.2-11.4,8.5-18.3,9.9c-0.8,0.4-0.8,1.2,0.1,1.4
    					c1,0.3,3,0,4.1-0.2c2.7-0.5,5.5-1.7,7.8-3.1c3-1.8,5.6-4.2,7.9-6.8c1.4-1.6,2.6-3.4,3.7-5.3c2.2-3.7,3.2-7.7,3.6-11.9
    					c0.1-0.8-0.5-1.1-1.2-0.8C-97.6,552-98.9,554-98.9,554.9z"/>
    			</g>
    		</g>
    	</g>
    </g>
    </svg>
</div>

{{> buttons }}
</div>
