<div class="school">
  <div class="school__text">
    <h2 class="school__title">How do you feel about school?</h2>
  </div>
  <div class="friends__emoji-sprite"></div>
  <div class="school__slider">
    <span class="school__label label--bad">Bad</span>
    <input class="school__range range" type="range" min="0"
    max="4" value="2" step="1">
    <span class="school__label label--good">Good</span>
  </div>
  <div class="school__text">
    <p class="school__subtitle">What do you like and dislike about school?</p>
    <input class="school__input" type="text" autofocus="">
    <input class="school__input" type="text" autofocus="">
  </div>

  {{> buttons }}
</div>
