<div class="school">
  <div class="school__text">
    <h2 class="school__title">How do you feel about school?</h2>
    <div class="school__schooling-lion"></div>
    <div class="school__slider">
      <input class="school__range" type="range" min="0"
             max="5" value="0" step="1">
    </div>
  </div>
  {{> buttons }}
</div>
