<div class="school">
  <div class="school__text">
    <h2 class="school__title">How do you feel<br>about school?</h2>
  </div>
  <div class="friends__emoji-sprite"></div>
  <div class="school__slider">
    <label class="slider__label slider__label--bad">Bad</label>
    <input class="school__range range" type="range" min="1"
    max="5" value="3" step="1">
    <label class="slider__label slider__label--good">Good</label>
  </div>
  <div class="school__textarea">
    <div class="textarea__container">
      <label class="textarea__label">I like:</label>
      <textarea class="textarea__text" type="text" autofocus=""></textarea>
    </div>
    <div class="textarea__container">
      <label class="textarea__label">I dislike:</label>
      <textarea class="textarea__text" type="text" autofocus=""></textarea>
    </div>
  </div>

  {{> buttons }}
</div>
