<div class="sleep">
  <div class="sleep__text">
    <h2 class="sleep__title">How well <br> have you been sleeping?</h2>
    <div class="sleep__sleeping-lion"></div>
    <div class="sleep__slider">
      <input class="sleep__range" type="range" min="0"
             max="5" value="0" step="1">
    </div>
  </div>
  {{> buttons }}
</div>
