<div class="sleep">
  <div class="sleep__text">
    <h2 class="sleep__title">How well have<br>you been sleeping?</h2>
  </div>
  <div class="sleep__sleeping-lion"></div>
  <div class="sleep__slider">
    <div class="slider__labels">
      <label class="slider__label slider__label--bad">Not at all</label>
      <label class="slider__label slider__label--good">Really well</label>
    </div>
    <input name="Sleep" class="sleep__range range" type="range" min="1"
    max="5" value="3" step="1">
  </div>

  {{> buttons }}
</div>
