<div class="sleep">
  <div class="sleep__text">
    <h2 class="sleep__title">How well have<br>you been sleeping?</h2>
  </div>
  <div class="sleep__sleeping-lion"></div>
  <div class="sleep__slider">
    <input class="sleep__range range" type="range" min="0"
    max="4" value="2" step="1">
  </div>

  {{> buttons }}
</div>
