<div class="welcome">
  <h1 class="welcome__title">Welcome to <br> CAMHS</h1>
  <img class="welcome__image" src="./assets/animated-lion.svg" alt="Cute lion">
  <p class="welcome__text">
    We would like to get to know you better. Swipe left to get started.
  </p>
</div>
