.welcome, .introduction, .eating, .finish, .feelings, .avatar, .personality {
  display: flex;
  flex-direction: column;
  color: white;
  padding: 70px 100px; }

.welcome__text, .introduction__text, .eating__text, .finish__text, .feelings__text, .avatar__text, .personality__text {
  margin: 40px 0;
  padding: 0 25px;
  font-size: 2.2rem;
  text-align: center; }

body {
  padding: 0;
  font-family: "Montserrat Alternates", sans-serif;
  max-width: 768px;
  border: 1px solid black;
  height: 1024px;
  margin: auto;
  background: radial-gradient(ellipse at center, rgba(56, 185, 242, 0.8) 0%, rgba(57, 138, 187, 0.8) 100%);
  font-size: 1.1rem;
  color: white; }

.welcome__title {
  font-family: "Henny Penny", cursive;
  font-size: 4rem;
  margin: 0 auto;
  letter-spacing: 0.2rem;
  text-align: center;
  line-height: 4.5rem; }

.welcome__image {
  margin: 25px auto;
  height: 500px;
  width: 500px; }

.introduction__text {
  margin-top: 15px;
  margin-bottom: 10px; }

.text-input {
  width: 490px;
  height: 50px;
  font-size: 3.9rem;
  border: none;
  border-bottom: 6px dotted white;
  background-color: transparent;
  color: #FCF74C;
  text-align: center;
  padding-bottom: 20px; }

.text-input:focus {
  outline: none; }

.sleeping-lion {
  width: 300px;
  margin: 0 auto 20px auto; }

.eating__text {
  margin: -27px 0; }

.eating__title {
  margin-top: 20px; }

.eating__slider {
  width: 600px;
  position: relative;
  overflow-y: hidden;
  height: 540px;
  margin-bottom: 60px; }

.slider__tree {
  background: url("../assets/banana-tree.svg");
  background-repeat: no-repeat;
  margin-left: 114px;
  margin-top: 15px;
  height: 100%; }

.slider__range {
  display: block;
  -webkit-appearance: none;
  outline: none;
  height: 30px;
  width: 100%;
  background: transparent;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }

.slider__range::-webkit-slider-thumb {
  -webkit-appearance: none;
  cursor: pointer;
  height: 10px;
  width: 54px;
  position: relative; }

.slider__range::-webkit-slider-thumb:after {
  content: '< >';
  word-spacing: 20px;
  text-align: center;
  font: bold 17px/25px "Montserrat Alternates", sans-serif;
  color: white;
  width: 54px;
  height: 25px;
  position: absolute;
  top: -10px;
  left: 0;
  color: transparent;
  transition: color 0.25s; }

.slider__range::-webkit-slider-thumb:before {
  content: '';
  height: 5px;
  width: 400px;
  position: absolute;
  top: 0;
  right: 0;
  /*prevent click obstruction for the real slider track beneath*/
  pointer-events: none; }

.slider__reel {
  width: 25%;
  height: 35%;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  /*bottom pos will be controlled by JS*/ }

.slider__banana {
  font: bold 3rem/1rem "Montserrat Alternates", sans-serif;
  color: white;
  position: absolute;
  left: 166px;
  height: 125px;
  width: 25%;
  text-align: center;
  /*disable clicks so that the slider thumb can be controlled*/
  pointer-events: none;
  transition: all 0.25s;
  background-image: url("../assets/banana.svg");
  background-repeat: no-repeat; }

.finish__lion {
  width: 300px;
  display: block;
  margin: 40px auto; }

.finish-background {
  background-image: url(../assets/ticker-tape.svg);
  background-size: 260px;
  background-position: center;
  -webkit-filter: brightness(0.95);
  filter: brightness(0.95); }

.finish {
  height: 883px; }

.finished__header {
  color: black;
  margin-top: 55px;
  margin-bottom: 5px; }

.download-button {
  margin-top: 20px;
  border: none;
  border-radius: 4px;
  color: black;
  width: 200px;
  height: 80px;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 1.2em;
  background-color: #FCF74C;
  cursor: pointer;
  outline: none;
  box-shadow: 0 4px #E87325; }
  .download-button:hover {
    background-color: #FCF74C;
    filter: brightness(97%); }
  .download-button:active {
    box-shadow: 0 2px #E87325;
    transform: translateY(2px); }

.feelings__title {
  margin-top: 0px;
  margin-bottom: 50px; }

.feelings {
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 0px; }

.emoji {
  margin: 5px 25px 5px 25px;
  width: 200px; }

.eaten-banana {
  width: 200px; }

.avatar {
  padding: 0; }

.avatar__title {
  margin-top: 65px;
  margin-bottom: 0px;
  padding: 0 20px; }

.carousel {
  height: 805px;
  perspective: 300px; }
  .carousel .carousel-item {
    width: 400px;
    top: -300px; }
  .carousel .indicators {
    bottom: 230px; }

.personality__title {
  margin-top: 0px; }

.personality__types {
  color: black;
  height: 360px; }

.personality__shape {
  background-color: #FCF74C;
  display: inline-block;
  border-radius: 50%;
  margin: 10px 10px 20px 0; }

.characteristics {
  cursor: pointer;
  padding: 15px;
  text-align: center;
  display: inline-block;
  margin: 10px;
  font-size: 1.5em; }

.st0 {
  fill: none;
  stroke: #FCF74C;
  stroke-width: 0.5;
  stroke-miterlimit: 10; }

.st1 {
  fill: #FFC900; }

.st2 {
  font-family: 'MontserratAlternates-Regular'; }

.st3 {
  font-size: 12px; }

.st4 {
  opacity: 0.41; }

.st5 {
  opacity: 0.1091;
  fill: white; }

.st6 {
  fill: none; }

.pop {
  display: none; }

#balloons {
  width: 750px;
  position: absolute;
  left: 50%;
  margin-left: -385px;
  top: 18px; }

#strange {
  -webkit-animation: balloon1 6s ease-in-out infinite;
  -moz-animation: balloon1 6s ease-in-out infinite;
  -o-animation: balloon1 6s ease-in-out infinite;
  animation: balloon1 6s ease-in-out infinite; }

#happy {
  -webkit-animation: balloon2 6s ease-in-out infinite;
  -moz-animation: balloon2 6s ease-in-out infinite;
  -o-animation: balloon2 6s ease-in-out infinite;
  animation: balloon2 6s ease-in-out infinite; }

#sad {
  -webkit-animation: balloon3 6s ease-in-out infinite;
  -moz-animation: balloon3 6s ease-in-out infinite;
  -o-animation: balloon3 6s ease-in-out infinite;
  animation: balloon3 6s ease-in-out infinite; }

#boring {
  -webkit-animation: balloon7 7s ease-in-out infinite;
  -moz-animation: balloon7 7s ease-in-out infinite;
  -o-animation: balloon7 7s ease-in-out infinite;
  animation: balloon7 7s ease-in-out infinite; }

#kind {
  -webkit-animation: balloon6 8s ease-in-out infinite;
  -moz-animation: balloon6 8s ease-in-out infinite;
  -o-animation: balloon6 8s ease-in-out infinite;
  animation: balloon6 8s ease-in-out infinite; }

#fun {
  -webkit-animation: balloon6 6s ease-in-out infinite;
  -moz-animation: balloon6 6s ease-in-out infinite;
  -o-animation: balloon6 6s ease-in-out infinite;
  animation: balloon6 6s ease-in-out infinite; }

#angry {
  -webkit-animation: balloon4 6s ease-in-out infinite;
  -moz-animation: balloon4 6s ease-in-out infinite;
  -o-animation: balloon4 6s ease-in-out infinite;
  animation: balloon4 6s ease-in-out infinite; }

/*BALLOON 1*/
@-webkit-keyframes balloon1 {
  0%,100% {
    -webkit-transform: translateY(0) rotate(-0.5deg); }
  50% {
    -webkit-transform: translateY(-5px) rotate(3deg); } }
@-moz-keyframes balloon1 {
  0%,100% {
    -moz-transform: translateY(0) rotate(-0.5deg); }
  50% {
    -moz-transform: translateY(-5px) rotate(3deg); } }
@-o-keyframes balloon1 {
  0%,100% {
    -o-transform: translateY(0) rotate(-0.5deg); }
  50% {
    -o-transform: translateY(-5px) rotate(3deg); } }
@keyframes balloon1 {
  0%,100% {
    transform: translateY(0) rotate(0.5deg); }
  50% {
    transform: translateY(-5px) rotate(3deg); } }
/* BAllOON 2*/
@-webkit-keyframes balloon2 {
  0%,100% {
    -webkit-transform: translateY(-2px) rotate(2deg); }
  50% {
    -webkit-transform: translateY(-9px) rotate(-1deg); } }
@-moz-keyframes balloon2 {
  0%,100% {
    -moz-transform: translateY(-2px) rotate(2deg); }
  50% {
    -moz-transform: translateY(-9px) rotate(-1deg); } }
@-o-keyframes balloon2 {
  0%,100% {
    -o-transform: translateY(-2px) rotate(2deg); }
  50% {
    -o-transform: translateY(-9px) rotate(-1deg); } }
@keyframes balloon2 {
  0%,100% {
    transform: translateY(-2px) rotate(2deg); }
  50% {
    transform: translateY(-9px) rotate(-1deg); } }
/* BAllOON 3*/
@-webkit-keyframes balloon3 {
  0%,100% {
    -webkit-transform: translate(0, -10px) rotate(0); }
  50% {
    -webkit-transform: translate(-20px, 30px) rotate(-8deg); } }
@-moz-keyframes balloon3 {
  0%,100% {
    -moz-transform: translate(0, -10px) rotate(0); }
  50% {
    -moz-transform: translate(-20px, 30px) rotate(-8deg); } }
@-o-keyframes balloon3 {
  0%,100% {
    -o-transform: translate(0, -10px) rotate(0); }
  50% {
    -o-transform: translate(-20px, 30px) rotate(-8deg); } }
@keyframes balloon3 {
  0%,100% {
    transform: translate(0, -10px) rotate(0); }
  50% {
    transform: translate(-20px, 30px) rotate(-8deg); } }
/* BAllOON 4*/
@-webkit-keyframes balloon4 {
  0%,100% {
    -webkit-transform: translate(0, 0) rotate(-1deg); }
  50% {
    -webkit-transform: translate(-5px, 15px) rotate(-3deg); } }
@-moz-keyframes balloon4 {
  0%,100% {
    -moz-transform: translate(0, 0) rotate(-1deg); }
  50% {
    -moz-transform: translate(-5px, 15px) rotate(-3deg); } }
@-o-keyframes balloon4 {
  0%,100% {
    -o-transform: translate(0, 0) rotate(-1deg); }
  50% {
    -o-transform: translate(-5px, 15px) rotate(-3deg); } }
@keyframes balloon4 {
  0%,100% {
    transform: translate(0, 0) rotate(-1deg); }
  50% {
    transform: translate(-5px, 15px) rotate(-3deg); } }
/* BAllOON 5*/
@-webkit-keyframes balloon5 {
  0%,100% {
    -webkit-transform: translate(0, 0) rotate(-1deg); }
  50% {
    -webkit-transform: translate(-15px, 20px) rotate(-3deg); } }
@-moz-keyframes balloon5 {
  0%,100% {
    -moz-transform: translate(0, 0) rotate(-1deg); }
  50% {
    -moz-transform: translate(-15px, 20px) rotate(-3deg); } }
@-o-keyframes balloon5 {
  0%,100% {
    -o-transform: translate(0, 0) rotate(-1deg); }
  50% {
    -o-transform: translate(-15px, 20px) rotate(-3deg); } }
@keyframes balloon5 {
  0%,100% {
    transform: translate(0, 0) rotate(-1deg); }
  50% {
    transform: translate(-15px, 20px) rotate(-3deg); } }
/* BAllOON 6*/
@-webkit-keyframes balloon6 {
  0%,100% {
    -webkit-transform: translate(0, 5px) rotate(-1deg); }
  50% {
    -webkit-transform: translate(-20px, 5px) rotate(-5deg); } }
@-moz-keyframes balloon6 {
  0%,100% {
    -moz-transform: translate(0, 5px) rotate(-1deg); }
  50% {
    -moz-transform: translate(-20px, 5px) rotate(-5deg); } }
@-o-keyframes balloon6 {
  0%,100% {
    -o-transform: translate(0, 5px) rotate(-1deg); }
  50% {
    -o-transform: translate(-20px, 5px) rotate(-5deg); } }
@keyframes balloon6 {
  0%,100% {
    transform: translate(0, 5px) rotate(-1deg); }
  50% {
    transform: translate(-20px, 5px) rotate(-5deg); } }
/* BAllOON 7*/
@-webkit-keyframes balloon7 {
  0%,100% {
    -webkit-transform: translate(0, 0) rotate(0); }
  50% {
    -webkit-transform: translate(2px, -2px) rotate(-2deg); } }
@-moz-keyframes balloon7 {
  0%,100% {
    -moz-transform: translate(0, 0) rotate(0); }
  50% {
    -moz-transform: translate(2px, -2px) rotate(-2deg); } }
@-o-keyframes balloon7 {
  0%,100% {
    -o-transform: translate(0, 0) rotate(0); }
  50% {
    -o-transform: translate(2px, -2px) rotate(-2deg); } }
@keyframes balloon7 {
  0%,100% {
    transform: translate(0, 0) rotate(0); }
  50% {
    transform: translate(2px, -2px) rotate(-2deg); } }

/*# sourceMappingURL=main.css.map */
