body {
  padding: 0;
  font-family: "Montserrat Alternates", sans-serif;
  margin: auto;
  background: radial-gradient(ellipse at center, rgba(56, 185, 242, 0.8) 0%, rgba(57, 138, 187, 0.8) 100%);
  font-size: 1.1rem;
  color: white;
  width: 100%; }
  @media screen and (min-width: 768px) {
    body {
      max-width: 768px; } }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

.welcome, .introduction, .eating, .hobbies, .finish, .feelings, .avatar, .personality, .friends, .sleep, .school {
  display: -webkit-flex;
  -webkit-flex-direction: column;
  color: white; }

.welcome__text, .introduction__text, .eating__text, .hobbies__text, .finish__text, .feelings__text, .avatar__text, .personality__text, .friends__text, .sleep__text, .school__text {
  margin: 40px 0;
  font-size: 1.5rem;
  text-align: center; }
  @media screen and (min-width: 768px) {
    .welcome__text, .introduction__text, .eating__text, .hobbies__text, .finish__text, .feelings__text, .avatar__text, .personality__text, .friends__text, .sleep__text, .school__text {
      padding: 0 25px;
      font-size: 2.2rem; } }

.introduction__text--input, .friends__text-input, .school__input {
  width: 90%;
  height: 50px;
  font-size: 2.5rem;
  border: none;
  border-bottom: 6px dotted white;
  background-color: transparent;
  color: #fcf74c;
  text-align: center;
  padding-bottom: 20px; }
  @media screen and (min-width: 768px) {
    .introduction__text--input, .friends__text-input, .school__input {
      font-size: 3.9rem; } }
  .introduction__text--input:focus, .friends__text-input:focus, .school__input:focus {
    outline: none; }

.friends__range, .sleep__range, .school__range {
  -webkit-appearance: none;
  width: 90%;
  margin: 100px 0; }
  .friends__range::-webkit-slider-runnable-track, .sleep__range::-webkit-slider-runnable-track, .school__range::-webkit-slider-runnable-track {
    width: 300px;
    height: 2px;
    background: transparent; }
  .friends__range:focus, .sleep__range:focus, .school__range:focus {
    outline: 0; }
  .friends__range::-webkit-slider-thumb, .sleep__range::-webkit-slider-thumb, .school__range::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 40px;
    width: 40px;
    position: relative;
    margin-top: -20px;
    border: none;
    background-image: url(../assets/slider-button.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent; }
    @media screen and (min-width: 768px) {
      .friends__range::-webkit-slider-thumb, .sleep__range::-webkit-slider-thumb, .school__range::-webkit-slider-thumb {
        width: 65px;
        height: 65px;
        margin-top: -31px; } }

.buttons {
  position: relative;
  z-index: 1;
  width: 100%; }

.button {
  text-decoration: none;
  padding: 15px 0px;
  color: white;
  font-size: 1.5rem;
  background-color: rgba(57, 138, 187, 0.8);
  text-align: center;
  width: 40%; }

.button--prev {
  float: left; }

.button--next {
  float: right; }

.welcome .button {
  width: 100%; }
  @media screen and (min-width: 768px) {
    .welcome .button {
      width: 40%; } }

.welcome__title {
  font-family: "Henny Penny", cursive;
  font-size: 3rem;
  margin: 0 auto;
  letter-spacing: 0.35rem;
  line-height: 4.5rem; }
  @media screen and (min-width: 768px) {
    .welcome__title {
      font-size: 4rem; } }

.welcome__image {
  margin: 25px auto;
  height: 300px; }
  @media screen and (min-width: 768px) {
    .welcome__image {
      height: 400px; } }

.introduction .buttons {
  margin-top: 60px; }

.introduction__text {
  margin-top: 15px;
  margin-bottom: 10px; }

.sleeping-lion {
  width: 200px;
  margin: 0 auto 20px auto; }
  @media screen and (min-width: 768px) {
    .sleeping-lion {
      width: 300px; } }

.eating__text {
  margin: 20px; }

@media screen and (min-width: 768px) {
  .eating__title {
    margin-top: 20px; } }

.eating__slider {
  position: relative;
  height: 540px; }
  @media screen and (min-width: 768px) {
    .eating__slider {
      margin-bottom: 60px; } }

.slider__tree {
  background: url("./assets/banana-tree.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 100%; }

.slider__range {
  -webkit-appearance: none;
  width: 450px;
  margin-left: -95px;
  margin-top: 300px;
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg); }
  @media screen and (min-width: 768px) {
    .slider__range {
      margin-left: 95px; } }
  .slider__range::-webkit-slider-runnable-track {
    width: 300px;
    height: 0.01px;
    background: transparent; }
  .slider__range::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 140px;
    width: 140px;
    border: none;
    background-image: url(./assets/banana.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent; }
  .slider__range:focus {
    outline: none; }

span.value {
  font-size: 3rem;
  margin-left: 60px; }

.hobbies__table {
  display: table;
  margin: 0 auto 55px; }

.table__row {
  display: table-row;
  width: 100%; }

.table__cell {
  display: table-cell;
  border: 1px solid white;
  padding: 50px 20px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  background-color: transparent;
  -webkit-transition: all 1s ease-in-out 0s;
  -moz-transition: all 1s ease-in-out 0s;
  -o-transition: all 1s ease-in-out 0s;
  transition: all 1s ease-in-out 0s; }
  .table__cell:last-child {
    display: none; }
    @media screen and (min-width: 550px) {
      .table__cell:last-child {
        display: table-cell; } }
  .table__cell:hover {
    color: #fcf74c;
    border: 1px solid #fcf74c; }
  @media screen and (min-width: 550px) {
    .table__cell {
      font-size: 1.5rem;
      padding: 50px 40px; } }

.mobile-only {
  display: table-row; }
  .mobile-only .table__cell:last-child {
    display: table-cell; }
    @media screen and (min-width: 550px) {
      .mobile-only .table__cell:last-child {
        display: none; } }
  @media screen and (min-width: 550px) {
    .mobile-only {
      display: none; } }

.js-chosen {
  background-color: #e87325; }

.finish-background {
  background-image: url(./assets/ticker-tape.svg);
  background-size: 200px;
  background-position: center;
  -webkit-filter: brightness(0.95);
  filter: brightness(0.95); }

.finish .button {
  width: 100%; }
  @media screen and (min-width: 768px) {
    .finish .button {
      width: 40%; } }

.finish__lion {
  width: 200px;
  display: block;
  margin: 40px auto; }
  @media screen and (min-width: 768px) {
    .finish__lion {
      width: 300px; } }

.finished__header {
  color: black;
  margin-bottom: 5px; }
  @media screen and (min-width: 768px) {
    .finished__header {
      margin-top: 55px; } }

.finish__email-form {
  font-size: 1.3em;
  color: black; }
  .finish__email-form p {
    margin-bottom: 10px; }
  .finish__email-form :focus {
    outline: none; }

.finish__email-input {
  width: 500px;
  height: 30px;
  font-size: 0.45em;
  font-family: "Montserrat Alternates", sans-serif;
  margin: 15px 0;
  text-align: center;
  border: none; }

.send-email-button {
  -webkit-appearance: none;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 0.83em;
  margin-top: 20px;
  border: none;
  border-radius: 4px;
  color: black;
  width: 160px;
  height: 65px;
  background-color: #fcf74c;
  cursor: pointer;
  outline: none;
  box-shadow: 0 4px #e87325; }
  .send-email-button:hover {
    background-color: #fcf74c;
    filter: brightness(97%); }
  .send-email-button:active {
    box-shadow: 0 2px #e87325;
    transform: translateY(2px); }

.feelings__title {
  margin-top: 0px;
  margin-bottom: 50px; }

.emoji {
  margin: 5px 25px;
  width: 100px; }
  @media screen and (min-width: 768px) {
    .emoji {
      width: 200px; } }

.eaten-banana {
  width: 100px;
  margin-bottom: 50px; }
  @media screen and (min-width: 768px) {
    .eaten-banana {
      width: 200px; } }

.avatar__text {
  margin: 0; }
  @media screen and (min-width: 768px) {
    .avatar__text {
      margin: 40px 0; } }

.avatar__title {
  padding: 0 20px; }

.carousel {
  height: 600px;
  perspective: 200px; }
  @media screen and (min-width: 768px) {
    .carousel {
      margin-bottom: 100px; } }
  .carousel .carousel-item {
    width: 300px;
    top: -200px; }
    @media screen and (min-width: 768px) {
      .carousel .carousel-item {
        width: 400px; } }
  .carousel .indicators {
    bottom: 90px; }
    @media screen and (min-width: 768px) {
      .carousel .indicators {
        bottom: -15px; } }

.personality__title {
  margin-top: 0px; }

.balloons {
  position: relative;
  top: -190px;
  height: 360px; }
  @media screen and (min-width: 768px) {
    .balloons {
      top: -150px;
      height: 830px;
      margin-top: -235px; } }

.st0 {
  fill: none;
  stroke: #fcf74c;
  stroke-width: 0.5;
  stroke-miterlimit: 10; }

.st1 {
  fill: #ffc900; }

.st2 {
  font-family: 'MontserratAlternates-Regular'; }

.st3 {
  font-size: 12px; }

.st4 {
  opacity: 0.41; }

.st5 {
  opacity: 0.1091;
  fill: white; }

.st6 {
  fill: none; }

.pop {
  display: none; }

#strange {
  -webkit-animation: balloon1 6s ease-in-out 0s infinite;
  -moz-animation: balloon1 6s ease-in-out 0s infinite;
  -o-animation: balloon1 6s ease-in-out 0s infinite;
  animation: balloon1 6s ease-in-out 0s infinite; }

#happy {
  -webkit-animation: balloon2 6s ease-in-out 0s infinite;
  -moz-animation: balloon2 6s ease-in-out 0s infinite;
  -o-animation: balloon2 6s ease-in-out 0s infinite;
  animation: balloon2 6s ease-in-out 0s infinite; }

#sad {
  -webkit-animation: balloon3 6s ease-in-out 0s infinite;
  -moz-animation: balloon3 6s ease-in-out 0s infinite;
  -o-animation: balloon3 6s ease-in-out 0s infinite;
  animation: balloon3 6s ease-in-out 0s infinite; }

#boring {
  -webkit-animation: balloon7 7s ease-in-out 0s infinite;
  -moz-animation: balloon7 7s ease-in-out 0s infinite;
  -o-animation: balloon7 7s ease-in-out 0s infinite;
  animation: balloon7 7s ease-in-out 0s infinite; }

#kind {
  -webkit-animation: balloon6 8s ease-in-out 0s infinite;
  -moz-animation: balloon6 8s ease-in-out 0s infinite;
  -o-animation: balloon6 8s ease-in-out 0s infinite;
  animation: balloon6 8s ease-in-out 0s infinite; }

#fun {
  -webkit-animation: balloon6 6s ease-in-out 0s infinite;
  -moz-animation: balloon6 6s ease-in-out 0s infinite;
  -o-animation: balloon6 6s ease-in-out 0s infinite;
  animation: balloon6 6s ease-in-out 0s infinite; }

#angry {
  -webkit-animation: balloon4 6s ease-in-out 0s infinite;
  -moz-animation: balloon4 6s ease-in-out 0s infinite;
  -o-animation: balloon4 6s ease-in-out 0s infinite;
  animation: balloon4 6s ease-in-out 0s infinite; }

/*BALLOON 1*/
@-webkit-keyframes balloon1 {
  0%,100% {
    -webkit-transform: translateY(0) rotate(-0.5deg); }
  50% {
    -webkit-transform: translateY(-5px) rotate(3deg); } }
@-moz-keyframes balloon1 {
  0%,100% {
    -moz-transform: translateY(0) rotate(-0.5deg); }
  50% {
    -moz-transform: translateY(-5px) rotate(3deg); } }
@-o-keyframes balloon1 {
  0%,100% {
    -o-transform: translateY(0) rotate(-0.5deg); }
  50% {
    -o-transform: translateY(-5px) rotate(3deg); } }
@keyframes balloon1 {
  0%,100% {
    transform: translateY(0) rotate(0.5deg); }
  50% {
    transform: translateY(-5px) rotate(3deg); } }
/* BAllOON 2*/
@-webkit-keyframes balloon2 {
  0%,100% {
    -webkit-transform: translateY(-2px) rotate(2deg); }
  50% {
    -webkit-transform: translateY(-9px) rotate(-1deg); } }
@-moz-keyframes balloon2 {
  0%,100% {
    -moz-transform: translateY(-2px) rotate(2deg); }
  50% {
    -moz-transform: translateY(-9px) rotate(-1deg); } }
@-o-keyframes balloon2 {
  0%,100% {
    -o-transform: translateY(-2px) rotate(2deg); }
  50% {
    -o-transform: translateY(-9px) rotate(-1deg); } }
@keyframes balloon2 {
  0%,100% {
    transform: translateY(-2px) rotate(2deg); }
  50% {
    transform: translateY(-9px) rotate(-1deg); } }
/* BAllOON 3*/
@-webkit-keyframes balloon3 {
  0%,100% {
    -webkit-transform: translate(0, 5px) rotate(-1deg); }
  50% {
    -webkit-transform: translate(-20px, 5px) rotate(-5deg); } }
@-moz-keyframes balloon3 {
  0%,100% {
    -moz-transform: translate(0, 5px) rotate(-1deg); }
  50% {
    -moz-transform: translate(-20px, 5px) rotate(-5deg); } }
@-o-keyframes balloon3 {
  0%,100% {
    -o-transform: translate(0, 5px) rotate(-1deg); }
  50% {
    -o-transform: translate(-20px, 5px) rotate(-5deg); } }
@keyframes balloon3 {
  0%,100% {
    transform: translate(0, 5px) rotate(-1deg); }
  50% {
    transform: translate(-20px, 5px) rotate(-5deg); } }
/* BAllOON 4*/
@-webkit-keyframes balloon4 {
  0%,100% {
    -webkit-transform: translate(0, 0) rotate(-1deg); }
  50% {
    -webkit-transform: translate(-5px, 15px) rotate(-3deg); } }
@-moz-keyframes balloon4 {
  0%,100% {
    -moz-transform: translate(0, 0) rotate(-1deg); }
  50% {
    -moz-transform: translate(-5px, 15px) rotate(-3deg); } }
@-o-keyframes balloon4 {
  0%,100% {
    -o-transform: translate(0, 0) rotate(-1deg); }
  50% {
    -o-transform: translate(-5px, 15px) rotate(-3deg); } }
@keyframes balloon4 {
  0%,100% {
    transform: translate(0, 0) rotate(-1deg); }
  50% {
    transform: translate(-5px, 15px) rotate(-3deg); } }
/* BAllOON 5*/
@-webkit-keyframes balloon5 {
  0%,100% {
    -webkit-transform: translate(0, 0) rotate(-1deg); }
  50% {
    -webkit-transform: translate(-15px, 20px) rotate(-3deg); } }
@-moz-keyframes balloon5 {
  0%,100% {
    -moz-transform: translate(0, 0) rotate(-1deg); }
  50% {
    -moz-transform: translate(-15px, 20px) rotate(-3deg); } }
@-o-keyframes balloon5 {
  0%,100% {
    -o-transform: translate(0, 0) rotate(-1deg); }
  50% {
    -o-transform: translate(-15px, 20px) rotate(-3deg); } }
@keyframes balloon5 {
  0%,100% {
    transform: translate(0, 0) rotate(-1deg); }
  50% {
    transform: translate(-15px, 20px) rotate(-3deg); } }
/* BAllOON 6*/
@-webkit-keyframes balloon6 {
  0%,100% {
    -webkit-transform: translate(0, 5px) rotate(-1deg); }
  50% {
    -webkit-transform: translate(-20px, 5px) rotate(-5deg); } }
@-moz-keyframes balloon6 {
  0%,100% {
    -moz-transform: translate(0, 5px) rotate(-1deg); }
  50% {
    -moz-transform: translate(-20px, 5px) rotate(-5deg); } }
@-o-keyframes balloon6 {
  0%,100% {
    -o-transform: translate(0, 5px) rotate(-1deg); }
  50% {
    -o-transform: translate(-20px, 5px) rotate(-5deg); } }
@keyframes balloon6 {
  0%,100% {
    transform: translate(0, 5px) rotate(-1deg); }
  50% {
    transform: translate(-20px, 5px) rotate(-5deg); } }
/* BAllOON 7*/
@-webkit-keyframes balloon7 {
  0%,100% {
    -webkit-transform: translate(0, 0) rotate(0); }
  50% {
    -webkit-transform: translate(2px, -2px) rotate(-2deg); } }
@-moz-keyframes balloon7 {
  0%,100% {
    -moz-transform: translate(0, 0) rotate(0); }
  50% {
    -moz-transform: translate(2px, -2px) rotate(-2deg); } }
@-o-keyframes balloon7 {
  0%,100% {
    -o-transform: translate(0, 0) rotate(0); }
  50% {
    -o-transform: translate(2px, -2px) rotate(-2deg); } }
@keyframes balloon7 {
  0%,100% {
    transform: translate(0, 0) rotate(0); }
  50% {
    transform: translate(2px, -2px) rotate(-2deg); } }
.friends__text {
  margin: 0;
  padding: 0; }

.friends__title {
  margin-top: 25px;
  margin-bottom: 50px; }

.friends__subtitle {
  font-size: 1.9rem;
  margin: 40px 0 0 0; }

.friends__text-input ~ .friends__text-input {
  margin-bottom: 60px; }

.friends__slider {
  height: 120px;
  text-align: center; }

.friends__emoji-sprite {
  background-image: url("../assets/emoji-sprite.svg");
  background-repeat: no-repeat;
  background-position: -360px;
  background-size: 900px;
  height: 175px;
  width: 175px;
  margin: auto; }

span {
  display: none; }

.sleep__title {
  margin-top: 0px; }

.sleep__sleeping-lion {
  background-image: url("../assets/lion-sleeping-sprite.svg");
  background-repeat: no-repeat;
  background-position: -664px;
  background-size: 2000px;
  height: 320px;
  width: 330px;
  margin-left: 25px; }
  @media screen and (min-width: 550px) {
    .sleep__sleeping-lion {
      margin-left: 33%; } }

.sleep__slider {
  text-align: center; }

.value {
  display: none; }

.school__text ~ .school__text {
  margin-bottom: 100px; }

.school__title {
  margin-top: 0px; }

.school__subtitle {
  margin: 0;
  font-size: 1.9rem; }

.school__slider {
  margin: 50px 0;
  text-align: center; }

/*# sourceMappingURL=main.css.map */
