body {
  padding: 0;
  font-family: "Montserrat Alternates", sans-serif;
  margin: auto;
  background: radial-gradient(ellipse at center, rgba(56, 185, 242, 0.8) 0%, rgba(57, 138, 187, 0.8) 100%);
  font-size: 1.1rem;
  color: white;
  max-width: 768px;
  height: 100%; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

.welcome, .introduction, .eating, .hobbies, .finish, .feelings, .avatar, .personality, .friends, .sleep, .school, .home, .info {
  position: relative;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  color: white; }

.welcome__text, .introduction__text, .eating__text, .hobbies__text, .finish__text, .feelings__text, .avatar__text, .personality__text, .friends__text, .sleep__text, .school__text, .home__text, .info__text {
  font-size: 1.5rem;
  text-align: center;
  margin: 40px 0; }
  @media screen and (min-width: 768px) {
    .welcome__text, .introduction__text, .eating__text, .hobbies__text, .finish__text, .feelings__text, .avatar__text, .personality__text, .friends__text, .sleep__text, .school__text, .home__text, .info__text {
      padding: 0 25px;
      font-size: 2.2rem; } }

.introduction__text--input {
  width: 80%;
  height: 50px;
  font-size: 2.5rem;
  border: none;
  border-bottom: 6px dotted white;
  background-color: transparent;
  color: #fcf74c;
  text-align: center;
  padding-bottom: 20px; }
  @media screen and (min-width: 768px) {
    .introduction__text--input {
      font-size: 3.9rem; } }
  .introduction__text--input:focus {
    outline: none; }

.friends__range, .sleep__range, .school__range, .home__range {
  -webkit-appearance: none;
  width: 80%;
  margin: 90px 0; }
  .friends__range::-webkit-slider-runnable-track, .sleep__range::-webkit-slider-runnable-track, .school__range::-webkit-slider-runnable-track, .home__range::-webkit-slider-runnable-track {
    width: 300px;
    height: 2px;
    background: transparent; }
  .friends__range:focus, .sleep__range:focus, .school__range:focus, .home__range:focus {
    outline: 0; }
  .friends__range::-webkit-slider-thumb, .sleep__range::-webkit-slider-thumb, .school__range::-webkit-slider-thumb, .home__range::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 40px;
    width: 40px;
    position: relative;
    margin-top: -20px;
    border: none;
    background-image: url(../assets/slider-button.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent; }
    @media screen and (min-width: 768px) {
      .friends__range::-webkit-slider-thumb, .sleep__range::-webkit-slider-thumb, .school__range::-webkit-slider-thumb, .home__range::-webkit-slider-thumb {
        width: 65px;
        height: 65px;
        margin-top: -31px; } }

.buttons {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  max-width: 768px;
  margin: auto; }
  @media screen and (min-width: 768px) and (orientation: portrait) {
    .buttons {
      position: absolute; } }
  @media screen and (min-width: 768px) and (orientation: landscape) {
    .buttons {
      position: relative; } }

.button {
  text-decoration: none;
  padding: 10px 0px;
  color: white;
  font-size: 1.5rem;
  background-color: rgba(57, 138, 187, 0.8);
  text-align: center;
  width: 40%; }

.button--prev {
  float: left; }

.button--next {
  float: right; }

.slider__label {
  position: relative;
  top: -55px;
  font-size: 1rem; }
  @media screen and (min-width: 768px) {
    .slider__label {
      padding: 6px;
      font-size: 1.5rem; } }

.emoji-sprite {
  background-image: url("../assets/emoji-sprite.svg");
  background-repeat: no-repeat;
  background-position: -360px;
  background-size: 900px;
  height: 175px;
  width: 175px;
  margin: 20px auto 0 auto; }
  .emoji-sprite span {
    display: none; }

.slider__labels {
  width: 80%;
  margin: auto; }
  .slider__labels .slider__label {
    top: 40px; }
  .slider__labels .slider__label--good {
    float: right; }
  .slider__labels .slider__label--bad {
    float: left; }

.textarea__container {
  position: relative;
  display: inline-block;
  margin-left: 10px; }

.textarea__label {
  position: absolute;
  font-size: 1.5rem;
  left: 0;
  right: 0; }

.textarea__text {
  width: 300px;
  height: 120px;
  background-color: transparent;
  color: #fcf74c;
  text-align: center;
  padding-bottom: 20px;
  border: 3px dotted white;
  margin-top: 40px;
  font-size: 2rem; }
  .textarea__text:focus {
    outline: none; }

.hide {
  opacity: 0; }

.haloVisible .st6 {
  stroke: #fcf74c;
  stroke-width: 4; }

.welcome + .buttons .button {
  width: 100%; }
  @media screen and (min-width: 768px) {
    .welcome + .buttons .button {
      width: 40%; } }

.welcome__text {
  margin-bottom: 0px; }

.welcome__lion {
  margin: 25px auto;
  width: 400px; }

.welcome__title {
  font-family: "Henny Penny", cursive;
  font-size: 2.5rem;
  margin: 20px auto;
  letter-spacing: 0.35rem;
  line-height: 4.5rem; }
  @media screen and (min-width: 768px) {
    .welcome__title {
      font-size: 4rem; } }

.introduction {
  margin-top: 35px; }
  .introduction .buttons {
    margin-top: 60px; }

.introduction__text {
  margin-top: 15px;
  margin-bottom: 10px; }

.sleeping-lion {
  width: 200px;
  margin: 0 auto 20px auto; }
  @media screen and (min-width: 768px) {
    .sleeping-lion {
      width: 300px; } }

.eating__text {
  margin: 20px; }

@media screen and (min-width: 768px) {
  .eating__title {
    margin-top: 20px; } }

.eating__slider {
  position: relative;
  height: 540px; }
  @media screen and (min-width: 768px) {
    .eating__slider {
      margin-bottom: 60px; } }

.slider__tree {
  background: url("./assets/banana-tree.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 100%; }

.eating__range {
  -webkit-appearance: none;
  width: 450px;
  margin-top: 300px;
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg); }
  @media screen and (min-width: 768px) {
    .eating__range {
      margin-left: 100px; } }
  .eating__range::-webkit-slider-runnable-track {
    width: 300px;
    height: 0.01px;
    background: transparent; }
  .eating__range::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 140px;
    width: 140px;
    border: none;
    background-image: url(./assets/banana.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent; }
  .eating__range:focus {
    outline: none; }

.range-value {
  font-size: 3rem;
  margin-left: 60px; }

span.value {
  display: none; }

.vertical-arrow {
  position: absolute;
  height: 115px;
  left: 48.7%;
  top: 300px; }

.hobbies__pictures {
  margin-top: -120px; }
  @media screen and (min-width: 768px) {
    .hobbies__pictures {
      margin-top: -250px; } }

.finish-background {
  background-image: url(./assets/ticker-tape.svg);
  background-size: 200px;
  background-position: center;
  height: 100vh;
  -webkit-filter: brightness(0.95);
  filter: brightness(0.95); }
  @media screen and (min-width: 768px) and (orientation: landscape) {
    .finish-background {
      height: 100%; } }

.finish + .buttons .button {
  width: 40%; }

.finish__prompt-container {
  color: black;
  font-size: 1.3em;
  text-align: center; }

.finish__lion {
  width: 200px;
  display: block;
  margin: 40px auto; }
  @media screen and (min-width: 768px) {
    .finish__lion {
      width: 300px; } }

.finish__header {
  color: black;
  margin-bottom: 5px; }
  @media screen and (min-width: 768px) {
    .finish__header {
      margin-top: 55px; } }

.finish__email-form {
  font-size: 1.3em;
  color: black; }
  .finish__email-form p {
    margin: 10px; }
  .finish__email-form :focus {
    outline: none; }

.finish__email-input {
  width: 90%;
  height: 30px;
  font-size: 0.45em;
  font-family: "Montserrat Alternates", sans-serif;
  margin: 15px 0;
  text-align: center;
  border: none; }
  @media screen and (min-width: 500px) {
    .finish__email-input {
      width: 500px; } }

.input__label {
  font-size: 1.5rem;
  display: block;
  margin-bottom: -10px; }

.finish__info-icon {
  width: 50px;
  float: right;
  position: relative;
  right: 10px;
  z-index: 2; }

.send-email-button,
.home-button {
  -webkit-appearance: none;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 0.83em;
  margin-top: 20px;
  border: none;
  border-radius: 4px;
  color: black;
  padding: 0 20px;
  height: 65px;
  background-color: #fcf74c;
  cursor: pointer;
  outline: none;
  box-shadow: 0 4px #e87325; }
  .send-email-button:hover,
  .home-button:hover {
    background-color: #fcf74c;
    filter: brightness(97%); }
  .send-email-button:active,
  .home-button:active {
    box-shadow: 0 2px #e87325;
    transform: translateY(2px); }

.home-button {
  text-decoration: none;
  padding: 20px; }

.hidden {
  display: none; }

.loading {
  color: black;
  padding: 10px 0; }

.feelings__title {
  margin-top: 0px;
  margin-bottom: 50px; }

.emoji {
  margin: 5px 25px;
  width: 100px; }
  @media screen and (min-width: 768px) {
    .emoji {
      width: 200px; } }

.feelings__illustration {
  margin: -50px auto 50px auto;
  width: 82%; }

.haloVisible .st6 {
  stroke: #fcf74c; }

.avatar__text {
  margin: 0; }
  @media screen and (min-width: 768px) {
    .avatar__text {
      margin: 40px 0; } }

.avatar__title {
  padding: 0 20px; }

.carousel {
  height: 600px;
  perspective: 200px; }
  @media screen and (min-width: 768px) {
    .carousel {
      margin-bottom: 100px; } }
  .carousel .carousel-item {
    width: 300px;
    top: -200px; }
    @media screen and (min-width: 768px) {
      .carousel .carousel-item {
        width: 400px; } }
  .carousel .indicators {
    bottom: 90px; }
    @media screen and (min-width: 768px) {
      .carousel .indicators {
        bottom: -15px; } }

.personality__title {
  margin-top: 0px; }

.balloons {
  position: relative;
  top: -190px;
  height: 360px; }
  @media screen and (min-width: 768px) {
    .balloons {
      top: -150px;
      height: 830px;
      margin-top: -235px; } }

.pop {
  visibility: hidden; }
  .pop .st2 {
    visibility: visible;
    fill: #fcf74c; }

.friends {
  background-image: url("../assets/friends-background.svg");
  background-repeat: no-repeat;
  background-size: 100%; }

.friends__text {
  margin-bottom: 0; }

.friends__title {
  margin-top: 25px; }

.friends__subtitle {
  font-size: 1.9rem;
  margin: 40px 0 0 0; }

.friends__slider {
  text-align: center;
  margin-top: 40px; }
  .friends__slider .thumb {
    display: none; }

.friends__textarea {
  text-align: center;
  margin-bottom: 40px; }

.sleep {
  background-image: url("../assets/sleep-background.svg");
  background-repeat: no-repeat;
  background-size: 100%; }

.sleep__title {
  margin-top: 25px; }

.sleep__sleeping-lion {
  background-image: url("../assets/lion-sleeping-sprite.svg");
  background-repeat: no-repeat;
  background-position: -993px;
  background-size: 2000px;
  height: 320px;
  width: 330px;
  margin-left: 25px; }
  @media screen and (min-width: 550px) {
    .sleep__sleeping-lion {
      margin-left: 33%; } }

.sleep__slider {
  margin-top: 30px;
  text-align: center; }
  .sleep__slider .value,
  .sleep__slider .thumb {
    display: none; }

.school {
  background-image: url("./assets/school-illustration.svg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: 265px; }
  .school .emoji-sprite {
    margin-top: 45px; }

.school__text {
  margin-bottom: 0; }

.school__title {
  margin-top: 145px;
  margin-bottom: 0; }

.school__subtitle {
  margin: 0;
  font-size: 1.9rem; }

.school__slider {
  text-align: center;
  margin-top: 15px; }
  .school__slider .thumb {
    display: none; }

.school__textarea {
  text-align: center;
  margin-bottom: 40px; }

.checkmark {
  height: 80px;
  background-image: url("../assets/checkmark.svg");
  background-repeat: no-repeat;
  background-position: center; }

.cross {
  height: 80px;
  background-image: url("../assets/cross.svg");
  background-repeat: no-repeat;
  background-position: center; }

.home {
  background-image: url("./assets/home-illustration.svg");
  background-repeat: no-repeat;
  background-position: 50% 30px;
  background-size: 150px 150px; }
  .home .emoji-sprite {
    margin-top: 45px; }

.home__text {
  margin-bottom: 0; }

.home__title {
  margin-top: 145px;
  margin-bottom: 0; }

.home__slider {
  text-align: center;
  margin-top: 15px; }
  .home__slider .thumb {
    display: none; }

.home__textarea {
  text-align: center;
  margin-bottom: 40px; }

.info h1 {
  margin-top: 15px;
  margin-bottom: 10px; }
.info p {
  font-size: 0.9rem;
  margin: 5px;
  color: black; }
.info .info__para {
  font-size: 1.2rem;
  color: white; }
.info .spacing-dots {
  font-size: 1rem;
  color: white; }

.info__text {
  margin-bottom: 5px; }

.info__icon {
  width: 85px;
  margin-top: 25px; }

.info__title {
  color: black;
  font-size: 2.8rem; }

/*# sourceMappingURL=main.css.map */
