<div class="avatar">
  <div class="avatar__text">
    <h2 class="avatar__title">Choose your character</h2>
  </div>

  <svg version="1.1" id="checkmark" class="checkmark" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    viewBox="-284 409.6 25.1 23.3" style="enable-background:new -284 409.6 25.1 23.3;" xml:space="preserve">
    <style type="text/css">
      .st0{fill:none;stroke:#000000;stroke-width:3;stroke-miterlimit:10;}
    </style>
    <path class="st0" d="M-283.1,424.9l8,5.9l15-20.3"/>
  </svg>

  <div class="carousel">
    <a class="carousel-item lion"><img src="assets/lion.svg" alt="Lion"></a>
    <a class="carousel-item bear"><img src="assets/bear.svg" alt="Bear"></a>
    <a class="carousel-item monkey"><img src="assets/monkey.svg" alt="Monkey"></a>
  </div>
</div>
{{> buttons }}
