<div class="avatar">
  <div class="avatar__text">
    <h2 class="avatar__title">Choose your character</h2>
  </div>
  <div class="carousel">
    <a class="carousel-item lion"><img src="assets/lion.svg"></a>
    <a class="carousel-item bear"><img src="assets/bear.svg"></a>
    <a class="carousel-item monkey"><img src="assets/monkey.svg"></a>
  </div>
</div>

<script src="/public/jquery.min.js"></script>
<script src="/public/materialize/js/materialize.min.js"></script>
<script src="/scripts/avatar.js"></script>
