<div class="finish-background">
  <div class="finish">
    <div class="finish__text">
      <h1 class="finish__header">You are finished!</h1>
      <img class="finish__lion" src="" alt="Avatar">

      <svg version="1.1" id="checkmark" class="checkmark hidden" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        viewBox="-284 409.6 25.1 23.3" style="enable-background:new -284 409.6 25.1 23.3;" xml:space="preserve">
        <style type="text/css">
          .st0{fill:none;stroke:#000000;stroke-width:3;stroke-miterlimit:10;}
        </style>
        <path class="st0" d="M-283.1,424.9l8,5.9l15-20.3"/>
      </svg>

      <svg xmlns="http://www.w3.org/2000/svg" id="cross" class="cross hidden" x="0" y="0" viewBox="0 0 23.1 23.1" style="enable-background:new 0 0 23.1 23.1;version:1.1">
        <style type="text/css">
      	.st0{fill:none;stroke:#000000;stroke-width:3;stroke-miterlimit:10;}
        </style>
        <line id="XMLID_1_" class="st0" x1="1.1" y1="1.1" x2="22.1" y2="22.1"/>
        <line id="XMLID_2_" class="st0" x1="1.1" y1="22.1" x2="22.1" y2="1.1"/>
      </svg>

      <div class="finish__prompt-container">
        <p class="finish__prompt">Where should we send <br> your answers?</p>
      </div>

      <div class="loading hidden">
        <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
      </div>

      <form class="finish__email-form">
        <label class="input__label" for="finish-input">Email address</label>
        <input id="finish-input" class="finish__email-input" type="text"
        value="" placeholder="Enter your email address here...">
        <br>
        <input class="send-email-button" type="button" value="Send">
      </form>

      <a class="home-button hidden" href="{{ welcome }}">Start again</a>
    </div>
  </div>
  {{> buttons }}
</div>
