<div class="finish-background">
  <div class="finish">
    <div class="finish__text">
      <h1 class="finish__header">You are finished!</h1>
      <img class="finish__lion" src="assets/lion-no-tail.svg"></img>

      <form class="finish__email-form">
        <span class="finish__prompt-container">
          <p class="finish__prompt">Where should we send <br> your answers?</p>
        </span>
        <input class="finish__email-input" type="text"
        value="" placeholder="Enter your email address here...">
        <br>
        <input class="send-email-button" type="button" value="Send">
      </form>

    </div>
  </div>
  {{> buttons }}
</div>
