<div class="info">
  <div class="info__text">
    <img class="info__icon" src="../assets/info-icon-white.svg">
    <h1 class="info__title">Getting to Know you</h1>

    <p class="spacing-dots">&sdot;</p>
    <p class="info__para">A collaborative initiative between Founders & Coders,<br>
      the Anna Freud Centre, and the CYP IAPT<br>Learning Collaborative</p>

    <p class="spacing-dots">&sdot;</p>
    <p>Acknowldgements:</p>
    <p class="info__para">Thank you to the brillant children and young people<br>
      who gave their time to help create this project.
    </p>

    <p class="spacing-dots">&sdot;</p>
    <p>Product Owner:</p>
    <p class="info__para">Jasmin Patel</p>

    <p class="spacing-dots">&sdot;</p>
    <p>Developers:</p>
    <p class="info__para">Ewelina Skibinska</p>
    <p class="info__para">Peter Rhodes</p>

    <p class="spacing-dots">&sdot;</p>
    <p>Project Support:</p>
    <p class="info__para">Noga Inbar - UX/UI</p>
    <p class="info__para">Bradley Reeder - Scrum Master</p>
    <p class="info__para">Eoin McCarthy - Code Review & QA</p>

    <p class="spacing-dots">&sdot;</p>
    <p>Feedback</p>
    <p class="info__para">Please send any feedback to <br> jasminpatel@live.co.uk.</p>
  </div>
  <br>
</div>
{{> buttons }}
