  <div class="introduction">
    <img class="sleeping-lion" src="assets/lion.svg" alt="Sleeping Lion" />
    <div class="introduction__text">
      <p>What is your name?<p>
        <input class="introduction__text--input name" type="text" autofocus="">
    </div>
    <div class="introduction__text">
      <p>How old are you?<p>
        <input class="introduction__text--input age" type="text" autofocus="">
    </div>
  </div>
  {{> buttons }}
