<div class="welcome">
  <div class="welcome__text">
    <h1 class="welcome__title">GETTING TO<br>KNOW YOU</h1>
  </div>

  <div class="welcome__lion">
    <?xml version="1.0" encoding="utf-8"?>
    <svg version="1.1" id="lion" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    	 viewBox="-178 281.1 239 279.8" style="enable-background:new -178 281.1 239 279.8;" xml:space="preserve">
    <style type="text/css">
    	.st0{fill:none;stroke:#FBE90C;stroke-width:9;stroke-linecap:round;stroke-miterlimit:10;}
    	.st1{clip-path:url(#SVGID_2_);fill:none;stroke:#ECAD20;stroke-width:9;stroke-linecap:round;stroke-miterlimit:10;}
    	.st2{fill:#FFC900;}
    	.st3{fill:#FCF74C;}
    	.st4{fill:none;}
    	.st5{opacity:0.4;}
    	.st6{fill:#E67326;}
    	.st7{opacity:0.4;fill:#FFC900;enable-background:new    ;}
    	.st8{fill:none;stroke:#FFFFFF;stroke-miterlimit:10;}
    	.st9{fill:#010101;}
    	.st10{opacity:0.1091;fill:#E87325;enable-background:new    ;}
    	.st11{fill:none;stroke:#010101;stroke-width:4;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    </style>
    <g id="lion-tail">
    	<path id="XMLID_76_" class="st0" d="M7.8,308.7c-20.5,33,58.8,25.2,31.9,67.1"/>
    	<g id="XMLID_72_">
    		<g id="XMLID_73_">
    			<g>
    				<g>
    					<g>
    						<g>
    							<g>
    								<defs>
    									<path id="SVGID_1_" d="M21.1,283.7l-3.6,7.3l-0.9-4.6c-1.5,1-2,1.5-3.4,2.8C4.3,297.7,4,307,6.6,309.7
    										c3.9,4.1,13.3,1.6,20.8-5.6s10.5-16.4,6.6-20.5C31.4,280.9,26.4,281.1,21.1,283.7L21.1,283.7z"/>
    								</defs>
    								<clipPath id="SVGID_2_">
    									<use xlink:href="#SVGID_1_"  style="overflow:visible;"/>
    								</clipPath>
    								<path id="XMLID_74_" class="st1" d="M8,308.5c-25.8,27.8,55.1,34.4,31.9,67.1"/>
    							</g>
    						</g>
    					</g>
    				</g>
    			</g>
    		</g>
    	</g>
    	<g id="XMLID_70_">
    		<path id="XMLID_71_" class="st2" d="M21.8,283.1l-3.6,7.3l-0.9-4.6c-1.5,1-2,1.5-3.4,2.8c-7.6,7.2-10.5,16.4-6.6,20.5
    			s13.3,1.6,20.8-5.6c7.6-7.2,10.5-16.4,6.6-20.5C32.2,280.3,27.1,280.5,21.8,283.1L21.8,283.1z"/>
    	</g>
    </g>
    <g id="lion-body">
    	<g id="XMLID_20_">
    		<path id="XMLID_21_" class="st3" d="M35.3,515l4.2-5.6C53,490.1,61,466.7,61,442.2c0-2.5,0-5-0.1-7.5l-29,1.5l28.7-6.8
    			c-3.3-47-25.6-86.8-77.4-99l0,0l-12.5,26.5l4.3-30.3l0,0c-10-1.7-25.9-1.2-38-0.8c-54.4,1.6-99.1,35.7-113.5,83.5l0,0l32.5,9.7
    			h-31.6c-1.6,7.5-2.4,15.3-2.4,23.3c0,63.9,22.7,109.6,119.5,115.7C-20.5,560.2,13.4,542.6,35.3,515L35.3,515"/>
    	</g>
    	<line id="XMLID_67_" class="st4" x1="-126.1" y1="560.9" x2="-113.4" y2="560.9"/>
    	<g id="XMLID_65_" class="st5">
    		<path id="XMLID_66_" class="st2" d="M-97.7,555.8h-48.1c-1.5,0-2.7-1.3-2.6-2.7c1.1-17.4,12.6-31.7,26.6-30.9
    			c17.7,1,25.9,13.7,26.6,31C-95,554.5-96.2,555.8-97.7,555.8z"/>
    	</g>
    	<g id="XMLID_63_">
    		<path id="XMLID_64_" class="st2" d="M-98.4,557.7h-48.1c-1.5,0-2.7-1.3-2.6-2.7c1.1-17.4,12.6-31.7,26.6-30.9
    			c17.7,1,25.9,13.7,26.6,31C-95.7,556.5-96.9,557.7-98.4,557.7z"/>
    	</g>
    	<path id="XMLID_62_" class="st6" d="M-143.1,557.8c0-4.8,2.9-8.8,6.4-8.8s6.4,3.9,6.4,8.8"/>
    	<path id="XMLID_61_" class="st6" d="M-128.3,557.8c0-4.8,2.9-8.8,6.4-8.8s6.4,3.9,6.4,8.8"/>
    	<path id="XMLID_60_" class="st6" d="M-113.6,557.8c0-4.8,2.9-8.8,6.4-8.8s6.4,3.9,6.4,8.8"/>
    	<g id="XMLID_58_" class="st5">
    		<path id="XMLID_59_" class="st2" d="M-17.1,555.8H31c1.5,0,2.7-1.3,2.6-2.7C32.5,535.7,21,521.4,7,522.2
    			c-17.7,1-25.9,13.7-26.6,31C-19.8,554.5-18.6,555.8-17.1,555.8z"/>
    	</g>
    	<g id="XMLID_56_">
    		<path id="XMLID_57_" class="st2" d="M-16.8,557.7h48.1c1.5,0,2.7-1.3,2.6-2.7c-1.1-17.4-12.6-31.7-26.6-30.9
    			c-17.7,1-25.9,13.7-26.6,31C-19.5,556.5-18.3,557.7-16.8,557.7z"/>
    	</g>
    	<path id="XMLID_55_" class="st6" d="M27.9,557.8c0-4.8-2.9-8.8-6.4-8.8s-6.4,3.9-6.4,8.8"/>
    	<path id="XMLID_54_" class="st6" d="M13,557.8c0-4.8-2.9-8.8-6.4-8.8s-6.4,3.9-6.4,8.8"/>
    	<path id="XMLID_53_" class="st6" d="M-1.6,557.8c0-4.8-2.9-8.8-6.4-8.8s-6.4,3.9-6.4,8.8"/>
    </g>
    <g id="lion-head_2_">
    	<g id="lion-head_1_">
    		<path class="st2" d="M2.8,469.1C2.6,509.2-24.8,545-57.1,545s-58.8-34.2-59.5-74.3c-0.7-40.9-10.4-70.8,59.5-70.8
    			C8.8,399.9,3.1,427.7,2.8,469.1z"/>
    		<path class="st7" d="M2.7,473.1C2.5,513.2-24.9,549-57.2,549s-58.8-34.2-59.5-74.3c-0.7-40.9-10.4-70.8,59.5-70.8
    			C8.6,403.9,2.9,431.7,2.7,473.1z"/>
    		<g id="lion-head">
    			<path class="st8" d="M-154,457.5"/>
    			<g>
    				<circle id="XMLID_2_" class="st9" cx="-82.4" cy="472.7" r="4.1"/>
    				<circle id="XMLID_1_" class="st9" cx="-34.9" cy="472.7" r="4.1"/>
    				<g>
    					<g>
    						<g>
    							<path class="st10" d="M-26.6,488.8c17.7-2,35.5-4.1,53.2-6c0.4,0-0.6-0.9-0.9-0.8c-17.7,1.8-35.4,4-53.1,6
    								C-27.7,488-26.9,488.8-26.6,488.8z"/>
    							<path class="st10" d="M-26.4,488.1c17.7-2,35.5-4,53.3-6c0.4,0,0-0.6-0.2-0.6c-17.8,2-35.5,4-53.3,6
    								C-27,487.6-26.6,488.1-26.4,488.1z"/>
    							<path class="st10" d="M-26.1,488.7c17.7-2,35.5-4,53.2-6c0.3,0-0.6-0.9-1-0.9c-17.7,1.8-35.4,4-53.1,5.9
    								C-27.4,487.8-26.4,488.7-26.1,488.7z"/>
    							<path class="st10" d="M-25.5,489.4c17.8-2,35.5-4,53.3-6c0.4,0-0.4-0.6-0.3-0.6c-0.3-0.2-1.1-1-1.6-1
    								c-17.7,1.7-35.4,4-53.1,5.9c-0.4,0,0.3,0.6,0.3,0.6C-26.7,488.6-25.9,489.4-25.5,489.4z"/>
    							<path class="st10" d="M-25.5,488.7c17.7-2,35.5-4,53.2-6c0.3,0-0.9-1.2-1.3-1.1c-17.7,1.8-35.4,4-53.1,5.9
    								C-27,487.6-25.9,488.8-25.5,488.7z"/>
    							<path class="st10" d="M-27.2,487.8c17.8-2,35.6-4,53.3-6c0.1,0,0.3-0.4,0.1-0.3c-17.7,2-35.5,4-53.2,6
    								C-27.1,487.5-27.3,487.8-27.2,487.8z"/>
    							<path class="st10" d="M-27,488.6c17.7-2,35.5-4,53.3-6c0.4,0-0.2-0.7-0.5-0.6c-17.8,2-35.5,4-53.3,6
    								C-27.9,488-27.2,488.7-27,488.6z"/>
    							<path class="st10" d="M-26.5,489.5c17.7-2,35.5-4.1,53.2-6c0.3,0-1.1-1.4-1.5-1.3c-17.7,1.7-35.4,4-53.1,5.9
    								C-28.3,488.1-26.9,489.5-26.5,489.5z"/>
    							<path class="st10" d="M-25.6,488c17.7-2,35.4-4,53.2-6c0.5-0.1-0.1-0.7-0.3-0.7c-17.8,2-35.6,4-53.4,6
    								C-26.5,487.4-25.8,488-25.6,488z"/>
    							<path class="st10" d="M-27,489.2c17.7-2,35.5-4.1,53.2-6c0.3,0-0.7-1-1-0.9c-17.7,1.8-35.4,4-53.1,5.9
    								C-28.3,488.2-27.3,489.2-27,489.2z"/>
    							<path class="st10" d="M-26.1,487.6c17.8-2,35.5-4,53.3-6c0.3,0,0.2-0.5-0.1-0.5c-17.8,2-35.5,4-53.3,6
    								C-26.5,487.2-26.4,487.6-26.1,487.6z"/>
    							<path class="st10" d="M-27.4,488.2c17.8-2,35.5-4,53.3-6c0.3,0,0.2-0.5,0-0.4c-17.8,2-35.5,4-53.3,6
    								C-27.7,487.8-27.7,488.2-27.4,488.2z"/>
    						</g>
    					</g>
    				</g>
    				<g>
    					<g>
    						<g>
    							<path class="st10" d="M-24.4,495.8c12,0,24,0,36,0c0.4,0-0.4-0.9-0.7-0.9c-12,0-24,0-36,0C-25.4,494.9-24.7,495.8-24.4,495.8
    								z"/>
    							<path class="st10" d="M-24.2,495.1c12,0,24,0,36.1,0c0.4,0,0.1-0.6-0.1-0.6c-12,0-24,0-36.1,0
    								C-24.7,494.5-24.4,495.1-24.2,495.1z"/>
    							<path class="st10" d="M-23.9,495.7c12,0,24,0,36.1,0c0.4,0-0.5-1-0.8-1c-12,0-24,0-36,0C-25,494.7-24.2,495.7-23.9,495.7z"/>
    							<path class="st10" d="M-23.3,496.4c12,0,24,0,36.1,0c0.4,0-0.3-0.6-0.3-0.6c-0.2-0.3-1-1.2-1.4-1.2c-12,0-24,0-36,0
    								c-0.4,0,0.2,0.6,0.2,0.6C-24.4,495.5-23.7,496.4-23.3,496.4z"/>
    							<path class="st10" d="M-23.3,495.8c12,0,24,0,36.1,0c0.3,0-0.7-1.3-1.1-1.3c-12,0-24,0-36,0
    								C-24.6,494.5-23.6,495.8-23.3,495.8z"/>
    							<path class="st10" d="M-24.9,494.8c12,0,24.1,0,36.1,0c0.1,0,0.4-0.3,0.1-0.3c-12,0-24.1,0-36.1,0
    								C-24.9,494.5-25.1,494.8-24.9,494.8z"/>
    							<path class="st10" d="M-24.8,495.7c12,0,24,0,36.1,0c0.4,0-0.2-0.7-0.4-0.7c-12,0-24,0-36.1,0C-25.6,495-25,495.7-24.8,495.7
    								z"/>
    							<path class="st10" d="M-24.3,496.5c12,0,24,0,36.1,0c0.3,0-1-1.6-1.4-1.6c-12,0-24,0-36,0C-25.9,494.9-24.7,496.5-24.3,496.5
    								z"/>
    							<path class="st10" d="M-23.5,495c12,0,24,0,36.1,0c0.5,0,0-0.7-0.2-0.7c-12,0-24,0-36.1,0C-24.2,494.4-23.7,495-23.5,495z"/>
    							<path class="st10" d="M-24.7,496.2c12,0,24,0,36,0c0.4,0-0.6-1.1-0.9-1.1c-12,0-24,0-36,0C-26,495.1-25,496.2-24.7,496.2z"/>
    							<path class="st10" d="M-23.9,494.6c12,0,24.1,0,36.1,0c0.3,0,0.3-0.4,0-0.4c-12,0-24.1,0-36.1,0
    								C-24.1,494.2-24.2,494.6-23.9,494.6z"/>
    							<path class="st10" d="M-25.2,495.2c12,0,24.1,0,36.1,0c0.3,0,0.3-0.5,0-0.5c-12,0-24.1,0-36.1,0
    								C-25.5,494.8-25.5,495.2-25.2,495.2z"/>
    						</g>
    					</g>
    				</g>
    				<g>
    					<g>
    						<g>
    							<path class="st10" d="M-30.9,500.4c13.7,3.4,27.5,6.7,41.2,10.3c0.3,0.1-0.3-1.1-0.6-1.2c-6.7-2-13.7-3.5-20.5-5.2
    								c-6.9-1.7-13.7-3.4-20.6-5.2C-31.7,499.1-31.2,500.4-30.9,500.4z"/>
    							<path class="st10" d="M-30.7,499.7c13.8,3.4,27.5,6.9,41.3,10.3c0.4,0.1,0.3-0.5,0-0.6c-13.8-3.4-27.5-6.9-41.3-10.3
    								C-31.1,499-31,499.6-30.7,499.7z"/>
    							<path class="st10" d="M-30.4,500.3c13.7,3.4,27.5,6.7,41.2,10.3c0.3,0.1-0.4-1.1-0.7-1.2c-6.7-2-13.7-3.5-20.5-5.2
    								c-6.9-1.7-13.7-3.4-20.6-5.2C-31.3,499-30.7,500.2-30.4,500.3z"/>
    							<path class="st10" d="M-29.8,501c13.8,3.4,27.6,6.8,41.3,10.3c0.4,0.1-0.2-0.7-0.2-0.7c-0.2-0.4-0.7-1.3-1.2-1.5
    								c-2.1-0.7-4.2-1.2-6.3-1.7c-4.7-1.2-9.4-2.4-14.2-3.5c-6.9-1.7-13.7-3.4-20.6-5.2c-0.4-0.1,0.1,0.7,0.1,0.7
    								C-30.7,499.8-30.2,500.9-29.8,501z"/>
    							<path class="st10" d="M-29.8,500.3c13.7,3.4,27.6,6.7,41.3,10.3c0.3,0.1-0.5-1.3-0.9-1.4c-2.1-0.7-4.2-1.1-6.3-1.7
    								c-4.7-1.2-9.4-2.4-14.2-3.5c-6.9-1.7-13.7-3.4-20.6-5.2C-30.8,498.8-30.2,500.3-29.8,500.3z"/>
    							<path class="st10" d="M-31.4,499.4c13.8,3.5,27.6,6.9,41.3,10.3c0.1,0,0.4-0.3,0.2-0.3c-13.8-3.4-27.6-6.9-41.3-10.3
    								C-31.4,499-31.7,499.3-31.4,499.4z"/>
    							<path class="st10" d="M-31.3,500.3c13.8,3.5,27.5,6.9,41.3,10.3c0.4,0.1-0.1-0.8-0.3-0.9c-13.8-3.4-27.5-6.9-41.3-10.3
    								C-32,499.3-31.6,500.2-31.3,500.3z"/>
    							<path class="st10" d="M-30.7,501.2c13.8,3.4,27.6,6.7,41.3,10.3c0.4,0.1-0.1-0.7-0.1-0.7c-0.2-0.4-0.7-1.2-1.1-1.4
    								c-2.1-0.7-4.2-1.2-6.3-1.7c-4.7-1.2-9.4-2.4-14.2-3.5c-6.9-1.7-13.7-3.4-20.6-5.2c-0.4-0.1,0,0.6,0.1,0.7
    								C-31.6,500-31.1,501.1-30.7,501.2z"/>
    							<path class="st10" d="M-30,499.6c13.8,3.4,27.5,6.9,41.3,10.3c0.4,0.1,0.2-0.6,0-0.6c-13.8-3.4-27.5-6.9-41.3-10.3
    								C-30.5,498.8-30.3,499.5-30,499.6z"/>
    							<path class="st10" d="M-31.2,500.8c13.7,3.4,27.6,6.7,41.2,10.3c0.3,0.1-0.5-1.4-0.9-1.5c-2.1-0.7-4.2-1.1-6.3-1.7
    								c-4.7-1.2-9.4-2.4-14.2-3.5c-6.9-1.7-13.7-3.4-20.6-5.2C-32.2,499.2-31.6,500.7-31.2,500.8z"/>
    							<path class="st10" d="M-30.5,499.2c13.8,3.5,27.6,6.9,41.3,10.3c0.2,0,0.4-0.3,0.2-0.4c-13.8-3.4-27.6-6.9-41.3-10.3
    								C-30.5,498.8-30.7,499.1-30.5,499.2z"/>
    							<path class="st10" d="M-31.7,499.8c13.8,3.4,27.5,6.9,41.3,10.3c0.3,0.1,0.3-0.5,0.1-0.5c-13.8-3.4-27.5-6.9-41.3-10.3
    								C-32,499.2-31.9,499.8-31.7,499.8z"/>
    						</g>
    					</g>
    				</g>
    				<g>
    					<g>
    						<g>
    							<path class="st10" d="M-90.2,486.5c-12.7-3.2-25.5-6.4-38.2-9.7c-0.4-0.1,0.1,0.9,0.4,0.9c12.7,3.2,25.4,6.4,38.1,9.7
    								C-89.5,487.5-89.9,486.6-90.2,486.5z"/>
    							<path class="st10" d="M-90,485.6c-12.7-3.2-25.5-6.4-38.2-9.7c-0.4-0.1,0.1,0.9,0.4,0.9c12.7,3.2,25.4,6.4,38.2,9.7
    								C-89.3,486.6-89.8,485.7-90,485.6z"/>
    							<path class="st10" d="M-89.8,486.3c-12.7-3.2-25.5-6.4-38.2-9.7c-0.4-0.1,0,0.8,0.3,0.8c12.7,3.2,25.5,6.4,38.2,9.7
    								C-89.1,487.2-89.5,486.4-89.8,486.3z"/>
    							<path class="st10" d="M-89.1,487.1c-12.7-3.2-25.5-6.4-38.2-9.6c-0.4-0.1-0.2,0.6,0,0.6c12.7,3.2,25.5,6.4,38.2,9.6
    								C-88.6,487.8-88.8,487.1-89.1,487.1z"/>
    							<path class="st10" d="M-89.1,486.4c-12.7-3.2-25.5-6.4-38.2-9.6c-0.4-0.1-0.2,0.6,0,0.7c12.7,3.2,25.5,6.4,38.2,9.7
    								C-88.6,487.2-88.8,486.5-89.1,486.4z"/>
    							<path class="st10" d="M-90.7,485.3c-12.7-3.2-25.5-6.4-38.2-9.7c-0.3-0.1,0.3,1.1,0.6,1.1c12.7,3.3,25.4,6.4,38.1,9.7
    								C-89.9,486.6-90.4,485.4-90.7,485.3z"/>
    							<path class="st10" d="M-90.7,486.3c-12.7-3.2-25.4-6.4-38.1-9.7c-0.3-0.1,0.2,1,0.5,1.1c12.7,3.3,25.4,6.4,38.1,9.7
    								C-89.9,487.4-90.4,486.3-90.7,486.3z"/>
    							<path class="st10" d="M-90,487.3c-12.7-3.2-25.5-6.5-38.2-9.7c-0.4-0.1,0.1,0.8,0.3,0.9c12.7,3.2,25.5,6.4,38.2,9.7
    								C-89.3,488.3-89.7,487.4-90,487.3z"/>
    							<path class="st10" d="M-89.4,485.4c-12.7-3.2-25.5-6.4-38.2-9.6c-0.4-0.1,0,0.7,0.2,0.8c12.7,3.2,25.5,6.4,38.2,9.7
    								C-88.8,486.3-89.2,485.5-89.4,485.4z"/>
    							<path class="st10" d="M-90.5,487c-12.7-3.3-25.5-6.4-38.2-9.7c-0.3-0.1,0.2,0.9,0.4,1c12.7,3.3,25.4,6.4,38.1,9.7
    								C-89.7,488.1-90.2,487.1-90.5,487z"/>
    							<path class="st10" d="M-89.8,485c-12.7-3.2-25.5-6.4-38.2-9.7c-0.4-0.1,0.1,0.8,0.3,0.9c12.7,3.2,25.5,6.4,38.2,9.7
    								C-89.1,486-89.5,485.1-89.8,485z"/>
    							<path class="st10" d="M-91,485.8c-12.7-3.2-25.5-6.4-38.2-9.7c-0.3-0.1,0.3,1.1,0.6,1.2c12.7,3.3,25.4,6.4,38.1,9.7
    								C-90.1,487.1-90.7,485.9-91,485.8z"/>
    						</g>
    					</g>
    				</g>
    				<g>
    					<g>
    						<g>
    							<path class="st10" d="M-93.5,492.8c-16.9-1.9-33.8-3.6-50.7-5.4c-0.4,0,0.3,0.9,0.5,0.9c16.9,1.8,33.7,3.5,50.6,5.4
    								C-92.7,493.8-93.3,492.9-93.5,492.8z"/>
    							<path class="st10" d="M-93.4,491.9c-16.9-1.8-33.8-3.6-50.6-5.3c-0.4,0,0.2,0.8,0.5,0.8c16.9,1.8,33.8,3.5,50.6,5.3
    								C-92.6,492.8-93.1,491.9-93.4,491.9z"/>
    							<path class="st10" d="M-93.1,492.6c-16.9-1.8-33.8-3.5-50.7-5.3c-0.4,0,0.1,0.7,0.4,0.8c16.9,1.8,33.8,3.6,50.7,5.3
    								C-92.4,493.4-92.9,492.6-93.1,492.6z"/>
    							<path class="st10" d="M-92.4,493.4c-16.9-1.7-33.8-3.5-50.6-5.3c-0.4,0-0.2,0.6,0.1,0.6c16.9,1.8,33.8,3.6,50.6,5.3
    								C-91.9,494-92.2,493.4-92.4,493.4z"/>
    							<path class="st10" d="M-92.4,492.7c-16.9-1.7-33.8-3.5-50.6-5.3c-0.4,0-0.2,0.6,0.1,0.6c16.9,1.8,33.8,3.6,50.6,5.3
    								C-91.9,493.4-92.2,492.7-92.4,492.7z"/>
    							<path class="st10" d="M-94.1,491.7c-16.9-1.8-33.8-3.4-50.6-5.3c-0.3,0,0.4,1,0.8,1c8.4,1.2,16.8,1.8,25.2,2.7
    								c8.4,0.9,16.9,1.8,25.3,2.7C-93.1,492.8-93.8,491.7-94.1,491.7z"/>
    							<path class="st10" d="M-94,492.6c-16.9-1.8-33.7-3.4-50.6-5.3c-0.3,0,0.4,1,0.7,1c8.4,1.2,16.8,1.8,25.2,2.7
    								c8.4,0.9,16.8,1.8,25.3,2.7C-93,493.7-93.7,492.6-94,492.6z"/>
    							<path class="st10" d="M-93.3,493.6c-16.9-1.8-33.8-3.6-50.6-5.3c-0.4,0,0.2,0.8,0.5,0.8c16.9,1.8,33.7,3.5,50.6,5.4
    								C-92.5,494.5-93.1,493.6-93.3,493.6z"/>
    							<path class="st10" d="M-92.7,491.8c-16.9-1.8-33.8-3.5-50.6-5.3c-0.5,0-0.1,0.6,0.1,0.7c16.9,1.8,33.8,3.6,50.7,5.3
    								C-92.1,492.5-92.4,491.8-92.7,491.8z"/>
    							<path class="st10" d="M-93.8,493.3c-16.9-1.8-33.7-3.4-50.6-5.3c-0.4,0,0.3,0.9,0.6,0.9c16.8,2.1,33.7,3.6,50.5,5.4
    								C-92.9,494.3-93.5,493.3-93.8,493.3z"/>
    							<path class="st10" d="M-93.2,491.4c-16.9-1.8-33.8-3.5-50.7-5.3c-0.4,0,0.1,0.8,0.4,0.8c16.9,1.8,33.8,3.6,50.7,5.3
    								C-92.4,492.2-92.9,491.4-93.2,491.4z"/>
    							<path class="st10" d="M-94.3,492.1c-16.9-1.8-33.8-3.3-50.6-5.4c-0.3,0,0.6,1.1,0.9,1.1c2.6,0.4,5.1,0.6,7.7,0.9
    								c5.8,0.6,11.6,1.2,17.4,1.8c8.4,0.9,16.9,1.8,25.3,2.7C-93.3,493.3-94,492.1-94.3,492.1z"/>
    						</g>
    					</g>
    				</g>
    				<g>
    					<g>
    						<g>
    							<path class="st10" d="M-88.3,497.8c-12.3,3.4-24.6,6.9-36.9,10.3c-0.3,0.1,0.6,0.7,0.9,0.7c12.3-3.4,24.5-6.9,36.8-10.3
    								C-87.1,498.4-88,497.8-88.3,497.8z"/>
    							<path class="st10" d="M-88.2,497c-12.3,3.4-24.6,6.9-36.9,10.3c-0.4,0.1,0.4,0.7,0.6,0.6c12.3-3.4,24.6-6.9,36.9-10.3
    								C-87.2,497.5-88,496.9-88.2,497z"/>
    							<path class="st10" d="M-87.9,497.7c-12.3,3.5-24.6,6.9-36.9,10.3c-0.4,0.1,0.4,0.6,0.6,0.6c12.3-3.4,24.6-6.9,36.9-10.3
    								C-86.9,498.1-87.6,497.6-87.9,497.7z"/>
    							<path class="st10" d="M-87.1,498.3c-12.3,3.5-24.6,6.9-36.9,10.4c-0.4,0.1,0.1,0.6,0.3,0.5c12.3-3.4,24.6-6.9,36.9-10.3
    								C-86.4,498.8-86.9,498.3-87.1,498.3z"/>
    							<path class="st10" d="M-87.1,497.7c-12.3,3.5-24.6,6.9-36.9,10.3c-0.4,0.1,0,0.6,0.2,0.5c12.3-3.4,24.6-6.9,36.9-10.3
    								C-86.5,498.1-86.9,497.6-87.1,497.7z"/>
    							<path class="st10" d="M-88.9,496.7c-12.3,3.4-24.6,6.9-36.9,10.3c-0.3,0.1,0.7,0.8,1,0.7c12.3-3.4,24.5-6.9,36.8-10.3
    								C-87.6,497.4-88.6,496.7-88.9,496.7z"/>
    							<path class="st10" d="M-88.8,497.6c-12.3,3.4-24.6,6.9-36.9,10.3c-0.3,0.1,0.8,0.8,1.1,0.8c12.3-3.3,24.5-6.8,36.8-10.3
    								C-87.4,498.3-88.5,497.5-88.8,497.6z"/>
    							<path class="st10" d="M-88,498.6c-12.3,3.4-24.6,6.9-36.9,10.3c-0.3,0.1,0.7,0.7,0.9,0.7c12.3-3.3,24.5-6.9,36.8-10.3
    								C-86.8,499.2-87.7,498.5-88,498.6z"/>
    							<path class="st10" d="M-87.4,496.9c-12.3,3.4-24.6,6.9-36.9,10.3c-0.3,0.1,0,0.6,0.2,0.5c12.3-3.4,24.6-6.9,36.9-10.3
    								C-86.8,497.3-87.1,496.8-87.4,496.9z"/>
    							<path class="st10" d="M-88.5,498.3c-12.3,3.4-24.6,6.9-36.9,10.3c-0.3,0.1,0.8,0.8,1.1,0.7c12.3-3.3,24.5-6.8,36.8-10.3
    								C-87.1,499-88.2,498.2-88.5,498.3z"/>
    							<path class="st10" d="M-87.8,496.5c-12.3,3.5-24.6,6.9-36.9,10.3c-0.4,0.1,0.1,0.6,0.3,0.5c12.3-3.4,24.6-6.9,36.9-10.3
    								C-87.1,496.9-87.6,496.4-87.8,496.5z"/>
    							<path class="st10" d="M-89.1,497.2c-12.3,3.4-24.6,6.9-36.9,10.3c-0.3,0.1,0.9,0.9,1.3,0.8c12.3-3.3,24.5-6.8,36.8-10.3
    								C-87.6,497.9-88.8,497.1-89.1,497.2z"/>
    						</g>
    					</g>
    				</g>
    				<path id="XMLID_6_" class="st11" d="M-57.8,526.2v-23.9"/>
    				<path class="st11" d="M-39.4,515.2c-2.8,6.6-10,11.2-18.4,11.2c-8.3,0-15.4-4.5-18.3-10.9"/>
    				<g>
    					<path class="st9" d="M-70.6,490.8H-45c2.2,0,3.2,2.7,1.6,4.2l-12.8,11.8c-0.9,0.8-2.3,0.8-3.3,0L-72.3,495
    						C-73.8,493.5-72.8,490.8-70.6,490.8z"/>
    				</g>
    			</g>
    		</g>
    		<path id="XMLID_5_" class="st2" d="M-70.8,434.9L-88,407.1c-6.5-11-14.4-17.6-27.2-10.1c-12.5,7.3-11.2,17.6-3.8,29.3l16.8,27.8
    			L-70.8,434.9z"/>
    	</g>
    	<path id="XMLID_3_" class="st2" d="M-14.1,454.4l16.8-27.8c7.4-11.8,8.6-22-3.8-29.3c-12.9-7.5-20.8-0.9-27.2,10.1l-17.2,27.8
    		L-14.1,454.4z"/>
    </g>
    </svg>

  </div>

  <p class="welcome__text">
    We would like to get to know you better. Click next to get started.
  </p>

  {{> buttons }}
</div>
