<div class="welcome">
  <div class="welcome__text">
    <h1 class="welcome__title">GETTING TO<br>KNOW YOU</h1>
  </div>
  <img class="welcome__image" src="./assets/animated-lion.svg" alt="Cute lion">
  <p class="welcome__text">
    We would like to get to know you better. Click next to get started.
  </p>

  {{> buttons }}
</div>
